<% message_type = @conversation.messages.where(type: "UserMessage").recent[1].try(:user) == (current_user || nil) ? 'sender' : 'recipient' %>
<div id="message_<%= @message.id %>" class="<%= @message.user === current_user ? 'p-article-messege__sender' : 'p-article-messege__recipient'%>">
  <% unless message_type == (@message.user == current_user ? 'sender' : 'recipient') %>
    <div class="p-article-owner" style="margin-top:10px;margin-bottom:0px;">
      <%= link_to user_path(@message.user), class: "c-user-name" do %>
        <%= image_tag(object_image(@message.user), size: "44x44") %>
        <h4>
          <%= @message.user.name %>
          <span><%= time_ago_in_words(@message.created_at) %></span>
        </h4>
      <% end %>
    </div>
  <% end %>
  <div class="p-article-desc" style="margin-top:10px;margin-bottom:0px;">
    <%= auto_link(change_br(@message.text)) %>
  </div>
</div>
