<div dir="ltr">

  <div style="margin:0;padding:50px;background-color:#f2f2f2;min-height:100%!important;width:100%!important">
    <center>

      <table style="width:580px;">
        <tbody>
          <tr>
            <td style="background: #FFF; padding:0;">
              <%= image_tag 'logo_notification.jpg', size: '580x140', alt: 'STYLER' %>
              <h1 style="font:24px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.4; text-align:center; margin:50px 0 35px;">
                フィードバックが届きました
              </h1>
              <div style="text-align:center;">
                <%= image_tag @feedback.user.image.try(:url), size: '100x100',  alt: "#{@feedback.user.name}さんの写真", style: "border-radius:50px; overflow:hidden;" %>
              </div>
              <p style="font:16px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#717171; line-height:1.5; text-align:center; margin:50px 0 35px;">
                <span style="font-weight:bold;"><%= @feedback.user.name %></span>さんがフィードバックしました
              </p>
              <div style="background: #f7f7f7; padding: 30px 35px 40px; margin: 0 100px;">
                <p style="font:16px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.5; text-align:left; margin:10px 15px 30px;"><%= @feedback.user.name %>さんがあなたのReplyに対して「<%= Settings.feedback[@feedback.rate] %>」と言っています！</p>
                <%= link_to 'フィードバックされたReplyをみる', reply_url(@feedback.reply), style: "display:block; height:60px; font:16px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color: #FFF;line-height:60px; background: #000; border-radius:8px; text-decoration:none; text-align:center;" %>
              </div>
              <p style="font:14px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#717171; line-height:1.5; text-align:center; margin:40px 0 30px;">
                通知メールの配信設定は、<br>ログイン後<%= link_to 'こちら', mail_setting_users_url, style: "color:#27beff; text-decoration:none;" %>から変更をお願いいたします。
              </p>
              <div style="text-align:center; margin: 0 0 20px;">
                <a href="https://itunes.apple.com/jp/app/styler-shopputotsunagarufasshonsns/id1046383620?l=en&mt=8"><%= image_tag "btn-app-dl.png", size: '135x40', alt:"AppStoreボタン" %></a>
              </div>
              <div style="text-align:center; margin: 0 0 100px;">
                <a href="https://www.facebook.com/styler.link/"><%= image_tag "icon-facebook_gray.png", size:'32x32', alt:"FACEBOOK" %></a>
                <a href="https://www.instagram.com/styler.link/"><%= image_tag "icon-instagram_gray.png", size:'32x32', alt:"INSTAGRAM" %></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </center>
  </div>

</div>
