<%= @feedback.user.name %>さんがあなたのReplyに対して「<%= Settings.feedback[@feedback.rate] %>」と言っています！

通知メールの配信設定は下記リンクより変更してください。
<%= mail_setting_users_url %>

<%= render partial: 'common/mailer_signature' %>
