<%= @message.user.name %>さんからメッセージが届きました。

「<%= @message.text.truncate(100) %>」

以下のURLをクリックして、内容を確認しましょう。

<%= "#{@domain}/conversations/#{@message.conversation_id}" %>

通知メールの配信設定は下記リンクより変更してください。
<%= mail_setting_users_url %>

<%= render partial: 'common/mailer_signature' %>
