<%= @reply.user.shop.name %>の<%= @reply.user.name %>さんが新しいReplyを投稿しました。

「<%= @reply.comment.truncate(100) %>」

以下のURLをクリックして、内容を確認しましょう。

<%= "#{@domain}/posts/#{@reply.post_id}" %>
 
通知メールの配信設定は下記リンクより変更してください。
<%= mail_setting_users_url %>

<%= render partial: 'common/mailer_signature' %>
