<%= @event.shop.name %>のイベントが新たに公開されました。

【イベント名】 <%= @event.title %>
【開催期間】 <%= @event.start_date %> ~ <%= @event.finish_date.presence %>
【概要】
<%= @event.text.truncate(100) %>

詳細は以下のURLをクリックして、イベントを確認してください。

<%= "#{@domain}/events/#{@event.id}" %>


通知メールの配信設定は下記リンクより変更してください。
<%= mail_setting_users_url %>

<%= render partial: 'common/mailer_signature' %>
