<div dir="ltr">

  <div style="margin:0;padding:50px;background-color:#f2f2f2;min-height:100%!important;width:100%!important">
    <center>

      <table style="width:580px;">
        <tbody>
          <tr>
            <td style="padding:0;">
              <%= image_tag 'logo.png', size: '107x24', alt: 'STYLER' %>
              <h1 style="font:20px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.5; margin:50px 0 35px;">
                <%= "#{@user.name}さん " if @user.name.present? %>Welcome to STYLER !
              </h1>
              <p style="font:16px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1.5; margin: 0 0 30px;">
                STYLERは、人とのつながりでファッションを楽しむことができるサービスです。このメールでは、ユーザーやショップスタッフとコミュニケーションするための機能を紹介します。
              </p>
            </td>
          </tr>
          <tr>
            <td style="background: #FFF; padding:0;">
              <%= image_tag('welcome_user_image-01.jpg', size: '580x363', alt: 'Postを作る') %>
              <p style="font:30px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1; margin:45px 80px 0;">
                1. Post
              </p>
              <h2 style="font:24px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.6; margin:30px 80px;">
                欲しいファッションアイテムを簡単に共有できます
              </h2>
              <p style="font:14px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#717171; line-height:1.7; margin:0px 80px 55px;">
                あなたの欲しいものについて投稿することをPostと言います。欲しいアイテムの情報を集めたり、スタッフにアドバイスを求めてみたり、シチュエーションに合わせてPostを作成してみましょう。ショップスタッフからおすすめアイテムのReplyが届きます。
              </p>
            </td>
          </tr>
          <tr>
            <td style="height: 80px;"></td>
          </tr>
          <tr>
            <td style="background: #FFF; padding:0;">
              <%= image_tag 'welcome_user_image-02.jpg', size:'580x363', alt:'Likeをする' %>
              <p style="font:30px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1; margin:45px 80px 0;">
                2. Like
              </p>
              <h2 style="font:24px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.6; margin:30px 80px;">
                気になるアイテムはコレクションできます
              </h2>
              <p style="font:14px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#717171; line-height:1.7; margin:0px 80px 55px;">
                気になるアイテムには、Likeをつけてコレクションできます。あなたのマイページでいつでも確認できるので、アイテムを比較するときに活用することができます。（あなたがアイテムにLikeをつけると、ショップスタッフに通知が届きます）
              </p>
            </td>
          </tr>
          <tr>
            <td style="height: 80px;"></td>
          </tr>
          <tr>
            <td style="background: #FFF; padding:0;">
              <%= image_tag 'welcome_user_image-03.jpg', size:'580x363', alt:'Commentをする' %>
              <p style="font:30px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1; margin:45px 80px 0;">
                3. Comment
              </p>
              <h2 style="font:24px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.6; margin:30px 80px;">
                コメントで他のユーザー・スタッフと盛り上がろう
              </h2>
              <p style="font:14px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#717171; line-height:1.7; margin:0px 80px 55px;">
                Postに対してコメントをすることで、ユーザーやショップスタッフとコミュニケーションができます。商品について意見交換をしたり、Likeしているアイテムをコメントとして投稿しおすすめすることも可能です。
              </p>
            </td>
          </tr>
          <tr>
            <td style="height: 80px;"></td>
          </tr>
          <tr>
            <td style="background: #FFF; padding:0;">
              <%= image_tag 'welcome_user_image-04.jpg', size:'580x363', alt:'Messageを送る' %>
              <p style="font:30px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1; margin:45px 80px 0;">
                4. Message
              </p>
              <h2 style="font:24px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.6; margin:30px 80px;">
                ショップスタッフとメッセージをしよう
              </h2>
              <p style="font:14px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#717171; line-height:1.7; margin:0px 80px 55px;">
                ショップスタッフに個別にメッセージをすることができます。<br>
                おすすめの活用方法は、ショップスタッフに来店のメッセージを送ることです。初めてのショップであっても気軽に質問ができたり、事前にメッセージしておくことで適切な接客サービスを受けることができます。気になるアイテムを見つけてどんどんメッセージをしてみましょう。
              </p>
            </td>
          </tr>
          <tr>
            <td style="height: 80px;"></td>
          </tr>
          <tr>
            <td style="background: #FFF; padding: 55px 80px;">
              <p style="font:18px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1.6; margin-bottom: 20px;">
                これらの機能を最大限に活用するために、まずはログインしてあなたのプロフィールを完成させましょう！
              </p>
              <%= link_to 'プロフィールを設定する', edit_user_url(@user), style:"display:block; height:60px; font:16px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color: #FFF;line-height:60px; background: #28abec; border-radius:8px; text-decoration:none; text-align:center;" %>
            </td>
          </tr>
          <tr>
            <td style="text-align: right; padding-top:10px;">
              <a href="https://www.facebook.com/styler.link/"><%= image_tag "icon-facebook_gray.png", size:'32x32', alt:"FACEBOOK" %></a>
              <a href="https://www.instagram.com/styler.link/"><%= image_tag "icon-instagram_gray.png", size:'32x32', alt:"INSTAGRAM" %></a>
            </td>
          </tr>
        </tbody>
      </table>

    </center>
  </div>

</div>
