<section class="l-flex__center">
  <% if @shop %>
    <article class="p-article p-article-profile">

      <div class="p-article-owner">
        <div class="c-user-name u-shop-avatar">
          <%= image_tag(object_image(@shop), size: "120x120") %>
          <h4>
            <%= @shop.name %>
          </h4>
        </div>
      </div>

    </article>

    <article class="p-article u-paper-shadow-z1">
      <div class="p-article-desc">
        <h3>ショップ紹介</h3>
        <%= @shop.profile %>
      </div>
    </article>

    <%= form_tag(shop_users_path, class: "p-create-form u-paper-shadow-z1") do %>
      <input type="hidden" name="authenticate_params" value="<%= @shop.authenticate_params %>">
      <h3>新規スタッフ登録</h3>
      <p>
        <%= @shop.name %> のスタッフである場合のみ、下記ボタンをクリックして、スタッフ登録を完了してください。
      </p>
      <%= button_tag "スタッフ登録する", type: 'submit', class: "c-button__submit", data: { disable_with: "送信中…" } %>
    <% end %>
  <% else %>
    <%= form_tag(new_shop_user_path, method: 'get', class: "p-create-form u-paper-shadow-z1") do %>
      <h3>新規スタッフ登録</h3>
      <p>
        ショップのスタッフ登録に必要なキーワードを入力してください。
      </p>
      <input type="text" name="authenticate_params" id="name" required aria-required="true" class="c-form__textarea" autofocus>
      <%= button_tag "送信する", type: 'submit', class: "c-button__submit", data: { disable_with: "送信中…" } %>
    <% end %>
  <% end %>

</section>
