<div class="p-auth">
  <div class="p-auth-alert u-slidedown-effect<%= "is-animated" if devise_error_messages!.present? %>">
    <span class="c-icon-information"></span>
    <%= devise_error_messages! %>
  </div>
  <div class="p-auth-sublink">
    <%= link_to "ログインページに戻る", new_user_session_path %>
  </div>
  <div class="p-auth-container">
    <div class="p-auth-form">
      <h1>
        <%= link_to root_path, title: "トップページへ" do %>
          <%= render partial: 'common/logo' %>
        <% end %>
      </h1>
      <h4>確認メールを再送信します。ご登録のメールアドレスを入力してください。</h4>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "c-form-auth__password-reset" }) do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", value: @email %>
        <%= f.submit("確認メール再送信") %>
      <% end %>
    </div>
  </div>
</div>
