<% case role(reply) %>
<% when "mypost" %>
  <div class="p-article-edit u-float__right">
    <%= link_to "編集", edit_reply_path(reply), class: "u-link-color__blue" %>
  </div>

<% when "customer", "staff" %>
  <div class="p-article-edit u-float__right">
    <%= link_to "報告", new_feedback_path(object: "Reply", generic_id: reply.id), class: "u-link-color__midgray" %>
  </div>
<% end %>
