<% case role(reply) %>
<% when "customer" %>
  <% if false %>
    <%= form_tag(favorite_path(favorite), { remote: true, method: "delete" }) do %>
      <%= button_tag type: 'submit', class: "c-button__like is-active" do %>
        <span class="c-icon-like"></span>
        <span><%= reply.favorites.count %></span>
      <% end %>
    <% end %>
  <% else %>
    <%= form_tag(favorites_path, remote: true) do %>
      <input type="hidden" name="reply_id" value="<%= reply.id %>">
      <%= button_tag type: 'submit', class: "c-button__like" do %>
        <span class="c-icon-like"></span>
        <span><%= reply.favorites.count %></span>
      <% end%>
    <% end %>
  <% end %>

<% when "staff", "mypost" %>
  <%= form_tag(favorites_path, remote: true) do %>
    <input type="hidden" name="reply_id" value="<%= reply.id %>">
    <%= button_tag type: 'submit', class: "c-button__like is-active", disabled: true do %>
      <span class="c-icon-like"></span>
      <span><%= reply.favorites.count %></span>
    <% end%>
  <% end %>

<% when "guest" %>
  <%= form_tag(favorites_path) do %>
    <input type="hidden" name="reply_id" value="<%= reply.id %>">
    <%= button_tag type: 'submit', class: "c-button__like" do %>
      <span class="c-icon-like"></span>
      <span><%= reply.favorites.count %></span>
    <% end%>
  <% end %>
<% end %>
