<section class="l-flex__center">
  <article class="p-article u-paper-shadow-z1">
    <div class="p-article-owner">
      <%= link_to user_path(@post.user), class: "c-user-name" do %>
        <%= image_tag(object_image(@post.user), size: "32x32") %>
        <h4><%= @post.user.name %>
        </h4>
      <% end %>
    </div>

    <div class="p-article-desc">
      <%= delete_br(@post.text) %>
    </div>

    <div class="p-article-stats">
      <span class="c-icon-reply"><%= @post.replies.count %>
      </span>
      <span class="c-icon-comment"><%= @post.comments.count %>
      </span>
      <span class="c-icon-watch"><%= @post.watches.count %>
      </span>
    </div>
  </article>

  <%= form_tag(reply_path(@reply), multipart: true, method: "patch", class: "p-create-form u-paper-shadow-z1") do %>
    <%= hidden_field_tag "post_id", @post.id %>
    <h3>Reply を編集する</h3>
    <div class="c-photo-uploader">
      <%= image_tag(object_image(@reply)) %>
      <%= file_field_tag :photo, class: "u-photo-uploader", accept: "image/jpeg,image/png,image/gif" %>
      <small style="color:gray;">横幅：640px以上 / サイズ：5MB以内を推奨</small>
    </div>
    <ul>
      <li>
        <label for="item_brand">ブランド名：</label>
        <input type="text" name="item_brand" id="item_brand" class="c-form__textarea" value="<%= @reply.item_brand %>" required aria-required="true">
      </li>
      <li>
        <label for="item_name">商品名：</label>
        <input type="text" name="item_name" id="item_name" class="c-form__textarea" value="<%= @reply.item_name %>" required aria-required="true">
      </li>
      <li>
        <label for="item_price">販売価格：</label>
        <input type="text" name="item_price" id="item_price" class="c-form__textarea" value="<%= @reply.item_price %>" style="width:40%;" required aria-required="true">
        <span>円（税込）</span>
      </li>
      <li>
        <label for="text">商品説明：</label>
        <%= text_area_tag "text", @reply.text, 
                          rows: "5", 
                          placeholder: "提案するアイテムの詳細を入力しましょう。",
                          id: "text",  
                          required: true,
                          class: "c-form__textarea" %>
      </li>
    </ul>
    <%= button_tag "投稿する", type: 'submit', class: "c-button__submit c-button__reply-update", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>

</section>
