<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>STYLER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag "embed_style/font-awesome-4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "embed_style/css/style.css" %>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <%= link_to reply_path, target: '_blank do' do %>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="row content">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 main-content" align="center">
                            <div id="wrapper">
                                <div id="bg_layer">
                                    <div id="bg_header" class="row">
                                        <div id="shop_logo" class="row">
                                            <div id="outer" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                                <div id="table-container">
                                                    <img src="<%= object_image(@reply.shop) %>" alt="">
                                                </div>
                                            </div>
                                            <div id="outer" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                                <div id="table-container">
                                                    <div id="shop_name" class="table-cell">
                            <%= @reply.shop.name %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="reply_image" class="row">
                                        <img src="<%= object_image(@reply) %>" alt="">
                                    </div>
                                    <div class="row">
                                        <h1 id="brand_name" align="left">
                        <%= @reply.item_brand %>
                                        </h1>
                                    </div>
                                    <div class="row">
                                        <p id="product_name" align="left">
                       <%= @reply.item_name %>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <p id="product_price" align="left">
                       ¥ <%= @reply.item_price %>(税込)
                                        </p>
                                    </div>
                                </div>
                                <div id="layer" class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height: 100%;">
                                        <div class="row" style="height: 100%;">
                                            <div id="outer" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <div id="table-container">
                                                    <div id="number_of_likes" class="table-cell">
                                                        <%= @reply.favorites.count %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="outer" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <div id="table-container">
                                                    <div id="label_likes" class="table-cell">
                                                        Likes
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="height: 100%;">
                                    </div>
                                    <div id="footer" class="col-xs-5 col-sm-5 col-md-5 col-lg-5" style="height: 100%;">
                                        <!--button-->
                                        <%= link_to new_user_session_path(:id => @reply.id), target: '_blank do' do %>
                                        <div id="button_layer" class="row">
                                                <div id="outer" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <div id="table-container">
                                                        <div class="table-cell">
                                                            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="outer" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <div id="table-container">
                                                        <div class="table-cell like-label">
                                                            Like
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <% end %>
                                        <!--end button-->
                                    </div>
                                </div>
                            </div>
                        </div>
            <% end %>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 powered_by">
                Powered by
                <%= link_to root_path, target: '_blank' do %>
                <div id="logo">
                    <%= image_tag("logo.svg", alt: "styler_logo") %>
                </div>
                <% end %>
            </div>
            </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        </div>
</body>
</html>
