<section class="l-flex__center">

  <article class="p-article u-paper-shadow-z1">
    <div class="p-article-owner">
      <%= link_to user_path(@post.user), class: "c-user-name" do %>
        <%= image_tag(object_image(@post.user), size: "32x32") %>
        <h4>
          <%= @post.user.name %>
          <span><%= time_ago_in_words(@post.created_at) %></span>
        </h4>
      <% end %>
      <%= render partial: "posts/button", locals: { post: @post } %>
    </div>

    <div class="p-article-desc">
      <%= delete_br(@post.text) %>
    </div>

    <div id="reply" class="p-article-stats">
      <span class="c-icon-reply"><%= @post.replies.count %>
      </span>
      <span class="c-icon-comment"><%= @post.comments.count %>
      </span>
      <span class="c-icon-watch"><%= @post.watches.count %>
      </span>
    </div>
  </article>

  <article class="p-article p-article-reply-detail u-paper-shadow-z1">
    <%= render partial: "replies/action", locals: { reply: @reply } %>
    <div class="p-article-owner">
      <% if @reply.item_brand.present? %><h2 class="p-article-title"><%= @reply.item_brand %></h2><% end %>
      <% if @reply.item_name.present? %><p><%= @reply.item_name %></p><% end %>
      <% if @reply.item_price %><p><%= number_to_currency(@reply.item_price) %><span>税込</span></p><% end %>
      <%= link_to shop_path(@reply.shop), class: "c-user-name" do %>
        <%= image_tag(object_image(@reply.shop), size: "32x32", class: "c-img-shop-profile") %>
        <h4><%= @reply.shop.name %></h4>
      <% end %>
    </div>

    <div class="p-article-img">
      <%= image_tag(object_image(@reply, "normal")) if @reply.image %>
    </div>

    <div class="p-article-cta">
      <%= link_to user_path(@reply.user), class: "c-user-name" do %>
        <%= image_tag(object_image(@reply.user), size: "44x44") %>
        <h4>
          <%= @reply.user.name %>
          <span><%= time_ago_in_words(@reply.created_at) %> に投稿</span>
        </h4>
      <% end %>
      <div id="favorite_<%= @reply.id %>">
        <%= render partial: "replies/favorite", locals: { reply: @reply } %>
      </div>
    </div>

    <div class="p-article-desc">
      <%= auto_link(change_br(@reply.text), :all, target: "_blank") %>
    </div>

<!--    Embed:start  -->
    <% if current_user %>
      <% if current_user == @reply.user or @reply.user.colleagues.include?current_user or current_user.admin_flag %>
          <% if !params[:url] %>
            <p style="text-align: right">
              <strong><%= link_to I18n.t("reply.embed.share"), embed_link_path, :class => "u-link-color__blue" %></strong>
            </p>
            <% else %>
            <p style="text-align: right">
              <strong><%= link_to I18n.t("reply.embed.hide"), reply_path, :class => "u-link-color__blue", anchor: 'embed-link' %></strong>
            </p>  
            <div id = "embed-link" name = "embed-link">
              <p><%= params[:url] %></p>
          </div>
          <% end %>
      <% end %>
    <% end %>    
<!--    Embed:end  -->

    <div class="p-article-shop-info">
      <h4>ショップ情報</h4>
      <ul>
        <li>
          <div><span>ショップページ：</span><h5><%= @reply.shop.name %></h5></div>
          <%= link_to "<i class=\"c-icon-arrow\"></i>".html_safe, shop_path(@reply.shop), :class => "c-icon-button" %></li>
        <li>
          <div><span>ショップ所在地：</span><h5><%= @reply.shop.address %></h5></div>
          <%= link_to "<i class=\"c-icon-map\"></i>".html_safe, "https://maps.google.com/maps?q=#{@reply.shop.address}", :class => "c-icon-button", target: "_blank" %></li>
        <% if @reply.shop.tel.present? %><li>
          <div><span>電話番号：</span><h5><%= @reply.shop.tel %></h5></div>
          <%= link_to "<i class=\"c-icon-phone\"></i>".html_safe, "tel:#{@reply.shop.tel}", :class => "c-icon-button" %></li><% end %>
        <% if @reply.shop.website.present? %><li>
          <div><span>ホームページURL：</span><h5><%= @reply.shop.website %></h5></div>
          <%= link_to "<i class=\"c-icon-browser\"></i>".html_safe, "#{@reply.shop.website}", :class => "c-icon-button", target: "_blank" %></li><% end %>
      </ul>
    </div>
  </article>

  <% if @post.replies.count >= 2 && @post.replies.where.not(id: @reply.id).present? %>
    <article class="p-article p-article-post-detail u-paper-shadow-z1">
      <h3 class="p-article-title">
        他のReply (<%= @post.replies.count - 1 %>)
        <%= link_to "Postを見る", post_path(@post), data: { no_turbolink: true } %>
      </h3>
      <div class="p-article-img">
        <% @post.replies.where.not(id: @reply.id).each do |reply| %>
          <div class="p-article-img__reply">
            <%= link_to reply_path(reply, anchor: "reply"), data: { no_turbolink: true } do %>
              <%= image_tag(object_image(reply)) %>
            <% end %>
            <div class="p-article-cta">
              <p>
                <%= reply.item_brand %><br />
                <%= number_to_currency(reply.item_price) %>（税込）
              </p>
              <div id="favorite_<%= reply.id %>">
                <%= render partial: "posts/favorite", locals: { reply: reply } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </article>
  <% end %>

  <% case role(@reply) %>
  <% when "customer" %>
    <%= link_to new_conversation_path(destination_user_id: @reply.user.id, reply_id: @reply.id), data: { no_turbolink: true }, class: "c-button__message u-scrolled-animation u-paper-shadow-button" do %>
      <%= button_tag type: 'submit', class: "c-user-name c-button__conversation" do %>
        <%= image_tag(object_image(@reply.user), size: "44x44") %>
        <h4>
          担当スタッフにもっと聞く
        </h4>
      <% end %>
    <% end %>
  <% when "guest" %>
    <%= form_tag(new_user_session_path, method: "get", class: "c-button__message u-scrolled-animation u-paper-shadow-button") do %>
      <%= button_tag type: 'submit', class: "c-user-name" do %>
        <%= image_tag(object_image(@reply.user), size: "44x44") %>
        <h4>
          担当スタッフにもっと聞く
        </h4>
      <% end %>
    <% end %>
  <% end %>

</section>

<% content_for :head do %>
  <meta name="description" content='<%= strip_tags(change_br(@reply.text)).truncate(100) %>'>

  <meta property="og:title" content='<%= @reply.shop.name %> のReply | STYLER "つながり"でファッションを楽しくする'>
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= reply_url(@reply) %>#reply">
  <meta property="og:image" content="<%= object_image(@reply) %>">
<% end %>
