<section class="l-flex__center">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch, class: "p-create-form u-paper-shadow-z1" }) do |f| %>
    <h3>パスワード変更</h3>
    <ul>
      <% if false %>
        <li>
          <label for="email">メールアドレス：</label>
          <%= f.email_field :email, autofocus: true, class: "c-form__textarea" %>
        </li>
      <% end %>
      <li>
        <label for="current_password">現在のパスワード：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <%= f.password_field :current_password, autocomplete: "off", class: "c-form__textarea" %>
      </li>
      <li>
        <label for="password">新規パスワード：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <%= f.password_field :password, autocomplete: "off", class: "c-form__textarea" %>
      </li>
      <li>
        <label for="password_confirmation">新規パスワード（確認）：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "c-form__textarea", placeholder: '新規パスワードをもう一度入力してください' %>
      </li>
    </ul>
    <%= devise_error_messages! %>
    <% if false %>
      <section class="notice">
        ご登録のメールアドレスに確認メールを送信しました。確認メールのリンクをクリックして、メールアドレスを承認してください。
      </section>
    <% end %>
    <%= button_tag "更新する", type: 'submit', class: "c-button__submit", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>
</section>
