<div class="p-auth">
  <div class="p-auth-alert u-slidedown-effect<%= "is-animated" if devise_error_messages!.present? %>">
    <span class="c-icon-information"></span>
    <%= devise_error_messages! %>
  </div>
  <div class="p-auth-sublink">
    <%= link_to "ログインはこちら", new_user_session_path %>
  </div>
  <div class="p-auth-container">
    <div class="p-auth-form">
      <h1>
        <%= link_to root_path, title: "トップページへ" do %>
          <img src="<%= asset_path('logo_transparent.png') %>" style="height:80px;width:auto;" />
        <% end %>
      </h1>
      <h4>”つながり”でファッションを楽しくする</h4>
      <%= form_for(:user, url: registration_path(resource_name), html: {class: "c-form-auth__signup"}) do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス' %>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード(8文字以上)', class: "__password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワード(確認)', class: "__password-confirm" %>
        <%= f.submit("アカウント登録") %>
        <p>
          アカウント登録された場合、<%= link_to "利用規約", use_policy_tops_path %> および、<%= link_to "プライバシーポリシー", privacy_policy_tops_path %> に同意したものとします。
        </p>
      <% end %>
    </div>
  </div>
</div>
