<section class="l-flex__center">
  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h3 style="margin-top:0;">ショップリスト</h3>
    ショップを一覧表示してあります。「リンクを生成」ボタンは、ユーザーアカウントを該当ショップのスタッフへと変更するためのリンクを生成します。「非表示にする」ボタンは、ショップが閉店やサービス利用を取りやめた場合に、ショップ一覧から除外することが出来ます。
  </article>

  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h4 style="margin-top:0;"><%= @objects_count %>件</h4>
    <table class="p-dashboard-table shop_list">
      <tbody>
        <% @shops.each do |shop| %>
          <tr>
            <td><%= shop.id %></td>
            <td><%= link_to shop.name.presence || "-", shop_path(shop), class: "u-link-color__blue" %></td>
            <td><%= shop.users.count %></td>
            <td>
              <a class="c-button__submit" onClick='alert("<%= new_shop_user_url(authenticate_params: shop.authenticate_params) %>")'>
                リンクを生成
                
              </a>
            </td>
            <td>
              <% if shop.closed %>
                <%= link_to "非表示を解除する", admin_shop_path(shop), data: { confirm: "このショップを一覧に表示しますか？" }, method: "patch", class: "c-button__submit" %>
              <% else %>
                <%= link_to "非表示にする", admin_shop_path(shop), data: { confirm: "このショップを一覧から非表示にしますか？" }, method: "patch", class: "c-button__submit" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @shops %>
  </article>

</section>
