<section class="l-flex__center">

  <%= form_tag admin_shops_path, multipart: true, class: "p-create-form u-paper-shadow-z1" do %>
    <h3 style="margin-top:0;">新規ショップ作成</h3>
    <div class="c-photo-uploader u-user-avatar">
      <label>ロゴ画像：</label>
      <%= image_tag "" %>
      <%= file_field_tag :photo, class: "u-photo-uploader", accept: "image/jpeg,image/png,image/gif" %>
    </div>
    <ul>
      <li>
        <label for="name">ショップ名：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <input type="text" name="name" id="name" placeholder="例：STYLER 原宿店" class="c-form__textarea">
      </li>
      <li>
        <label for="address">ショップ所在地：</label>
        <input type="text" name="address" id="address" placeholder="例：東京都渋谷区神南1-10-6" class="c-form__textarea">
      </li>
      <li>
        <label for="tel">電話番号：</label>
        <input type="tel" name="tel" id="tel" placeholder="例：0312345678" class="c-form__textarea">
      </li>
      <li>
        <label for="website">Webサイト：</label>
        <input type="url" name="website" id="website" placeholder="例：http://styler.link/" class="c-form__textarea">
      </li>
      <li>
        <label for="profile">ショップ紹介：</label>
        <%= text_area_tag "profile", "", 
                          rows: "3", 
                          placeholder: "例：主にメンズファッションを取り扱っています。", 
                          class: "c-form__textarea", 
                          id: "textarea" %>
      </li>
    </ul>
    <%= button_tag "登録する", type: 'submit', class: "c-button__submit", style: "margin-top: 0px;", data: { disable_with: "送信中…" } %>
  <% end %>

</section>
