<%= form_tag(favorites_path, remote: true) do %>
  <input type="hidden" name="reply_id" value="<%= @reply.id %>">
  <%= button_tag type: 'submit', class: "c-button__like", disabled: current_user.staff? do %>
    <span class="c-icon-like"></span>
    <span><%= @reply.favorites.count %></span>
  <% end%>
<% end %>
