<%= form_tag(favorite_path(@favorite), { remote: true, method: "delete" }) do %>
  <%= button_tag type: 'submit', class: "c-button__like is-active" do %>
    <span class="c-icon-like"></span>
    <span><%= @reply.favorites.count %></span>
  <% end %>
<% end %>
