<div class="p-article-stats">
  <%= link_to shop_path(@shop) do %><%= @shop.replies.count %><span>Replies</span><% end %>
  <%= link_to events_shop_path(@shop) do %><%= @shop.events.count %><span>Events</span><% end %>
  <%= link_to staffs_shop_path(@shop) do %><%= @shop.users.count %><span>Staffs</span><% end %>
</div>
