<% shops.each do |shop| %>

  <article class="p-article p-article-shop-list u-paper-shadow-z1">
    <%= link_to shop_path(shop), class: "p-article-owner" do %>
      <div class="c-user-name c-shop-name">
        <%= image_tag(object_image(shop),class: "c-img-shop-profile", size: "70x70") %>
        <h4>
          <%= shop.name %>
          <span><%= shop.address if shop.address.present? %></span>
        </h4>
      </div>
    <% end %>
  </article>

<% end %>
