<div class="p-header-tab">
  <%= link_to "Reply", shop_path(@shop), class: "c-header-tab #{'is-current' if controller.action_name == 'show'}" %>
  <%= link_to "Event", events_shop_path, class: "c-header-tab #{'is-current' if controller.action_name == 'events'}" %>
  <%= link_to "Staff", staffs_shop_path, class: "c-header-tab #{'is-current' if controller.action_name == 'staffs'}" %>
</div>
