<section class="l-flex__center">
  <%= form_tag(shop_path, multipart: true, method: "patch", class: "p-create-form u-paper-shadow-z1") do %>
    <h3>ショップ情報編集</h3>
    <div class="c-photo-uploader u-user-avatar">
      <%= image_tag(object_image(@shop)) %>
      <%= file_field_tag :photo, 
                         class: "u-photo-uploader", 
                         accept: "image/jpeg,image/png,image/gif" %>
    </div>
    <ul>
      <li>
        <label for="name">ショップ名：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <input type="text" name="name" id="name" value="<%= @shop.name %>" placeholder="例：STYLER 原宿店" required aria-required="true" class="c-form__textarea">
      </li>
      <li>
        <label for="address">ショップ所在地：</label>
        <%= render partial: 'users/location', locals: {location: @shop.location} %>
        <input type="text" name="address" id="address" value="<%= @shop.address %>" placeholder="例：渋谷区神南1-10-6" class="c-form__textarea" style="margin:10px 0px;">
      </li>
      <li>
        <label for="tel">電話番号：</label>
        <input type="tel" name="tel" id="tel" value="<%= @shop.tel %>" placeholder="例：0312345678" class="c-form__textarea">
      </li>
      <li>
        <label for="website">Webサイト：</label>
        <input type="url" name="website" id="website" value="<%= @shop.website %>" placeholder="例：http://styler.link/" class="c-form__textarea">
      </li>
      <li>
        <label for="business_hours">営業時間：</label>
        <input type="text" name="business_hours" id="business_hours" value="<%= @shop.business_hours %>" placeholder="例：平日 12:00～20:00 / 土・日・祝 11:00～20:00" class="c-form__textarea">
      </li>
      <li>
        <label for="profile">ショップ紹介：</label>
        <%= text_area_tag "profile", @shop.profile, 
                          rows: "3", 
                          placeholder: "例：主にメンズファッションを取り扱っています。", 
                          class: "c-form__textarea", 
                          id: "textarea" %>
      </li>
    </ul>
    <%= button_tag "更新する", type: 'submit', class: "c-button__submit", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>
</section>
