<section class="l-flex__center has-header-tab">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name u-shop-avatar">
        <%= image_tag(object_image(@shop), size: "120x120") %>
        <h4>
          <%= @shop.name %>
          <span><i><%= @shop.address %></i></span>
          <%= link_to "このショップ詳細 >", information_shop_path(@shop) %>
        </h4>
      </div>
      <%= link_to "", edit_shop_path(@shop), class: "c-user-action c-icon-setting" if current_user.try(:staff?) && @shop == current_user.shop %>
    </div>

    <%= render "shop_stats" %>
  </article>

  <div id="shop-content">
    <% if @events.present? %>
      <% @events.each do |event| %>
        <article class="p-article p-article-event u-paper-shadow-z1">
          <%= link_to event_path(event), class: "p-article-img" do %>
            <div class="c-event-img" style="background-image:url('<%= image_url(object_image(event, 'rectangle')) %>');"></div>
            <div class="c-event-header">
              <% if event.created_at > 1.week.ago %>
                <p class="c-icon-new">新着</p>
              <% end %>
              <h2><%= event.title %></h2>
              <span><%= event.start_date %> ~ <%= event.finish_date.presence %></span>
              <span><%= event.location %></span>
              <div class="c-user-name">
                <%= image_tag(object_image(event.shop), size: "32x32") %>
                <h4><%= event.shop.name %></h4>
              </div>
            </div>
          <% end %>
        </article>
      <% end %>
    <% else %>
      <article class="p-article u-paper-shadow-z1">
        <p class="u-text-align__center">まだ Event がありません</p>
      </article>
    <% end %>
  </div>

  <%= form_tag events_shop_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @events, "", remote: true %>
  <% end %>

</section>

<% if current_user.try(:staff?) && @shop == current_user.shop %>
  <div class="c-button__event u-scrolled-animation u-paper-shadow-button">
    <%= link_to new_event_path, class: "c-user-name" do %>
      <span class="c-icon-event"></span>
      <h4>
        新しいイベントを作成する
      </h4>
    <% end %>
  </div>
<% end %>
