$("#shop-list").html("<%= escape_javascript(render partial: 'shops/shop_list', locals: { shops: @shops } ) %>");
$('#pagination').html('<%= escape_javascript(link_to_next_page @shops, "", remote: true) %>');
