<section class="l-flex__center">
  <div id="shop-list">
    <%= render partial: "shops/shop_list", locals: { shops: @shops } %>
  </div>
  
  <%= form_tag shops_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @shops, "", remote: true %>
  <% end %>
</section>
