<section class="l-flex__center">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name u-shop-avatar">
        <%= image_tag(object_image(@shop), size: "120x120") %>
        <h4>
          <%= link_to "< ショップページに戻る", shop_path(@shop), style: "margin-bottom:10px;" %>
          <%= @shop.name %>
        </h4>
      </div>
      <%= link_to "", edit_shop_path(@shop), class: "c-user-action c-icon-setting" if current_user.try(:staff?) && @shop == current_user.shop %>
    </div>
  </article>

  <article class="p-article u-paper-shadow-z1">
    <div class="p-article-desc">
      <h4>ショップ紹介</h4>
      <%= @shop.profile %>
    </div>
    <div class="p-article-shop-info">
      <ul>
        <% if @shop.address.present? %>
          <li>
            <div><span>ショップ所在地：</span><h5><%= @shop.address %></h5></div>
            <%= link_to "<i class=\"c-icon-map\"></i>".html_safe, "https://maps.google.com/maps?q=#{@shop.address}", :class => "c-icon-button", target: "_blank" %></li>
        <% end %>
        <% if @shop.tel.present? %>
          <li>
            <div><span>電話番号：</span><h5><%= @shop.tel %></h5></div>
            <%= link_to "<i class=\"c-icon-phone\"></i>".html_safe, "tel:#{@shop.tel}", :class => "c-icon-button" %>
          </li>
        <% end %>
        <% if @shop.website.present? %>
          <li>
            <div><span>ホームページURL：</span><h5><%= @shop.website %></h5></div>
            <%= link_to "<i class=\"c-icon-browser\"></i>".html_safe, "#{@shop.website}", :class => "c-icon-button", target: "_blank" %>
          </li>
        <% end %>
        <% if @shop.business_hours.present? %>
          <li>
            <div><span>営業時間：</span><h5><%= @shop.business_hours %></h5></div>
          </li>
        <% end %>
      </ul>
    </div>
  </article>

</section>
