<% if params[:ajax_handler] === 'reply' %>
  $("#shop-content").html("<%= escape_javascript(render 'reply', object: @replies) %>");
<% elsif params[:ajax_handler] === 'events' %>
  $("#shop-content").html("<%= escape_javascript(render 'event', object: @events) %>");
<% elsif params[:ajax_handler] === 'staff' %>
  $("#shop-content").html("<%= escape_javascript(render 'staff', object: @staffs) %>");
<% end %>
