<section class="l-flex__center has-header-tab">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name u-shop-avatar">
        <%= image_tag(object_image(@shop), size: "120x120") %>
        <h4>
          <%= @shop.name %>
          <span><i><%= @shop.address %></i></span>
          <%= link_to "このショップ詳細 >", information_shop_path(@shop) %>
        </h4>
      </div>
      <%= link_to "", edit_shop_path(@shop), class: "c-user-action c-icon-setting" if current_user.try(:staff?) && @shop == current_user.shop %>
    </div>

    <%= render "shop_stats" %>
  </article>

  <div id="shop-content">
    <% if @replies.present? %>
      <article class="p-article p-article-post u-paper-shadow-z1">
        <div class="p-article-img" style="margin-top:0;">
          <% @replies.each do |reply| %>
            <%= link_to reply_path(reply, anchor: "reply"), data: { no_turbolink: true } do %>
              <%= image_tag(object_image(reply)) %>
            <% end %>
          <% end %>
        </div>
      </article>
    <% else %>
      <article class="p-article u-paper-shadow-z1">
        <p class="u-text-align__center">まだ Reply がありません</p>
      </article>
    <% end %>
  </div>

  <%= form_tag shop_path(@shop), method: "get", id: "pagination" do %>
    <%= link_to_next_page @replies, "", remote: true %>
  <% end %>

</section>
