<section class="l-flex__center has-header-tab">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name u-shop-avatar">
        <%= image_tag(object_image(@shop), size: "120x120") %>
        <h4>
          <%= @shop.name %>
          <span><i><%= @shop.address %></i></span>
          <%= link_to "このショップ詳細 >", information_shop_path(@shop) %>
        </h4>
      </div>
      <%= link_to "", edit_shop_path(@shop), class: "c-user-action c-icon-setting" if current_user.try(:staff?) && @shop == current_user.shop %>
    </div>

    <%= render "shop_stats" %>
  </article>

  <div id="shop-content">
    <% if @staffs.present? %>
      <article class="p-article p-article-staff u-paper-shadow-z1">
        <% @staffs.each do |staff| %>
          <%= link_to user_path(staff), class: "p-article-owner" do %>
            <div class="c-user-name">
              <%= image_tag(object_image(staff), size: "64x64") %>
              <h4>
                <%= staff.name %>
              </h4>
            </div>
          <% end %>
        <% end %>
      </article>
    <% else %>
      <article class="p-article u-paper-shadow-z1">
        <p class="u-text-align__center">まだ他のスタッフはいません</p>
      </article>
    <% end %>
  </div>

  <%= form_tag staffs_shop_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @staffs, "", remote: true %>
  <% end %>

</section>
