<section class="l-flex__center">

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to admin_kpis_path do %>
      KPIリスト
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to admin_articles_path do %>
      記事の公開管理
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to admin_authors_path do %>
      記事のライター管理
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to admin_categories_path do %>
      記事のカテゴリー管理
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to admin_html_mails_path do %>
      HTMLメールのデザイン確認
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to new_admin_push_notification_path do %>
      プッシュ通知の作成
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to admin_reports_path do %>
      ユーザーレポートの管理
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to admin_shop_registrations_path do %>
      ショップ登録申請の管理
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to admin_users_path do %>
      ユーザーリスト
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to admin_shops_path do %>
      ショップリスト
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

</section>
