<section class="l-flex__center">

  <%= form_tag admin_article_path, method: 'patch', class: "p-create-form u-paper-shadow-z1" do %>
    <h3 style="margin-top:0;">記事の公開処理</h3>
    <h4 style="margin-top:0;">該当記事：<%= @article.title %></h4>
    <ul>
      <li>
        <label for="category_id">カテゴリー <span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <select name="category_id" id="category_id" class="c-form__textarea" style="height:40px;width:100%;">
          <option value="">選択してください</option>
          <% ArticleCategory.all.each do |category| %>
            <option value=<%= category.id %>><%= "#{category.name} / #{category.child_name.presence}" %></option>
          <% end %>
        </select>
      </li>
      <% @tag_names.each_with_index do |tag_name, index| %>
        <li>
          <label for="tag<%= index + 1 %>">タグ <%= index + 1 %>：</label>
          <input type="text" name="tag<%= index + 1 %>" id="tag<%= index + 1 %>" placeholder="例：<%= tag_name %>" class="c-form__textarea">
        </li>
      <% end %>
    </ul>
    <%= button_tag "公開する", type: 'submit', class: "c-button__submit", style: "margin-top: 0px;", data: { disable_with: "送信中…" } %>
  <% end %>

</section>
