<section class="l-flex__center">

  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h3 style="margin-top:0;">記事の公開管理</h3>
    現在、サービス上で未公開の記事の一覧を表示してあります。詳細ページからカテゴリー付けをすることによって、記事をサービス上で公開する事ができます。
    <%= form_tag reload_admin_articles_path, class: "p-create-form", style: "padding: 0px; margin-top: 20px;" do %>
      <input type="hidden" name="reload" value="on">
      <%= button_tag "最新の情報に更新する", type: 'submit', class: "c-button__submit", style: "margin: 0px;", data: { disable_with: "記事情報を更新中です…（少々時間が掛かります）" } %>
    <% end %>
  </article>

  <article class="p-article p-article-dashboard u-paper-shadow-z1">

    <h4 style="margin-top:0;"><%= @articles.count %>件</h4>
    <table class="p-dashboard-table article_list">
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.id %></td>
            <td><%= link_to article.title.presence || '-', edit_admin_article_path(article), class: "u-link-color__blue" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>

</section>
