<% if @conversations.present? %>
  <% @conversations.each do |conversation| %>
    <article class="p-article p-article-notification <%= "confirmed" unless conversation.has_unread_message?(current_user.id) %> u-paper-shadow-z1">
      <% if conversation.has_unread_message?(current_user.id) %>
        <span class="c-icon-unread u-float__left">未読</span>
      <% end %>
      <span class="c-notification-message-time u-text-align__right">
        <%= time_ago_in_words(conversation.newest_time) %>
      </span>
      <div class="p-article-owner">
        <%= link_to conversation_path(conversation), class: "c-user-name" do %>
          <% if current_user.staff? %>
            <%= image_tag(object_image(conversation.user), size: "44x44") %>
            <h4>
              <%= conversation.user.name %>
              <span><%= strip_tags(conversation.newest_text).truncate(30) %></span>
            </h4>
          <% else %>
            <%= image_tag(object_image(conversation.staff), size: "44x44") %>
            <h4>
              <%= conversation.shop.name %>
              <span><%= strip_tags(conversation.newest_text).truncate(30) %></span>
            </h4>
          <% end %>
        <% end %>
        <%= image_tag(object_image(conversation.reply), size: "44x44", class: "u-border-radius-8") %>
      </div>
    </article>
  <% end %>
<% else %>
  <h3>No Messages</h3>
<% end %>
