<section class="l-flex__center <%= 'has-header-tab' if current_user %>">

  <div id="notification-feed">
    <% if @conversations.present? %>
      <% @conversations.each do |conversation| %>
        <article class="p-article p-article-notification <%= "confirmed" unless conversation.has_unread_message?(current_user.id) %> u-paper-shadow-z1">
          <div class="p-article-owner">
            <%= link_to conversation_path(conversation), class: "c-user-name" do %>
              <% destination = conversation.destination(current_user.id) %>
              <%= image_tag(object_image(destination), size: "44x44") %>
              <h4>
                <% if conversation.has_unread_message?(current_user.id) %>
                  <p class="c-icon-new" style="font-size:13px;padding:2px 10px;margin-right:5px;">未読</p>
                <% end %>
                <%= destination.name %>
                <span><%= strip_tags(conversation.newest_text).truncate(30) %></span>
              </h4>
            <% end %>
            <span class="c-notification-message-time u-float__right">
              <p style="margin-bottom:3px;"><%= time_ago_in_words(conversation.newest_time) %></p>
            </span>
          </div>
        </article>
      <% end %>
    <% else %>
      <article class="p-article u-paper-shadow-z1">
        <p class="u-text-align__center">まだ Message がありません</p>
      </article>
    <% end %>
  </div>

  <%= form_tag conversations_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @conversations, "", remote: true %>
  <% end %>

</section>
