$("#conversation").html("<%= escape_javascript(render 'conversation', object: @conversations) %>");
$('#paginator').html('<%= escape_javascript(link_to_next_page @conversations, "さらに表示", remote: true) %>');
