<section class="l-flex__center">
  <article class="p-article u-paper-shadow-z1" style="background-color: #EEEEEE; padding: 5px 20px;">
    <% if current_user.customer? %>
      <p style="font-weight: bold;">下記についてよく聞かれます：</p>
      <p>1. 商品を活用したコーディネイトについて</p>
      <p>2. 商品の店頭での在庫について</p>
      <p>3. 来店予約について</p>
    <% else %>
      <p style="font-weight: bold;">フォローのお礼と一緒によく聞かれること：</p>
      <p>1. いま探しているアイテムについて</p>
      <p>2. 普段よく着る服のテイストについて</p>
      <p>3. 普段よく行くショップについて</p>
    <% end %>
  </article>
  <% if reply = Reply.find_by(id: @reply_id) %>
    <article class="p-article" style="position:relative;padding: 20px 20px 20px 120px;min-height:80px;border: 1px solid #D8D8D8;">
      <%= image_tag(object_image(reply), size: "80x80", style: "border-radius: 8px;position:absolute;top:20px;left:20px;") %>
      <span style="font-weight: bold;"><%= reply.item_name %></span><br>
      <span><%= reply.item_brand %></span></br>
      <span><%= number_to_currency(reply.item_price) %>（税込）</span>
    </article>
  <% end %>
  <article class="p-article u-paper-shadow-z1" style="padding:15px 25px;">
    <% placeholder = current_user.customer? ? "商品について何でも聞いてみよう！" : "メッセージを入力しましょう！" %>
    <%= form_tag(messages_path, remote: true, class: "c-form__comment-textarea") do %>
      <%= hidden_field_tag "destination_user_id", @destination_user_id %>
      <%= hidden_field_tag "reply_id", @reply_id %>
      <%= text_area_tag "text", "", rows: 1, placeholder: placeholder, class: "c-form__textarea-message", required: true %>
      <%= button_tag "送信", id: "sendmessage", style: 'margin-top:0px;', type: 'submit', class: "c-button__submit c-button__conversation-new", data: { disable_with: "送信" } %>
    <% end %>
  </article>
</section>
