<section class="l-flex__center">
  <article class="p-article p-article-message u-paper-shadow-z1" style="padding:15px 25px;">
    <div id="message-timeline">
      <% message_type = nil %>
      <% if @messages.present? %>
        <% @messages.reverse.each do |message| %>
          <div id="message_<%= message.id %>" class="<%= message.user === current_user ? 'p-article-messege__sender' : 'p-article-messege__recipient'%>">
            <% unless message_type == (message.user == current_user ? 'sender' : 'recipient') %>
              <div class="p-article-owner" style="margin-top:10px;margin-bottom:0px;">
                <%= link_to user_path(message.user), class: "c-user-name" do %>
                  <%= image_tag(object_image(message.user), size: "44x44") %>
                  <h4>
                    <%= message.user.name %>
                    <span><%= time_ago_in_words(message.created_at) %></span>
                  </h4>
                <% end %>
              </div>
            <% end %>
            <div class="p-article-desc" style="margin-top:10px;margin-bottom:0px;">
              <%= auto_link(change_br(message.text)) %>
            </div>
          </div>
          <% message_type = message.user == current_user ? 'sender' : 'recipient' %>
        <% end %>
      <% end %>
    </div>
  </article>

  <article class="p-article u-paper-shadow-z1" style="padding:15px 25px;">
    <%= form_tag(messages_path, remote: true, class: "c-form__comment-textarea") do %>
      <%= hidden_field_tag "conversation_id", @conversation.id %>
      <%= hidden_field_tag "destination_user_id", @conversation.destination(current_user.id).id %>
      <%= text_area_tag "text", "", rows: 1, placeholder: "商品について何でも聞いてみよう！", class: "c-form__textarea-message", required: true %>
      <%= button_tag "送信", style: 'margin-top:0px;', type: 'submit', class: "c-button__submit c-button__conversation-new", data: { disable_with: "送信" } %>
    <% end %>
  </article>

</section>
