<section class="l-flex__center">

  <%= form_tag admin_author_path, multipart: true, method: 'patch', class: "p-create-form u-paper-shadow-z1" do %>
    <h3 style="margin-top:0;">ライタープロフィール編集</h3>
    <div class="c-photo-uploader">
      <%= image_tag(object_image(@author)) %>
      <%= file_field_tag :photo, class: "u-photo-uploader", accept: "image/jpeg,image/png,image/gif" %>
    </div>
    <ul>
      <li>
        <label for="name">名前 <span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <input type="text" name="name" id="name" value="<%= @author.name %>" placeholder="例：ヒュー・ジャックマン" class="c-form__textarea">
      </li>
      <li>
        <label for="textarea">プロフィール：</label>
        <%= text_area_tag "profile", @author.profile, 
                          rows: "3", 
                          placeholder: "例：ファッションの知識は負けません。革靴が好きです。", 
                          class: "c-form__textarea" %>
      </li>
    </ul>
    <%= button_tag "更新する", type: 'submit', class: "c-button__submit", style: "margin-top: 0px;", data: { disable_with: "送信中…" } %>
  <% end %>

</section>
