<section class="l-flex__center">

  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h3 style="margin-top:0;">記事のライター管理</h3>
    記事のライターを一覧表示してあります。詳細ページより各ライターのプロフィールを編集することが出来ます。
  </article>

  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h4 style="margin-top:0;"><%= @authors.count %>件</h4>
    <table class="p-dashboard-table author_list">
      <tbody>
        <% @authors.each do |author| %>
          <tr>
            <td><%= author.id %></td>
            <td><%= link_to author.name, edit_admin_author_path(author), class: "u-link-color__blue" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>

</section>
