<section class="l-flex__center">
  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h3 style="margin-top:0;">ショップ登録申請の管理</h3>
    ショップ登録申請を一覧表示してあります。各登録申請の詳細画面より、リクエストの処理を行なうことが出来ます。
  </article>

  <div id="shop-list">
    <% @registrations.each do |registration| %>

      <article class="p-article p-article-shop-list u-paper-shadow-z1">
        <%= link_to admin_shop_registration_path(registration), class: "p-article-owner" do %>
          <div class="c-user-name c-shop-name">
            <%= image_tag(object_image(registration),class: "c-img-shop-profile", size: "70x70") %>
            <h4><%= registration.id %>：<%= registration.shop_name %></h4>
          </div>
        <% end %>
      </article>

    <% end %>
  </div>
</section>
