<section class="l-flex__center">

  <%= form_tag(admin_shop_registration_path, multipart: true, method: :patch, class: "p-create-form u-paper-shadow-z1") do %>
    <article class="p-article u-paper-shadow-z1">
      <div class="p-article-owner">
          <div class="c-user-name u-shop-avatar">
            <%= image_tag(object_image(@registration), size: "100x100") %>
            <h4>
              <%= @registration.shop_name %>
            </h4>
          </div>
      </div>
      <div class="p-article-shop-info">
        <ul>
          <li>
            <div><span>ショップ紹介文：</span><h5><%= @registration.shop_profile %></h5></div>
          </li>
          <li>
            <div><span>ホームページURL：</span><h5><%= @registration.shop_website %></h5></div>
          </li>
          <li>
            <div><span>担当者氏名：</span><h5><%= @registration.staff_name %></h5></div>
          </li>
          <li>
            <div><span>担当者メールアドレス：</span><h5><%= @registration.staff_email %></h5></div>
          </li>
        </ul>
      </div>
    </article>
    <%= button_tag type: 'submit',style: "background-color:#F13D53;border: 1px solid #F13D53;", class: "c-button__submit", data: { disable_with: "送信中…", confirm: "このリクエストを拒否しますか？" } do %>
      <input type="hidden" name="approval" value="0">
      拒否
    <% end %>
    <%= button_tag type: 'submit',style: "margin-right: 10px;", class: "c-button__submit", data: { disable_with: "送信中…", confirm: "このリクエストを承認しますか？" } do %>
      <input type="hidden" name="approval" value="1">
      承認
    <% end %>
  <% end %>

</section>
