<% if @notifications.present? %>
  <% @notifications.each do |notification| %>

    <% case notification.type %>
    <% when "ReplyNotification" %>
      <article class="p-article p-article-notification <%= confirmed?(notification) %> u-paper-shadow-z1">
        <div class="p-article-owner">
          <%= link_to user_path(notification.reply.user), class: "c-user-name" do %>
            <%= image_tag(object_image(notification.reply.user), size: "32x32") %>
            <h4>
              <%= notification.reply.user.name %>
              <span><%= time_ago_in_words(notification.created_at) %></span>
            </h4>
          <% end %>
        </div>
        <div class="p-article-desc">
          <p>
            <% if notification.reply.post.user_id == current_user.id %>
              あなたのPostにReplyしました
            <% else %>
              あなたがWatchしているPostにReplyしました
            <% end %>
          </p>
        </div>
        <%= link_to reply_path(notification.reply, anchor: "reply"), class: "p-article-notification-item" do %>
          <span><%= strip_tags(notification.reply.comment).truncate(40) %></span>
          <%= image_tag(object_image(notification.reply), size: "70x70") %>
        <% end %>
      </article>

    <% when "CommentNotification" %>
      <article class="p-article p-article-notification <%= confirmed?(notification) %> u-paper-shadow-z1">
        <div class="p-article-owner">
          <%= link_to user_path(notification.comment.user), class: "c-user-name" do %>
            <%= image_tag(object_image(notification.comment.user), size: "32x32") %>
            <h4>
              <%= notification.comment.user.name %>
              <span><%= time_ago_in_words(notification.created_at) %></span>
            </h4>
          <% end %>
        </div>
        <div class="p-article-desc">
          <p>あなたのPostにコメントを投稿しました</p>
        </div>
        <%= link_to post_path(notification.comment.post, anchor: "comment_#{notification.comment.id}"), class: "p-article-notification-item", data: { no_turbolink: true } do %>
          <span><%= strip_tags(notification.comment.text).truncate(40) %></span>
          <i class="c-icon-comment"></i>
        <% end %>
      </article>

    <% when "LikeNotification" %>
      <article class="p-article p-article-notification <%= confirmed?(notification) %> u-paper-shadow-z1">
        <div class="p-article-owner">
          <%= link_to user_path(notification.like.user), class: "c-user-name" do %>
            <%= image_tag(object_image(notification.like.user), size: "32x32") %>
            <h4>
              <%= notification.like.user.name %>
              <span><%= time_ago_in_words(notification.created_at) %></span>
            </h4>
          <% end %>
        </div>
        <div class="p-article-desc">
          <p>あなたのコメントにLikeしました</p>
        </div>
        <%= link_to post_path(notification.like.comment.post, anchor: "comment_#{notification.like.comment.id}"), class: "p-article-notification-item", data: { no_turbolink: true } do %>
          <span><%= strip_tags(notification.like.comment.text).truncate(40) %></span>
          <i class="c-icon-like"></i>
        <% end %>
      </article>

    <% when "EventNotification" %>
      <article class="p-article p-article-notification <%= confirmed?(notification) %> u-paper-shadow-z1">
        <div class="p-article-owner">
          <%= link_to shop_path(notification.event.shop), class: "c-user-name" do %>
            <%= image_tag(object_image(notification.event.shop), size: "32x32") %>
            <h4>
              <%= notification.event.shop.name %>
              <span><%= time_ago_in_words(notification.created_at) %></span>
            </h4>
          <% end %>
        </div>
        <div class="p-article-desc">
          <p>新しいイベントを公開しました</p>
        </div>
        <%= link_to event_path(notification.event), class: "p-article-notification-item" do %>
          <span><%= strip_tags(notification.event.text).truncate(40) %></span>
          <%= image_tag(object_image(notification.event), size: "70x70") %>
        <% end %>
      </article>

    <% when "InterestNotification" %>
      <article class="p-article p-article-notification <%= confirmed?(notification) %> u-paper-shadow-z1">
        <div class="p-article-owner">
          <%= link_to user_path(notification.interest.user), class: "c-user-name" do %>
            <%= image_tag(object_image(notification.interest.user), size: "32x32") %>
            <h4>
              <%= notification.interest.user.name %>
              <span><%= time_ago_in_words(notification.created_at) %></span>
            </h4>
          <% end %>
        </div>
        <div class="p-article-desc">
          <p>あなたのShopのイベントにInterestしました</p>
        </div>
        <%= link_to event_path(notification.interest.event), class: "p-article-notification-item" do %>
          <span><%= strip_tags(notification.interest.event.text).truncate(40) %></span>
          <%= image_tag(object_image(notification.interest.event), size: "70x70") %>
        <% end %>
      </article>

    <% when "FollowNotification" %>
      <article class="p-article p-article-notification <%= confirmed?(notification) %> u-paper-shadow-z1">
        <div class="p-article-owner">
          <%= link_to user_path(notification.follow.user), class: "c-user-name" do %>
            <%= image_tag(object_image(notification.follow.user), size: "32x32") %>
            <h4>
              <%= notification.follow.user.name %>
              <span><%= time_ago_in_words(notification.created_at) %></span>
            </h4>
          <% end %>
        </div>
        <div class="p-article-desc">
          <p>あなたをFollowしました</p>
        </div>
      </article>
    <% end %>
  <% end %>
<% else %>
  <article class="p-article u-paper-shadow-z1">
    <p class="u-text-align__center">まだ Activity がありません</p>
  </article>
<% end %>
