<div class="p-header-tab">
  <%= link_to "Activity", notifications_path, class: "c-header-tab #{'is-current' if check_route('notifications', 'index')}" %>
  <%= link_to "Message", conversations_path, class: "c-header-tab #{'is-current' if check_route('conversations', 'index')}" %>
</div>
