<section class="l-flex__center <%= 'has-header-tab' if current_user %>">

  <div id="notification-feed">
    <%= render "notification" %>
  </div>

  <%= form_tag notifications_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @notifications, "", remote: true %>
  <% end %>

</section>
