<% if params[:ajax_handler] == "activity" %>
$ ("#notification").html("<%= escape_javascript(render 'notification', object: @notifications) %>");
  $('#paginator').html('<%= escape_javascript(render "pagination", object: @notifications) %>');
<% elsif params[:ajax_handler] == "message" %>
  $("#notification").html("<%= escape_javascript(render partial: 'conversations/conversation', object: @conversations) %>");
  $('#paginator').html('<%= escape_javascript(render partial: "conversations/pagination", object: @conversations) %>');
<% else %>
  $("#notification").html("<%= escape_javascript(render 'notification', object: @notifications) %>");
  $('#paginator').html('<%= escape_javascript(render "pagination", object: @notifications) %>');
<% end %>
