<section class="l-flex__center">
  <article class="p-article u-paper-shadow-z1">
    <!-- <div style="margin:20px 0 40px;max-width:120px;">
      <%= render partial: "common/logo" %>
    </div> -->
    <h3>スタイラー株式会社</h3>
    <p>〒150-0041<br />東京都渋谷区神南1-10-6  バルビゾン98  401</p>
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3241.55730464902!2d139.697704!3d35.6632772!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca8c6feaaaf%3A0x2cba05045567c5f8!2sSTYLER+Inc.!5e0!3m2!1sen!2sjp!4v1463473220033" height="300" frameborder="0" style="border:0;width:100%;" allowfullscreen></iframe> -->
    <br />
    <p>STYLERについてのお問い合わせは、以下のメールアドレスにご連絡ください。</p>
    <%= link_to "info@styler.link", "mailto:info@styler.link", class: "u-link-color__blue", style: "font-weight:bold;" %>
    <br />
  </article>
</section>
