<section class="l-flex__center">
  <article class="p-article u-paper-shadow-z1">
    <h3>ヘルプ</h3>

    <ul class="p-article-help-index">
      <p>登録について：</p>
      <ol>
        <li><%= link_to "ユーザーとしてSTYLERに登録したい", "#faq-1-1", class: "u-link-color__blue" %>
        </li>
        <li><%= link_to "ショップとしてSTYLERに登録したい", "#faq-1-2", class: "u-link-color__blue" %>
        </li>
        <li><%= link_to "自分の情報を充実させて、より良い接客を受けたい", "#faq-1-3", class: "u-link-color__blue" %>
        </li>
      </ol>
      <p>利用について：</p>
      <ol>
        <li><%= link_to "欲しいアイテムの情報を投稿したい", "#faq-2-1", class: "u-link-color__blue" %>
        </li>
        <li><%= link_to "投稿した文章を編集、削除したい", "#faq-2-2", class: "u-link-color__blue" %>
        </li>
        <li><%= link_to "他の人の相談から欲しいものを見つけたい", "#faq-2-3", class: "u-link-color__blue" %>
        </li>
        <li><%= link_to "お気に入りのショップの情報をフォローしたい", "#faq-2-4", class: "u-link-color__blue" %>
        </li>
        <li><%= link_to "気になったアイテムについて質問したい", "#faq-2-5", class: "u-link-color__blue" %>
        </li>
      </ol>
      <p>メルマガ配信について：</p>
      <ol>
        <li><%= link_to "定期的にファッション情報を受け取りたい", "#faq-3-1", class: "u-link-color__blue" %>
        </li>
      </ol>
      <p>退会について：</p>
      <ol>
        <li><%= link_to "アカウントを解約したい", "#faq-4-1", class: "u-link-color__blue" %>
        </li>
      </ol>
    </ul>

    <div class="p-article-help">
      <h2>登録について：</h2>

      <div id="faq-1-1" class="c-help-item">
        <h4>ユーザーとしてSTYLERに登録したい</h4>
        <p>
          <%= link_to "iOS版", "https://appsto.re/jp/eWOx-.i", class: "u-link-color__blue" %>、
          <%= link_to "Web版", "https://styler.link/users/sign_up", class: "u-link-color__blue" %>、
          どちらのSTYLERでも、登録ページからユーザーアカウントを作成することができます。
        </p>
        <p>
          Facebookログイン、またはメールアドレスとパスワードをご利用いただき、STYLERにご登録をいただくことができます。なお、Facebookログインをご利用いただいた場合でもニックネームを利用してプライバシーを保護することが可能です。
        </p>
      </div>

      <div id="faq-1-2" class="c-help-item">
        <h4>ショップとしてSTYLERに登録したい</h4>
        <p>
          ショップとしてSTYLERの利用を検討される場合は、<%= link_to "こちら", 'mailto:info@styler.link', class: "u-link-color__blue" %>までご連絡ください。
        </p>
        <p>
          弊社にて審査をした後、ご利用していただけると判断した場合にはアカウント情報をメールにてご返信いたします。
        </p>
        <div class="c-help-item__option">
          <h5>ご連絡事項：</h5>
          <ol>
            <li>ショップ名</li>
            <li>WebページのURL、その他ショップのことがわかる情報</li>
          </ol>
        </div>
      </div>
      
      <div id="faq-1-3" class="c-help-item">
        <h4>自分の情報を充実させて、より良い接客を受けたい</h4>
        <p>
          ショップからより良い接客を受けために下記の情報を登録することができます。身長、体重、生年月日といったパーソナルデータは他のユーザーからは閲覧することができません。また、ご登録いただいた情報は、いつでもサイドメニューの「アカウント設定」の箇所よりご変更いただくことができます。
        </p>
        <div class="c-help-item__option">
          <h5>プロフィール情報：</h5>
          <ol>
            <li>プロフィール（名前またはニックネーム、所在地、自己紹介文）</li>
            <li>パーソナルデータ（身長、体重、生年月日）</li>
          </ol>
        </div>
      </div>

      <div class="p-article-help">
        <h2>利用について：</h2>

        <div id="faq-2-1" class="c-help-item">
          <h4>欲しいアイテムの情報を投稿したい</h4>
          <p>
            画面下部のPostボタンから欲しいアイテムの情報を投稿することができます。投稿できる文字数は最大100文字です。
          </p>
        </div>
        <div id="faq-2-2" class="c-help-item">
          <h4>投稿した文章を編集、削除したい</h4>
          <p>
            欲しいアイテムの情報として投稿した文章はいつでも当該文章ページから編集することができます。ショップからアイテムの提案を受ける前は削除することもできますが、提案を受けた後は削除することはできませんのでご容赦ください。
          </p>
        </div>
        <div id="faq-2-3" class="c-help-item">
          <h4>他の人の相談から欲しいものを見つけたい</h4>
          <p>
            ホームフィードに並ぶ他のユーザーの投稿でも、Watchボタンを押すことによってアイテムの通知を受け取ることができます。
          </p>
        </div>
        <div id="faq-2-4" class="c-help-item">
          <h4>お気に入りのショップの情報をフォローしたい</h4>
          <p>
            ショップからアイテムの提案を受けるページにはお気に入りのショップをFollowするボタンがあります。ユーザーがショップをFollowした場合、自身のホームフィードにFollowしたショップの情報が定期的に流れます。また、Followはサイドメニューのショップリストから行うことも可能です。
          </p>
        </div>
        <div id="faq-2-5" class="c-help-item">
          <h4>気になったアイテムについて質問したい</h4>
          <p>
            ショップから提案されたアイテムの情報について詳しく知りたい場合、アイテムの提案を受けたページから他のユーザーには非公開のMessageを送信することができます。最初のMessageはユーザーのみ送ることが出来ますが、ユーザーとショップ間でメッセージルームが開通すると、ショップからも送信することが出来るようになります。また、ユーザーがショップにMessageを送信すると、自動的に当該ショップをFollowすることになります。
          </p>
        </div>
      </div>

      <div class="p-article-help">
        <h2>メルマガ配信について：</h2>
        <div id="faq-3-1" class="c-help-item">
          <h4>定期的にファッション情報を受け取りたい</h4>
          <p>
            STYLERに登録いただいたユーザーには弊社が運営するSTYLERでのコミュニケーションをまとめたニュースレターを配信しております。また、弊社が運営するオウンドメディア
            <%= link_to "STYLER MAG", "http://stylermag.link", class: "u-link-color__blue" %>からも定期的にファッション情報を受取ることが出来ます。
          </p>
        </div>
      </div>

      <div class="p-article-help">
        <h2>退会について：</h2>
        <div id="faq-4-1" class="c-help-item">
          <h4>アカウントを解約したい</h4>
          <p>アカウントの解約について、下記を記述の上<%= link_to "こちら", "mailto:info@styler.link", class: "u-link-color__blue" %>までご連絡ください。</p>
          <div class="c-help-item__option">
            <h5>申請に必要な項目：</h5>
            <ol>
              <li>アカウント・メールマガジンの解約依頼または、メールマガジンだけの解約依頼</li>
              <li>解約理由をご記載いただきご連絡ください。</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
