<div class="p-auth">
  <div class="p-auth-alert u-slidedown-effect %>">
    <span class="c-icon-information"></span>
  </div>
  <div class="p-auth-sublink">
    <%= link_to "ログインページに戻る", new_user_session_path %>
  </div>
  <div class="p-auth-container">
    <div class="p-auth-form" style="max-width: 440px;">
      <h1 style="margin: 0 80px;">
        <%= link_to root_path, title: "トップページへ" do %>
          <%= render partial: "common/logo" %>
        <% end %>
      </h1>
      <h3>ご登録のメールアドレスに確認メールを送信しました。記載されているリンクにアクセスし、アカウントをアクティベートしてください。</h3>
    </div>
  </div>
</div>
