<section class="l-flex__center">
  <article class="p-article u-paper-shadow-z1">
    <h3>プライバシーポリシー</h3>
    <%= change_br("
      弊社は、弊社が提供するサービスなどにおいてお客様に関する情報を保護するため、個人情報の保護に関する法律（平成15年法第57号）（以下「個人情報保護法」といいます。）その他関連する法令などを遵守し、以下の方針（以下「本方針」といいます。）をとります。

      1　（定義）
      （1）本方針において「個人情報」とは、個人情報保護法にいう個人情報を指すものとします。
      （2）本方針において「履歴情報および特性情報」とは、上記に定める「個人情報」以外のものをいい、ご利用いただいたサービス、ご購入された商品、ご覧になったページや広告の履歴、お客様が投稿などに利用されたキーワード、ご利用日時、ご利用の方法、ご利用環境（携帯端末を通じてご利用の場合の当該端末の通信状態、ご利用に際しての各種設定情報なども含みます。）、郵便番号や性別、職業、年齢、お客様のIPアドレス、クッキー情報、位置情報、端末の個体識別情報などを指します。

      2 （個人情報の取得）
      弊社は以下の場合に、弊社のサービスまたは弊社を経由してご利用いただく弊社の提携先（情報提供元、広告主、広告配信先などを含みます。以下｢提携先｣といいます。）のサービスを提供するために必要な範囲に限って、適法かつ公正な手段によって、以下のとおりお客様の個人情報を取得します。
      （1）お客様がログイン情報を登録される際にメールアドレス、氏名、生年月日、写真などの個人情報をお尋ねすることがあります。
      （2）ご利用者を特定する必要がある場合や弊社にお問い合わせいただいた場合に、メールアドレス、氏名、生年月日、住所、電話番号などの個人情報をお尋ねすることがあります。
      （3）お客様と提携先との間でなされたお客様の個人情報を含む取引記録・決済に関する情報を当該提携先から取得することがあります。

      3　（個人情報の利用）
      弊社は、弊社が取得した個人情報を以下の目的で利用します。ただし、第(6)項については、お客様がお客様の本名やお客様の容貌が写った写真などお客様の識別を可能とする個人情報を弊社のアプリケーション「STYLER」に投稿された場合に限ります。
      （1）お客様にご自分の登録情報の閲覧や修正、ご利用状況の閲覧を行っていただくために必要な情報を表示するため
      （2）お客様に対してお知らせやご連絡を行うため
      （3）お客様の本人確認を行うため
      （4）新商品情報のお知らせ、関連するアフターサービスのため
      （5）お客様が弊社および提携先のサービスを利用するにあたり簡便にデータを入力できるようにするため
      （6）弊社や提携先が提供しているサービスや広告の内容を改善するため、または新しいサービスを開発するため
      （7）弊社の利用規約に違反した方のご利用をお断りするため
      （8）お客様からのお問い合わせに対応するため

      4　(個人情報の開示への同意)
      弊社のサービスのご利用に際しては、次の事項をあらかじめご承認いただくものとします。
      （1）お客様同士や提携先がお客様を識別できるように、氏名、ニックネーム、写真などの個人情報を、弊社のサービスを閲覧している人または提携先に対して表示すること
      （2）お客様が提携先のサービスなどにお申込みの際に、個人情報のうちお申込みに必要な情報を当該提携先に開示すること
      （3）提携先のサービスなど、弊社以外の第三者が提供するサービスに関するお問い合わせを、弊社がお客様から受けた場合で、お問い合わせに対する回答を提携先から直接行うことが適切であると弊社が判断した場合、お問い合わせの内容およびメールアドレスなどのご連絡先を当該提携先に対して開示すること
      （4）弊社の利用規約に違反した方のご利用をお断りするために、個人の特定に必要な範囲で個人情報を提携先等に対して開示すること
      （5）弊社のサービスのご利用に関連して、お客様が法令に違反した疑いがあると認めた官公庁から、お客様と直接連絡を取るために必要な情報の開示の求めがあった場合において、当該求めに応じることが適切であると弊社が判断した場合に、連絡先を当該官公庁に対して開示すること
      （6）弊社のサービスの終了や弊社と第三者との事業提携等に伴って第三者が当該サービスの全部もしくは一部を承継する場合などにサービスの承継や統合に必要な範囲で個人情報を当該第三者に対して提供すること
      （7）弁護士など守秘義務を負う者に対して、法律相談などに関連して必要最小限の範囲で開示すること
      （8）お客様が弊社のアプリケーション「STYLER」を利用する際にお客様の本名やお客様の容貌が写った写真などお客様を特定できる個人情報を投稿された場合に限り、当該投稿の内容を弊社や提携先が提供しているサービスや広告の内容を改善するため、または新しいサービスを開発するため弊社や提携先が提供しているサービスに転載すること

      5　（個人情報の第三者への提供）
      前項であらかじめ同意いただいている場合以外についても、以下の場合には個人情報を第三者に提供することがあります。
      （1）法令に基づく請求を受けた場合
      （2）弊社または提携先のサービスのご利用に関連して、お客様が法令または弊社の利用規約に違反したときに、第三者または弊社の権利、財産またはサービスなどを保護するために必要と認められる場合であって、ご本人の同意を得ることが困難な場合
      （3）人の生命、身体または財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難な場合
      （4）その他、個人情報保護法上許容される場合

      6　（履歴情報および特性情報の取得）
      （1）弊社は、お客様がログイン情報を登録される際に、お客様に履歴情報および特性情報をお尋ねする場合があります。
      （2）弊社は、履歴情報および特性情報を、お客様が弊社や提携先のサービスをご利用になったときやページをご覧になったときに取得します。

      7　（履歴情報および特性情報の利用目的）
      弊社はお客様の履歴情報および特性情報を以下の目的で利用します。
      （1）ログインが必要なサービスにおいて、同じお客様からのアクセスかどうかを確認するため
      （2）お客様のセキュリティを確保するため、ログインされてから一定の時間が経過したお客様に対してログイン情報の再入力を促すため
      （3）弊社や弊社から広告を配信している提携先サイトの利用者数および弊社や提携先サイトへの誘導数を調査するため
      （4）弊社や提携先がお客様に対して最適なコンテンツ、広告、各種サービスのご案内を提供するため
      （5）弊社や提携先が提供しているサービスや広告の内容を・改善するため、または新しいサービスを開発するために、必要な分析・情報の抽出などを行うため
      （6）お客様からのお問い合わせに対応するために、お客様におけるサービスのご利用状況を確認するため

      8　（安全管理体制）
      （1）弊社は、お客様の個人情報や履歴情報および特性情報の漏洩、滅失または毀損を防止するため、個人情報や履歴情報および特性情報へのアクセス制限の実施、外部からの不正アクセスの防止のための措置など、安全管理のために必要かつ適切な措置を講じます。
      （2）弊社は、代表取締役を個人情報や履歴情報および特性情報の管理責任者として、適正な管理および継続的な改善を実施します。

      9　（個人情報の閲覧、修正、削除）
      （1）当社は、お客様から個人情報の照会の申し出があった場合には、合理的な範囲で個人情報を開示します。
      （2）弊社の保有する個人情報の内容が事実と異なる場合、お客様は、弊社に対してメールにてご連絡ください。ご連絡をいただいてから合理的な範囲で遅滞なく調査を行い、その結果に基づき、弊社の判断により個人情報を訂正、追加または削除します。

      10　（本方針の変更）
      （1）当社は、個人情報保護法その他の関係法令・規範を遵守するとともに、本方針の内容を継続的に見直し、改善に努めます。
      （2）本方針を変更する場合は、弊社が提供するサービスにかかるウェブサイトへの掲示その他、お客様に分かりやすい方法により告知します。ただし、法令上お客様の同意が必要となるような内容の変更を行うときは、別途弊社が定める方法により、お客様の同意を取得します。

      11　（お問い合わせ先）
      弊社における個人情報や履歴情報および特性情報の取り扱いに関するご意見、ご質問その他のお問い合わせは、弊社が指定するメールアドレス(info@styler.link)あてのメールによって行ってください。弊社は、お問い合わせに対する回答を原則としてメールのみで行います。なお、弊社はお問い合わせに対して回答する義務を負うものではありません。

      （2015年7月1日）
    ")%>
  </article>
</section>
