<section class="l-flex__center">
  <article class="p-article u-paper-shadow-z1">
    <h3>利用規約</h3>
    <%= change_br("
    （お客様用）スタイラー株式会社（以下「弊社」といいます。）は、お客様に対してアプリケーション「STYLER」およびウェブマガジン「STYLER MAG」（以下、総称して「本サービス」といいます。）を提供するにあたり、以下のとおり利用規約（以下「本利用規約」といいます。）を定めています。本利用規約は本サービスを利用されるすべてのお客様に適用されるため、本サービスをご利用になる前によくご覧ください。

    1（弊社サービスのご利用と規約への同意）
    お客様は、本利用規約にご同意いただいたことにより、本利用規約の定めに従って本サービスをご利用いただくことができます。本利用規約にご同意いただけない場合、本サービスをご利用いただくことができません。お客様が実際に本サービスをご利用いただくことで本利用規約にご同意いただいたものとみなされます。

    2（本サービスの内容に関する非保証）
    (1)弊社は、本サービスの品質にできる限りの注意を払っていますが、本サービスにより提供される情報の完全性、正確性、有用性、最新性、真実性、エラー・バグなど不具合がないこと、セキュリティ上の欠陥が存在しないこと、お客様が期待する性質および商品的価値を有することなどについて保証するものではありません。また、本サービスにより提供される情報に基づいてお客様が下した判断および起こした行動による結果について、弊社はその責任を負いません。
    (2)当社は、本サービスの確実な提供またはアクセス結果などにつき保証するものではありません。

    3（本サービスの内容に関する変更）
    弊社は、弊社の判断において、お客様への事前の通知なくして、本サービスの内容もしくは仕様を変更し、または、本サービスの提供を停止することができるものとします。

    4（本サービスの利用制限）
    (1)弊社は、サービスのご利用を、一定の年齢以上の方に限定すること、弊社が定めるお客様情報の入力などの手続を経て一定の要件を満たしたお客様のみに限定することなど、利用に際して条件を付すことができるものとします。
    (2)弊社は、反社会的勢力など（暴力団、暴力団員、総会屋、社会運動など標ぼうゴロ、特殊知能暴力集団その他これらに準ずる者を意味します。以下同じ。）または反社会的勢力などと何らかの関係を持っていると当社が判断した方、本サービスを悪用する方、第三者に迷惑をかける害意のある方に対しては、ご利用をお断りしています。

    5（お客様情報の登録・修正）
    (1)お客様にお客様情報を登録していただく場合、（ア）真実かつ正確な情報を登録していただくこと、（イ）登録内容が最新となるようお客様ご自身で適宜更新修正していただくことが、お客様の義務となります。
    (2)前項の登録・更新修正を行わなかったことにより、お客様が不利益を被ったとしても、弊社は、一切その責任を負いません。

    6（アカウント情報の自己管理）
    (1)弊社から発行されたお客様のアカウント情報は、お客様ご自身のみに適用されるアカウント情報として、お客様の責任において管理及び保管するものとし、これを第三者に利用、貸与、譲渡、名義変更、売買などをしてはならないものとします。
    (2)弊社は、お客様のアカウント情報の一致を確認した場合、当該アカウント情報を保有するものとして登録されたお客様が本サービスを利用したものとみなします。
    (3)アカウント情報が盗用された場合、または第三者に使用されていることが判明した場合は、お客様は、直ちにその旨を当社に通知し、当社の指定する措置を取るものとします。
    (4)お客様によるアカウントの管理不十分又は第三者の利用などによる損害の責任は、お客様が負担されるものとし、弊社は責任を負いません。

    7（ご利用にあたっての禁止事項）
    本サービスのご利用に際しては以下に定める行為（それらを誘発する行為や準備行為も含みます。）を禁止いたします。
    (1)日本国の法令またはご利用の際にお客様が所在する国・地域の法令に違反する行為
    (2)社会規範・公序良俗に反するもの、他人に不当な不快感を与えるもの、または他人の権利を侵害し、もしくは侵害するおそれのあるものを、投稿、掲載、開示、提供または送信（以下これら投稿、掲載、開示、提供または送信する行為を総称して「投稿など」といいます。）する行為
    (3)他のお客様の使用するソフトウエア、ハードウエアなどの機能を破壊・妨害するプログラムなどの投稿などをする行為
    (4)弊社のサーバーまたはネットワークの機能を破壊・妨害する行為
    (5)本サービス、弊社の配信する広告、または、弊社のサイト上で提供されているサービス・広告を妨害する行為
    (6)他のお客様の個人情報や履歴情報および特性情報（弊社のプライバシーポリシーにて定義します。）などをお客様に無断で収集・蓄積する行為
    (7)本サービスまたは本サービスを通じて入手した情報を、提供の趣旨に背いた目的で利用　する行為
    (8)他のお客様のログイン情報（ログイン機能がもしあれば。以下ログイン情報に係る規定につき同じ。）を使用して本サービスを利用する行為
    (9)手段の種類を問わず他人からログイン情報を入手し、または他人にログイン情報を開示・提供する行為
    (10)本サービスに関連して、反社会的勢力などに直接・間接に利益を提供する行為
    (11)その他、上記に準じて弊社が不適切と判断する行為

    8（本サービスなどの再利用の禁止）
    お客様が、本サービスやそれらを構成するデータを、当該サービスの提供目的を超えて利用した場合、弊社は、それらの行為を差し止める権利およびそれらの行為によってお客様が得た利益相当額を弊社に対して支払うよう請求する権利を有します。

    9（弊社に対する補償）
    お客様の行為が原因で生じたクレームなどに関する弊社の対応に関連して、弊社が費用を支出した場合または弊社が第三者に対して賠償金などの支払を行った場合、お客様は、弊社が支出した費用や第三者に支払った賠償金など（弊社がクレームなどへの対応のために負担した弁護士費用を含みます。）を負担するものとします。

    10（お客様のデータおよびコンテンツの取扱い）
    (1)本サービスに対してお客様が投稿などをしたコンテンツについては、お客様または当該コンテンツの著作権者に著作権が帰属し、弊社はお客様が投稿などをしたコンテンツに関して著作権を取得することはありません。ただし、弊社は、本サービスの提供・維持・改善または本サービスのプロモーションに必要な範囲で、コンテンツを複製、翻訳、翻案、上映、展示、頒布、譲渡、貸与、出版および自動公衆送信およびそのために必要な送信可能化を無償、無期限かつ地域非限定で行うことができるものとします。
    (2)弊社は、本利用規約の順守状況などを確認する目的で必要に応じてそのコンテンツの内容を閲覧し、本利用規約に照らして削除することができるものとします。
    (3)当該機能の運用には万全を期しておりますが、運用上の事情により、やむを得ず当該コンテンツが公開対象範囲外の方に公開されてしまう可能性がありますので、あらかじめそのことにご同意のうえで、当該機能をご利用いただくものとします。
    (4)お客様が本サービスに投稿されたコンテンツの取扱いは、複数のお客様あるいはショップの手によって引用、編集、記述、修正、削除（以下「引用など」といいます。）などがなされてひとつの情報が形成されていく機能を提供しているサービスにおいては、お客様が投稿されたコンテンツを他のお客様が自由に引用などの利用を行うことを承認し、著作権、著作者人格権その他の権利を行使しないことをお客様にお約束いただいたものとみなします。
    (5)お客様は、弊社および弊社から権利を承継しまたは許諾された者に対し、著作者人格権を行使しないものとします。
    (6)お客様は、自己の責任においてコンテンツのバックアップを行い、弊社は、コンテンツのバックアップを行う義務を負わないものとします。
    (7)弊社は、お客様のアカウント削除後も、お客様が弊社に提供した情報を保有・利用できるものとします。

    11（広告掲載について）
    弊社は、本サービスに弊社または弊社に掲載依頼をした第三者の広告を掲載することができるものとします。

    12（投稿などの削除、サービスの利用停止、アカウント削除について）
    弊社は、本サービスを適正に運営するために、以下の場合にはあらかじめ何らの通知をすることなく、お客様に対して、コンテンツその他の情報の全部もしくは一部の削除、本サービスの利用の一時停止もしくは制限、またはお客様のアカウントの削除を含む本利用契約の解除などの措置、あるいは、違反行為の中止、送信または投稿した情報の自発的な削除・訂正を求める措置を講じることができるものとします。
    また、お客様が複数のアカウントを登録されている場合には、それらすべてのアカウントに対して上記措置がとられる場合があります。
    なお、弊社は、本条に基づき弊社が行った措置によりお客様に生じた不利益や損害について一切の責任を負いません。
    (1)お客様が本利用規約に定められている事項に違反した場合、もしくはそのおそれがあると弊社が判断した場合
    (2)お客様が破産もしくは民事再生の手続の申立てを受け、またはお客様自らがそれらの申立てを行うなど、お客様の信用不安が発生したと弊社が判断した場合
    (3)ログイン情報が反社会的勢力などによって登録または使用された場合、もしくはそのおそれがあると弊社が判断した場合
    (4)お客様が一定期間にわたってログイン情報または特定のサービスを使用していない場合
    (5)弊社からお客様に対する問合せその他の回答を求める連絡に対して１か月間応答がない場合
    (6)その他、お客様との信頼関係が失われた場合など、弊社とお客様との契約関係の維持が困難であると弊社が判断した場合

    13（免責事項）
    弊社の債務不履行に基づく損害賠償責任は、弊社の故意または重過失によらない場合には免責されるものとします。
    なお、お客様との本利用規約に基づく弊社のサービスのご利用に関する契約が消費者契約法に定める消費者契約に該当する場合、上記の免責は適用されないものとし、弊社は、弊社の故意・重過失に起因する場合を除き、通常生じうる損害の範囲内で、かつ、有料サービスにおいては代金額（継続的なサービスの場合は1か月分相当額）を上限として損害賠償責任を負うものとします。

    14（外部サービス利用上の注意）
    お客様が、本サービスの利用にあたり、Facebook、Twitterその他の外部サービスなどを利用する場合には、当該外部サービスについては、当該外部サービスを提供する企業又は個人などが責任を負うものとし、弊社は、当該外部サービスにつき、いかなる保証も行うものではありません。

    15（利用規約の変更について）
    (1)弊社が必要と判断した場合には、お客様にあらかじめ通知することなくいつでも本利用　規約を変更することができるものとします。ただし、ご利用いただいているお客様に大きな影響を与える場合には、あらかじめ合理的な事前告知期間を設けるものとします。
    (2)変更後の利用規約は、当社が別途定める場合を除いて、本サイト上に表示された時点より効力を生じるものとします。
    (3)お客様が、本利用規約の変更の効力が生じた後に本サービスを利用する場合には、変更後の本利用規約のすべての記載事項について同意したものとみなされます。

    16（本サービスの一時的な中断）
    (1)弊社は、次の各号いずれかの事由に該当する場合、お客様に事前に通知することなく、一時的に本サービスの提供を中断することがあります。
    (ア)本サービス提供のためのシステムまたは関連設備の保守を定期的または緊急に行うとき
    (イ)弊社が利用する通信回線、電力などの提供が中断されたとき
    (ウ)火災、停電などにより本サービスの提供ができなくなったとき
    (エ)地震、台風、洪水、津波などの天災その他の非常事態が発生し、またそのおそれが生じたために、法令・指導により通信の制限などの要請、指示があった場合または弊社が必要と判断したとき
    (オ)その他技術的に不可能な事由により本サービスの提供ができなくなったとき
    (2)弊社は、本サービスの提供の遅滞または一時的な中断が発生したとしても、これに起因して、お客様または第三者が被った損害については、一切、責任を負わないものとします。

    17（本サービスの中止）
    弊社は、弊社が定める相当程度の予告期間をもってお客様に本サービス上にて通知の上、本サービスの提供を中止することができます。

    18（退会）
    お客様において、本サービスの利用の終了を希望される場合は、所定の方法にて当社に届け出るものとします。

    19（通知または連絡）
    お客様が弊社への連絡を希望される場合には、弊社が指定するメールアドレス(info@styler.link)あてのメールによって行っていただくものとします。弊社は、お客様からのお問い合わせに対する回答を原則としてメールのみで行います。なお、弊社はお客様からのお問い合わせに対して回答する義務を負うものではありません。

    20（権利義務などの譲渡の禁止）
    お客様は、本利用規約に基づくすべての契約について、その契約上の地位およびこれにより生じる権利義務の全部または一部を、弊社の書面による事前の承諾なく第三者に譲渡することはできません。

    21（事業譲渡などの場合）
    弊社が、本サービスまたは本サービスにかかる事業を、事業譲渡し、または合併もしくは会社分割などにより事業承継させた場合、当社は、本利用契約上の地位、権利および義務ならびに登録情報その他のお客様の情報を譲受人に譲渡または承継させることができるものとします。お客様は、当該譲渡または承継についてあらかじめこれに同意したものとみなします。

    22（準拠法、裁判管轄）
    本利用規約の成立、効力発生、解釈にあたっては日本法を準拠法とします。
    また、本サービス（掲載内容や広告などを含みます。）に起因または関連して弊社とお客様との間で生じた紛争については東京地方裁判所を第一審の専属的合意管轄裁判所とします。

    23（利用規約の適用制限）
    本利用規約の規定がお客様との本利用規約に基づく契約に適用される関連法令に反するとされる場合、当該規定は、その限りにおいて、当該お客様との間で成立した利用契約には適用されないものとします。
    ただし、この場合でも、本利用規約のほかの規定の効力には影響しないものとします。

    24（話合いの手続について）
    本サービス上に投稿をされたコンテンツについて苦情などが寄せられ、苦情の申告をされた方と当該申告の対象となったコンテンツの投稿などをしたお客様との間での話合いによる解決が適切であると弊社が判断した場合には、弊社は、弊社が定める手順に従って話合いの手続を求めることができるものとします。

    （2015年7月1日）



    利用規約（ショップ会員用）

    スタイラー株式会社（以下「弊社」といいます。）は、ショップ会員に対してアプリケーション「STYLER」およびウェブマガジン「STYLER MAG」（以下、総称して「本サービス」といいます。）を提供するにあたり、以下のとおり利用規約（以下「本利用規約」といいます。）を定めています。本利用規約は本サービスを利用されるすべてのショップ会員に適用されるため、本サービスをご利用になる前によくご覧ください。

    1（弊社サービスのご利用と規約への同意）
    ショップ会員は、本利用規約にご同意いただいたことにより、本利用規約の定めに従って本サービスをご利用いただくことができます。本利用規約にご同意いただけない場合、本サービスをご利用いただくことができません。ショップ会員が実際に本サービスをご利用いただくことで本利用規約にご同意いただいたものとみなされます。

    2（本サービスの内容に関する非保証）
    (1)弊社は、本サービスの品質にできる限りの注意を払っていますが、本サービスにより提供される情報の完全性、正確性、有用性、最新性、真実性、エラー・バグなど不具合がないこと、セキュリティ上の欠陥が存在しないこと、ショップ会員が期待する性質および商品的価値を有することなどについて保証するものではありません。また、本サービスにより提供される情報に基づいてショップ会員が下した判断および起こした行動による結果について、弊社はその責任を負いません。
    (2)当社は、本サービスの確実な提供またはアクセス結果などにつき保証するものではありません。

    3（本サービスの内容に関する変更）
    弊社は、弊社の判断において、ショップ会員への事前の通知なくして、本サービスの内容もしくは仕様を変更し、または、本サービスの提供を停止することができるものとします。

    4（本サービスの利用制限）
    (1)弊社は、サービスのご利用を、一定の年齢以上の方に限定すること、弊社が定めるショップ会員情報の入力などの手続を経て一定の要件を満たしたショップ会員のみに限定することなど、利用に際して条件を付すことができるものとします。
    (2)弊社は、反社会的勢力など（暴力団、暴力団員、総会屋、社会運動など標ぼうゴロ、特殊知能暴力集団その他これらに準ずる者を意味します。以下同じ。）または反社会的勢力などと何らかの関係を持っていると当社が判断した方、本サービスを悪用する方、第三者に迷惑をかける害意のある方に対しては、ご利用をお断りしています。

    5（ショップ会員情報の登録・修正）
    (1)ショップ会員にショップ会員情報を登録していただく場合、（ア）真実かつ正確な情報を登録していただくこと、（イ）登録内容が最新となるようショップ会員ご自身で適宜更新修正していただくことが、ショップ会員の義務となります。
    (2)前項の登録・更新修正を行わなかったことにより、ショップ会員が不利益を被ったとしても、弊社は、一切その責任を負いません。

    6（アカウント情報の自己管理）
    (1)弊社から発行されたショップ会員のアカウント情報は、ショップ会員ご自身のみに適用されるアカウント情報として、ショップ会員の責任において管理及び保管するものとし、これを第三者に利用、貸与、譲渡、名義変更、売買などをしてはならないものとします。
    (2)弊社は、ショップ会員のアカウント情報の一致を確認した場合、当該アカウント情報を保有するものとして登録されたショップ会員が本サービスを利用したものとみなします。
    (3)IDとパスワードの組み合わせなどのログインに必要とされる情報が一致してログインされた場合には、弊社は、当該ログイン情報を登録されているショップ会員ご自身によるご利用であるとみなして、当該ログイン情報を用いたサービスの利用によって料金や代金（弊社のサービスのご利用にかかる代金、広告料、利用料、会費その他名目は問いません。また弊社が第三者から回収を委託したお客様の債務を含みます。以下「代金」といいます。）が発生した場合には、当該ログイン情報を登録されているショップ会員に課金いたします。
    (4)アカウント情報が盗用された場合、または第三者に使用されていることが判明した場合は、ショップ会員は、直ちにその旨を当社に通知し、当社の指定する措置を取るものとします。
    (5)ショップ会員によるアカウントの管理不十分又は第三者の利用などによる損害の責任は、ショップ会員が負担されるものとし、弊社は責任を負いません。

    7（CRM情報の取得）
    ショップ会員が、本サービスに関連してCRM情報を取得する場合は、弊社が別途定めるCRM情報取扱規約に従うものとします。

    8（広告の申込みなど）
    ショップ会員が、本サービスに関連して広告の掲載をする場合は、弊社が別途定める広告取扱規約に従うものとします。

    9（ご利用にあたっての禁止事項）
    本サービスのご利用に際しては以下に定める行為（それらを誘発する行為や準備行為も含みます。）を禁止いたします。
    (1)日本国の法令またはご利用の際にショップ会員が所在する国・地域の法令に違反する行為
    (2)社会規範・公序良俗に反するもの、他人に不当な不快感を与えるもの、または他人の権利を侵害し、もしくは侵害するおそれのあるものを、投稿、掲載、開示、提供または送信（以下これら投稿、掲載、開示、提供または送信する行為を総称して「投稿など」といいます。）する行為
    (3)他のショップ会員またはお客様の使用するソフトウエア、ハードウエアなどの機能を破壊・妨害するプログラムなどの投稿などをする行為
    (4)弊社のサーバーまたはネットワークの機能を破壊・妨害する行為
    (5)本サービス、弊社の配信する広告、または、弊社のサイト上で提供されているサービス・広告を妨害する行為
    (6)他のショップ会員またはお客様の個人情報や履歴情報および特性情報（弊社のプライバシーポリシーにて定義します。）などを当該他のショップ会員またはお客様に無断で収集・蓄積する行為
    (7)本サービスまたは本サービスを通じて入手した情報を、提供の趣旨に背いた目的で利用　する行為
    (8)他のショップ会員またはお客様のログイン情報を使用して本サービスを利用する行為
    (9)手段の種類を問わず他人からログイン情報を入手し、または他人にログイン情報を開　示・提供する行為
    (10)本サービスに関連して、反社会的勢力などに直接・間接に利益を提供する行為
    (11)その他、上記に準じて弊社が不適切と判断する行為

    10（本サービスなどの再利用の禁止）
    ショップ会員が、本サービスやそれらを構成するデータを、当該サービスの提供目的を超えて利用した場合、弊社は、それらの行為を差し止める権利およびそれらの行為によってショップ会員が得た利益相当額を弊社に対して支払うよう請求する権利を有します。

    11（弊社に対する補償）
    ショップ会員の行為が原因で生じたクレームなどに関する弊社の対応に関連して、弊社が費用を支出した場合または弊社が第三者に対して賠償金などの支払を行った場合、ショップ会員は、弊社が支出した費用や第三者に支払った賠償金など（弊社がクレームなどへの対応のために負担した弁護士費用を含みます。）を負担するものとします。

    12（ショップ会員のデータおよびコンテンツの取扱い）
    (1)本サービスに対してショップ会員が投稿などをしたコンテンツについては、ショップ会員または当該コンテンツの著作権者に著作権が帰属し、弊社はショップ会員が投稿などをしたコンテンツに関して著作権を取得することはありません。ただし、弊社は、本サービスの提供・維持・改善または本サービスのプロモーションに必要な範囲で、コンテンツを複製、翻訳、翻案、上映、展示、頒布、譲渡、貸与、出版および自動公衆送信およびそのために必要な送信可能化を無償、無期限かつ地域非限定で行うことができるものとします。
    (2)弊社は、本利用規約の順守状況などを確認する目的で必要に応じてそのコンテンツの内容を閲覧し、本利用規約に照らして削除することができるものとします。
    (3)当該機能の運用には万全を期しておりますが、運用上の事情により、やむを得ず当該コンテンツが公開対象範囲外の方に公開されてしまう可能性がありますので、あらかじめそのことにご同意のうえで、当該機能をご利用いただくものとします。
    (4)ショップ会員が本サービスに投稿されたコンテンツの取扱いは、複数のショップ会員あるいはショップの手によって引用、編集、記述、修正、削除（以下「引用など」といいます。）などがなされてひとつの情報が形成されていく機能を提供しているサービスにおいては、ショップ会員が投稿されたコンテンツを他のショップ会員が自由に引用などの利用を行うことを承認し、著作権、著作者人格権その他の権利を行使しないことをショップ会員にお約束いただいたものとみなします。
    (5)ショップ会員は、弊社および弊社から権利を承継しまたは許諾された者に対し、著作者人格権を行使しないものとします。
    (6)ショップ会員は、自己の責任においてコンテンツのバックアップを行い、弊社は、コンテンツのバックアップを行う義務を負わないものとします。
    (7)弊社は、ショップ会員のアカウント削除後も、ショップ会員が弊社に提供した情報を保有・利用できるものとします。

    13（広告掲載について）
    弊社は、本サービスに弊社または弊社に掲載依頼をした第三者の広告を掲載することができるものとします。

    14（投稿などの削除、サービスの利用停止、アカウント削除について）
    弊社は、本サービスを適正に運営するために、以下の場合にはあらかじめ何らの通知をすることなく、ショップ会員に対して、コンテンツその他の情報の全部もしくは一部の削除、本サービスの利用の一時停止もしくは制限、またはショップ会員のアカウントの削除を含む本利用契約の解除などの措置、あるいは、違反行為の中止、送信または投稿した情報の自発的な削除・訂正を求める措置を講じることができるものとします。
    また、ショップ会員が複数のアカウントを登録されている場合には、それらすべてのアカウントに対して上記措置がとられる場合があります。
    なお、弊社は、本条に基づき弊社が行った措置によりショップ会員に生じた不利益や損害について一切の責任を負いません。
    (1)ショップ会員が本利用規約に定められている事項に違反した場合、もしくはそのおそれがあると弊社が判断した場合
    (2)弊社にお支払いいただく代金について支払の遅滞が生じた場合
    (3)ショップ会員が破産もしくは民事再生の手続の申立てを受け、またはショップ会員自らがそれらの申立てを行うなど、ショップ会員の信用不安が発生したと弊社が判断した場合
    (4)ログイン情報が反社会的勢力などによって登録または使用された場合、もしくはそのおそれがあると弊社が判断した場合
    (5)ショップ会員が一定期間にわたってログイン情報または特定のサービスを使用していない場合
    (6)弊社からショップ会員に対する問合せその他の回答を求める連絡に対して１か月間応答がない場合
    (7)その他、ショップ会員との信頼関係が失われた場合など、弊社とショップ会員との契約関係の維持が困難であると弊社が判断した場合

    15（免責事項）
    弊社の債務不履行に基づく損害賠償責任は、弊社の故意または重過失によらない場合には免責されるものとします。
    なお、ショップ会員との本利用規約に基づく弊社のサービスのご利用に関する契約が消費者契約法に定める消費者契約に該当する場合、上記の免責は適用されないものとし、弊社は、弊社の故意・重過失に起因する場合を除き、通常生じうる損害の範囲内で、かつ、有料サービスにおいては代金額（継続的なサービスの場合は1か月分相当額）を上限として損害賠償責任を負うものとします。

    16（外部サービス利用上の注意）
    ショップ会員が、本サービスの利用にあたり、Facebook、Twitterその他の外部サービスなどを利用する場合には、当該外部サービスについては、当該外部サービスを提供する企業又は個人などが責任を負うものとし、弊社は、当該外部サービスにつき、いかなる保証も行うものではありません。

    17（利用規約の変更について）
    (1)弊社が必要と判断した場合には、ショップ会員にあらかじめ通知することなくいつでも本利用規約を変更することができるものとします。ただし、ご利用いただいているショップ会員に大きな影響を与える場合には、あらかじめ合理的な事前告知期間を設けるものとします。
    (2)変更後の利用規約は、当社が別途定める場合を除いて、本サイト上に表示された時点より効力を生じるものとします。
    (3)ショップ会員が、本利用規約の変更の効力が生じた後に本サービスを利用する場合には、変更後の本利用規約のすべての記載事項について同意したものとみなされます。

    18（本サービスの一時的な中断）
    (1)弊社は、次の各号いずれかの事由に該当する場合、ショップ会員に事前に通知することなく、一時的に本サービスの提供を中断することがあります。
    (ア)本サービス提供のためのシステムまたは関連設備の保守を定期的または緊急に行うとき
    (イ)弊社が利用する通信回線、電力などの提供が中断されたとき
    (ウ)火災、停電などにより本サービスの提供ができなくなったとき
    (エ)地震、台風、洪水、津波などの天災その他の非常事態が発生し、またそのおそれが生じたために、法令・指導により通信の制限などの要請、指示があった場合または弊社が必要と判断したとき
    (オ)その他技術的に不可能な事由により本サービスの提供ができなくなったとき
    (2)弊社は、本サービスの提供の遅滞または一時的な中断が発生したとしても、これに起因して、ショップ会員または第三者が被った損害については、一切、責任を負わないものとします。

    19（本サービスの中止）
    弊社は、弊社が定める相当程度の予告期間をもってショップ会員に本サービス上にて通知の上、本サービスの提供を中止することができます。

    20（退会）
    ショップ会員において、本サービスの利用の終了を希望される場合は、所定の方法にて当社に届け出るものとします。

    21（通知または連絡）
    ショップ会員が弊社への連絡を希望される場合には、弊社が指定するメールアドレス(info@styler.link)あてのメールによって行っていただくものとします。弊社は、ショップ会員からのお問い合わせに対する回答を原則としてメールのみで行います。なお、弊社はショップ会員からのお問い合わせに対して回答する義務を負うものではありません。

    22（権利義務などの譲渡の禁止）
    ショップ会員は、本利用規約に基づくすべての契約について、その契約上の地位およびこれにより生じる権利義務の全部または一部を、弊社の書面による事前の承諾なく第三者に譲渡することはできません。

    23（事業譲渡などの場合）
    弊社が、本サービスまたは本サービスにかかる事業を、事業譲渡し、または合併もしくは会社分割などにより事業承継させた場合、当社は、本利用契約上の地位、権利および義務ならびに登録情報その他のショップ会員の情報を譲受人に譲渡または承継させることができるものとします。ショップ会員は、当該譲渡または承継についてあらかじめこれに同意したものとみなします。

    24（準拠法、裁判管轄）
    本利用規約の成立、効力発生、解釈にあたっては日本法を準拠法とします。
    また、本サービス（掲載内容や広告などを含みます。）に起因または関連して弊社とショップ会員との間で生じた紛争については東京地方裁判所を第一審の専属的合意管轄裁判所とします。

    25（利用規約の適用制限）
    本利用規約の規定がショップ会員との本利用規約に基づく契約に適用される関連法令に反するとされる場合、当該規定は、その限りにおいて、当該ショップ会員との間で成立した利用契約には適用されないものとします。
    ただし、この場合でも、本利用規約のほかの規定の効力には影響しないものとします。

    26（話合いの手続について）
    本サービス上に投稿をされたコンテンツについて苦情などが寄せられ、苦情の申告をされた方と当該申告の対象となったコンテンツの投稿などをしたショップ会員との間での話合いによる解決が適切であると弊社が判断した場合には、弊社は、弊社が定める手順に従って話合いの手続を求めることができるものとします。

    （2015年7月1日）
    ")%>
  </article>
</section>
