<%= @registration.staff_name %>様

お世話になっております。スタイラー株式会社カスタマーサポートチームです。
ご申請いただいたSTYLERへのショップ登録ですが、弊社で検討を重ねた結果、ぜひ<%= @registration.shop_name %>様にはSTYLERにご参加いただきたく存じます。

下記URLよりメールアドレスとパスワードを入力して、サービスにログインください。
今後ともよろしくお願い致します。

<%= "#{@domain}/users/sign_in" %>

【アカウント情報】
メールアドレス：<%= @registration.staff_email %>
パスワード：ご登録頂いたパスワード

<%= render partial: 'common/mailer_signature' %>
