<%= @shop_name %>様

お世話になっております。スタイラー株式会社 STYLER MAG編集部です。

この度はSTYLER MAGの記事が提携サイトにて転載されましたので、本メールにてお知らせ致します。
下記URLより該当記事をご確認ください。

<% @links.each do |link| %>
<%= link %>
<% end %>

修正点等ございましたらお気軽にご連絡ください。
今後ともSTYLER MAGをよろしくお願い致します。

STYLER MAG 編集部

<%= render partial: 'common/mailer_signature' %>
