<div dir="ltr">

  <div style="margin:0;padding:50px;background-color:#f2f2f2;min-height:100%!important;width:100%!important">
    <center>

      <table style="width:580px;">
        <tbody>
          <tr>
            <td style="background: #FFF; padding:0;">
              <%= image_tag 'logo_notification.jpg', size: '580x140', alt: 'STYLER' %>
              <p style="font:24px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1.3; margin:45px 80px 0;">
                <%= @staff.name.presence || @staff.email %>さん Welcome to STYLER !
              </p>
              <h2 style="font:16px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.6; margin:30px 80px;">
                <% if @password %>
                スタッフアカウントが作成されましたので、本メールにてお知らせ致します。
                <% else %>
                あなたのアカウントがスタッフアカウントとしてアクティベートされましたので、本メールにてお知らせ致します。
                <% end %>
                <br><br>
                【メールアドレス】<br>
                <span style="font-weight:bold;"><%= @staff.email %></span><br><br>
                <% if @password %>
                【パスワード】<br>
                <span style="font-weight:bold;"><%= @password %></span><br>
                ※このパスワードは仮発行されたものです。ログイン後すぐに変更してください。
                <% else %>
                【パスワード】<br>
                <span style="font-weight:bold;">ご登録のパスワード</span><br>
                <% end %>
              </h2>
              <h2 style="font:16px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.6; margin:30px 80px;">
                STYLERは、人とのつながりでファッションを楽しむことができるサービスです。このメールでは、ユーザーやショップスタッフとコミュニケーションするための機能を紹介します。
              </h2>
            </td>
          </tr>
          <tr>
            <td style="height: 80px;"></td>
          </tr>
          <tr>
            <td style="background: #FFF; padding:0;">
              <%= image_tag 'welcome_staff_image-01.jpg', size: '580x363', alt: 'Replyを作る' %>
              <p style="font:30px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1; margin:45px 80px 0;">
                1. Reply
              </p>
              <h2 style="font:24px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.6; margin:30px 80px;">
                Replyでアイテムをおすすめしましょう
              </h2>
              <p style="font:14px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#717171; line-height:1.7; margin:0px 80px 55px;">
                ユーザーが、自分の欲しいものについて投稿することをPostと言います。そのPostに対してあなたのショップのアイテムを投稿することをReplyと言います。<br>
                Replyをすることで、Postのニーズに共感する複数のユーザーの目に止まります。積極的にReplyをして認知度を向上することで、ファンを増やすきっかけになります。
              </p>
            </td>
          </tr>
          <tr>
            <td style="height: 80px;"></td>
          </tr>
          <tr>
            <td style="background: #FFF; padding:0;">
              <%= image_tag 'welcome_staff_image-02.jpg', size: '580x363', alt: 'Followerを増やす' %>
              <p style="font:30px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1; margin:45px 80px 0;">
                2. Follower
              </p>
              <h2 style="font:24px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.6; margin:30px 80px;">
                注目を集めてフォロワーを増やしましょう
              </h2>
              <p style="font:14px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#717171; line-height:1.7; margin:0px 80px 55px;">
                あなたのショップのスタッフは、フォロワーを集めることができます。スタッフがReplyした場合、全フォロワーにReply通知が届きます。積極的にReplyをし、フォロワーを増やしましょう。
              </p>
            </td>
          </tr>
          <tr>
            <td style="height: 80px;"></td>
          </tr>
          <tr>
            <td style="background: #FFF; padding:0;">
              <%= image_tag 'welcome_staff_image-03.jpg', size: '580x363', alt: 'Messageを送る' %>
              <p style="font:30px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1; margin:45px 80px 0;">
                3. Message
              </p>
              <h2 style="font:24px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.6; margin:30px 80px;">
                フォロワーとメッセージができます
              </h2>
              <p style="font:14px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#717171; line-height:1.7; margin:0px 80px 55px;">
                ユーザーはショップスタッフと個別にメッセージをすることができます。また、フォロワーに対してはあなたからメッセージを送信することができます。お礼のメッセージと一緒に好みやニーズなどについても聞いてみましょう。
              </p>
            </td>
          </tr>
          <tr>
            <td style="height: 80px;"></td>
          </tr>
          <tr>
            <td style="background: #FFF; padding:0;">
              <%= image_tag 'welcome_staff_image-04.jpg', size: '580x363', alt: 'Eventを開催する' %>
              <p style="font:30px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1; margin:45px 80px 0;">
                4. Event
              </p>
              <h2 style="font:24px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#343434; line-height:1.6; margin:30px 80px;">
                イベント作成で集客アップ
              </h2>
              <p style="font:14px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#717171; line-height:1.7; margin:0px 80px 55px;">
                Eventページではあなたのショップのイベントを作成することができます。作成したイベントは、すべてのユーザーに対して通知されます。セールや展示会などのイベント情報を定期的に発信して、あなたのショップのファンを増やして来店につなげましょう。
              </p>
            </td>
          </tr>
          <tr>
            <td style="height: 80px;"></td>
          </tr>
          <tr>
            <td style="background: #FFF; padding: 55px 80px;">
              <p style="font:18px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color:#000; line-height:1.6; margin-bottom: 20px;">
                これらの機能を最大限に活用するために、まずはログインしてあなたのショップのプロフィールを完成させましょう！
              </p>
              <%= link_to 'プロフィールを設定する', edit_shop_url(@staff.shop), style:"display:block; height:60px; font:16px 'HiraKakuProN-W3','HelveticaNeue',sans-serif; color: #FFF;line-height:60px; background: #28abec; border-radius:8px; text-decoration:none; text-align:center;" %>
            </td>
          </tr>
          <tr>
            <td style="text-align: right; padding-top:10px;">
              <a href="https://www.facebook.com/styler.link/"><%= image_tag 'icon-facebook_gray.png', size:'32x32', alt: 'FACEBOOK' %></a>
              <a href="https://www.instagram.com/styler.link/"><%= image_tag 'icon-instagram_gray.png', size:'32x32', alt: 'INSTAGRAM' %></a>
            </td>
          </tr>
        </tbody>
      </table>

    </center>
  </div>

</div>


</body>
</html>
