<%= @staff.name.presence || @staff.email %>様

お世話になっております。スタイラー株式会社カスタマーサポートチームです。
<% if @password %>
スタッフアカウントが作成されましたので、本メールにてお知らせ致します。
<% else %>
あなたのアカウントがスタッフアカウントとしてアクティベートされましたので、本メールにてお知らせ致します。
<% end %>

下記URLよりメールアドレスとパスワードを入力して、サービスをご利用ください。
今後ともよろしくお願い致します。

<%= "#{@domain}/users/sign_in" %>

【アカウント情報】
メールアドレス：<%= @staff.email %>
<% if @password %>
仮パスワード：<%= @password %>
※このパスワードは仮発行されたものです。ログイン後すぐに変更してください。
<% else %>
パスワード：ご登録のパスワード
<% end %>

<%= render partial: 'common/mailer_signature' %>
