@font-face {
    font-family: HiraginoSans-W6;
    src: url("HiraginoSansGBW6.otf") format("opentype");
}

@font-face {
    font-family: HiraginoSans-W3;
    src: url("HiraginoSansGBW3.ttf");
}


#wrapper {
    margin: 20px auto;
    padding-top: 20px;
    border: 1px solid #9B9B9B;
    border-radius: 8px;
}


#bg_layer {
    cursor: pointer;
    position: relative;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
}


#shop_logo {
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 10px;
}


#shop_logo img {
    width: 8vw;
    height: 8vw;
}


#shop_name {
    width: 8vw;
    height: 8vw;
    font-family: HiraginoSans-W6;
    font-size: 2vw;
    color: #1A1A1C;
    letter-spacing: 0;
    position: relative;
    text-align: left;
    vertical-align: middle;
}


#reply_image {
    width: inherit;
    height: inherit;
    border-radius: 12px;
}


#reply_image img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    position: relative;
}


#brand_name {
    width: 100%;
    height: 100%;
    font-size: 4vw;
    font-family: HiraginoSans-W6;
    color: #1A1A1C;
    letter-spacing: 0;
    display: block;
    padding-left: 20px;
}


#product_name {
    width: 100%;
    height: 100%;
    font-family: HiraginoSans-W3;
    font-size: 3vw;
    color: #1A1A1C;
    letter-spacing: 0;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}


#product_price {
    width: 100%;
    height: 100%;
    font-family: HiraginoSans-W6;
    font-size: 2vw;
    color: #9B9B9B;
    letter-spacing: 0;
    display: block;
    padding-left: 20px;
}


#layer {
    background: #EFEFEF;
    width: 100%;
    height: 15vw;
    border-radius: 0 0 8px 8px;
    padding-left: 2vw;
}


#number_of_likes {
    font-family: HiraginoSans-W6;
    font-size: 5vw;
    color: #9B9B9B;
    letter-spacing: -1.67px;
}


#label_likes {
    font-size: 2vw;
    text-align: left;
    font-family: HiraginoSans-W3;
    color: #9B9B9B;
}


#button_layer {
    width: 100%;
    height: 100%;
    background: #FBFBFB;
    border-radius: 6px;
}


.fa-heart-o {
    color: #F0405A;
}

.fa-heart-o:before {
    font-size: 7vw;
}


#label_like {
    width: 45px;
    height: 20px;
    line-height: 20px;
    font-family: HiraginoSans-W6;
    font-size: 20px;
    color: #F0405A;
    letter-spacing: 0;
    position: absolute;
}


#powered_by {
    width: 79px;
    height: 14px;
    line-height: 21px;
    font-family: HiraginoSans-W3;
    font-size: 14px;
    color: #1A1A1C;
    letter-spacing: 0;
    position: absolute;
    top: 585px;
    left: 380px;
}


#logo {
    width: 100%;
    height: 2vw;
}



#logo>img {
    width: 100%;
}


#footer {
    padding-bottom: 2vw;
    padding-top: 2vw;
    padding-right: 4%;
}


#outer {
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}



#table-container {
    height: 100%;
    width: 100%;
    display: table;
}


.table-cell {
    font-size: 3vw;
    font-family: HiraginoSans-W6;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    display: table-cell;
}


.like-label {
    text-align: left;
    color: #F0405A;
}


.powered_by {
    font-family: HiraginoSans-W3;
    padding: 0px;
    font-size: 1.5vw;
    float: none;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 40px;
}


.main-content {
    float: none;
    display: table-cell
}


.content {
    display: table;
}

/* unvisited link */
a:link {
    text-decoration: none
}

/* visited link */
a:visited {
    text-decoration: none
}

/* mouse over link */
a:hover {
    text-decoration: none
}

/* selected link */
a:active {
    text-decoration: none
}

@media only screen and (max-width: 600px) {
    .powered_by {
        padding-bottom: 30px;
    }
    #shop_logo {
        margin-bottom: 10px;
        padding-left: 15px;
    }
}

@media only screen and (min-width: 600px) {
    #shop_logo {
        margin-bottom: 20px;
        padding-left: 10px;
    }
    .powered_by {
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 2400px) {
    #shop_name {
        padding-left: 40px;
    }
    #label_likes {
        padding-left: 10px;
    }
    .powered_by {
        padding-bottom: 60px;
    }
}