<%= form_tag(likes_path, remote: true) do %>
  <input type="hidden" name="comment_id" value="<%= @comment.id %>">
  <%= button_tag type: 'submit', class: "c-button__like" do %>
    <span class="c-icon-like"></span>
    <span><%= @comment.likes.count %></span>
  <% end%>
<% end %>
