<%= form_tag(like_path(@like), { remote: true, method: "delete" }) do %>
  <%= button_tag type: 'submit', class: "c-button__like is-active" do %>
    <span class="c-icon-like"></span>
    <span><%= @comment.likes.count %></span>
  <% end %>
<% end %>
