$('#like_<%= @comment.id %>').html('<%=j render partial: "destroy" %>');
ga('send', {
  hitType: 'event',
  eventCategory: 'Reply',
  eventAction: 'like',
  eventLabel: <%= @comment.id %>,
  eventValue: 1
});
