<div class="p-article-stats">
  <%= link_to user_path(@user) do %><%= @user.posts.count %><span>Posts</span><% end %>
  <%= link_to watches_user_path(@user) do %><%= @user.watches.count %><span>Watches</span><% end %>
  <%= link_to likes_user_path(@user) do %><%= @user.likes.count %><span>Likes</span><% end %>
  <%= link_to interests_user_path(@user) do %><%= @user.interests.count %><span>Interests</span><% end %>
  <%= link_to follows_user_path(@user) do %><%= @user.follows.count %><span>Follows</span><% end %>
</div>
