<% if @user.birthday.present? || @user.location.present? %>
  <span>
    <% if @user.birthday.present? %>
      <i class="c-icon-user"><%= user_age(@user.birthday) %> 歳</i>
    <% end %>
    <% if @user.location.present? %>
      <i class="c-icon-map"><%= @user.location %></i>
    <% end %>
  </span>
<% end %>
