<select name="location" id="location" class="c-form__textarea" style="height:40px;width:100%;">

  <% Settings.prefecture.to_h.values.each_with_index do |prefecture, index| %>
    <option value=<%= index %> <%= "selected" if location.to_i == index %>><%= prefecture %></option>
  <% end %>
</select>
