<div class="p-article-stats">
  <%= link_to user_path(@user) do %><%= @user.replies.count %><span>Replies</span><% end %>
  <div>
    <%= link_to followers_user_path(@user) do %><%= @user.followers.count %><span>Followers</span><% end %>
  </div>
  <div id="follow_<%= @user.id %>">
    <% if current_user.try(:customer?) && @user.followers.mine(current_user.id) %>
      <%= link_to follow_path(@user.followers.mine(current_user.id)), class: "c-icon-user u-link-color__blue", method: "delete", remote: true do %>
        <span>Following</span>
      <% end %>
    <% elsif current_user.try(:customer?) %>
      <%= link_to follows_path(staff_id: @user.id), class: "c-icon-user", method: "post", remote: true do %>
        <span>＋Follow</span>
      <% end %>
    <% end %>
  </div>
</div>
