<div class="p-header-tab">
  <% if @user.customer? %>
    <%= link_to "Post", user_path(@user), class: "c-header-tab #{'is-current' if controller.action_name == 'show'}" %>
    <%= link_to "Watch", watches_user_path(@user), class: "c-header-tab #{'is-current' if controller.action_name == 'watches'}" %>
    <%= link_to "Like", likes_user_path(@user), class: "c-header-tab #{'is-current' if controller.action_name == 'likes'}" %>
  <% elsif @user.staff? %>
    <%= link_to "Reply", user_path(@user), class: "c-header-tab #{'is-current' if controller.action_name == 'show'}" %>
  <% end %>
</div>
