<section class="l-flex__center">
  <%= form_tag(user_path(current_user), {multipart: true, method: "patch", class: "p-create-form u-paper-shadow-z1"}) do %>
    <h3>メールアドレス変更</h3>
    <ul>
      <li>
        <label>現在のメールアドレス：</label>
        <%= current_user.email %>
      </li>
      <li>
        <label for="email">新規メールアドレス：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <input type="text" name="email" id="email" placeholder="例：info@styler.link" required aria-required="true" class="c-form__textarea">
      </li>
    </ul>
    <%= button_tag "更新する", type: 'submit', class: "c-button__submit", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>
</section>
