<section class="l-flex__center has-header-tab">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name">
        <%= image_tag(object_image(@user), size: "120x120") %>
        <h4>
          <%= @user.name %>
          <% if @user.profile.present? %>
            <i><%= @user.profile %></i>
          <% end %>
          <% if @user.staff? %>
            <%= link_to @user.shop.name, shop_path(@user.shop) %>
          <% end %>
        </h4>
      </div>
      <%= link_to "", edit_user_path(current_user), class: "c-user-action c-icon-setting" if current_user && current_user == @user %>
    </div>

    <% if @user.staff? %>
      <%= render "staff_stats" %>
    <% end %>
  </article>

  <div id="user-content">
    <% if @user.staff? %>
      <% if @colleagues.present? %>
        <article class="p-article p-article-staff u-paper-shadow-z1">
          <% @colleagues.each do |colleagues| %>
            <%= link_to user_path(colleagues), class: "p-article-owner" do %>
              <div class="c-user-name">
                <%= image_tag(object_image(colleagues), size: "64x64") %>
                <h4>
                  <%= colleagues.name %>
                </h4>
              </div>
            <% end %>
          <% end %>
        </article>
      <% else %>
        <article class="p-article u-paper-shadow-z1">
          <p class="u-text-align__center">まだ他のスタッフはいません</p>
        </article>
      <% end %>

    <% end %>
  </div>

  <%= form_tag user_colleagues_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @colleagues, "", remote: true %>
  <% end %>

</section>
