<section class="l-flex__center">
  <%= form_tag(user_path, multipart: true, method: "patch", class: "p-create-form u-paper-shadow-z1") do %>
    <h3>プロフィール編集</h3>
    <div class="c-photo-uploader">
      <%= image_tag(object_image(current_user)) %>
      <%= file_field_tag :photo, class: "u-photo-uploader", accept: "image/jpeg,image/png,image/gif" %>
    </div>
    <ul>
      <li>
        <label for="name">名前：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <input type="text" name="name" id="name" value="<%= current_user.name %>" placeholder="例：ジョン スタイラー" required aria-required="true" class="c-form__textarea">
      </li>
      <li>
        <% case role %>
        <% when "customer" %>
          <label for="location">所在地：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <% when "staff" %>
          <label for="location">勤務地：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <% end %>
        <%= render partial: 'users/location', locals: {location: current_user.location.to_i} %>
      </li>
      <li>
        <label for="birthday">生年月日：</label>
        <input type="date" name="birthday" id="birthday" 
               min="1900-01-01" 
               max="<%= Date.today.strftime("%Y-%m-%d") %>" 
               value="<%= current_user.birthday.strftime("%Y-%m-%d") if current_user.birthday %>" 
               data-placeholder="<%= "年 / 月 / 日" unless current_user.birthday %>"
               class="c-form__textarea" >
      </li>
      <li>
        <label for="textarea">自己紹介：</label>
        <%= text_area_tag "profile", current_user.profile, 
                          rows: "3", 
                          placeholder: "例：カジュアルな服が好きです。趣味はゴルフです。よろしくお願いします。", 
                          class: "c-form__textarea" %>
      </li>
    </ul>
    <%= button_tag "更新する", type: 'submit', class: "c-button__submit", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>
</section>
