<section class="l-flex__center has-header-tab">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name">
        <%= image_tag(object_image(@user), size: "120x120") %>
        <h4>
          <%= @user.name %>
          <% if @user.profile.present? %>
            <i><%= @user.profile %></i>
          <% end %>
          <% if @user.staff? %>
            <%= link_to @user.shop.name, shop_path(@user.shop) %>
          <% end %>
        </h4>
      </div>
      <%= link_to "", edit_user_path(current_user), class: "c-user-action c-icon-setting" if current_user && current_user == @user %>
    </div>

    <% if @user.staff? %>
      <%= render "staff_stats" %>
    <% end %>
  </article>

  <div id="user-content">
    <% if @user.staff? %>
      <% if @events.present? %>
        <% @events.each do |event| %>
          <article class="p-article p-article-event u-paper-shadow-z1">
            <%= link_to event_path(event), class: "p-article-img" do %>
              <div class="c-event-img" style="background-image:url('<%= image_url(object_image(event, 'rectangle')) %>');"></div>
              <div class="c-event-header">
                <% if event.created_at > 1.week.ago %>
                  <p class="c-icon-new">新着</p>
                <% end %>
                <h2><%= event.title %></h2>
                <span><%= event.start_date %> ~ <%= event.finish_date.presence %></span>
                <span><%= event.location %></span>
                <div class="c-user-name">
                  <%= image_tag(object_image(event.shop), size: "32x32") %>
                  <h4><%= event.shop.name %></h4>
                </div>
              </div>
            <% end %>
          </article>
        <% end %>
      <% else %>
        <article class="p-article u-paper-shadow-z1">
          <p class="u-text-align__center">まだ Event がありません</p>
        </article>
      <% end %>
    <% end %>
  </div>

  <%= form_tag user_events_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @events, "", remote: true %>
  <% end %>

</section>
