<section class="l-flex__center">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name">
        <%= image_tag(object_image(@user), size: "120x120") %>
        <h4>
          <%= link_to "< マイページに戻る", user_path(@user), style: "margin-bottom:10px;" %>
          <%= @user.name %>
        </h4>
      </div>
    </div>
  </article>

  <div id="shop-content">
    <% if @follower_users.present? %>
      <article class="p-article p-article-staff u-paper-shadow-z1">
        <% @follower_users.each do |follower_user| %>
          <%= link_to user_path(follower_user), class: "p-article-owner" do %>
            <div class="c-user-name">
              <%= image_tag(object_image(follower_user), size: "64x64") %>
              <h4>
                <%= follower_user.name %>
              </h4>
            </div>
          <% end %>
          <% if current_user && current_user == @user && Conversation.search(current_user.id, follower_user.id).nil? %>
            <%= link_to new_conversation_path(destination_user_id: follower_user.id), class: "p-article-notification-item" do %>
              <div style="width:80%;padding-left:20%;padding-right:10%;">
                <div style="border-radius:8px;border: 1px solid #171616;padding:10px;width:90%;" class="c-user-name">
                  <h2 class="c-icon-comment"></h2>
                  <span style="margin-left:10px;">フォローのお礼をメッセージする</span>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </article>
    <% else %>
      <article class="p-article u-paper-shadow-z1">
        <p class="u-text-align__center">まだ Follow している User がいません</p>
      </article>
    <% end %>
  </div>

  <%= form_tag followers_user_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @follower_users, "", remote: true %>
  <% end %>

</section>
