<section class="l-flex__center">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name">
        <%= image_tag(object_image(@user), size: "120x120") %>
        <h4>
          <%= link_to "< マイページに戻る", user_path(@user), style: "margin-bottom:10px;" %>
          <%= @user.name %>
        </h4>
      </div>
    </div>
  </article>

  <div id="shop-content">
    <% if @follow_users.present? %>
      <article class="p-article p-article-staff u-paper-shadow-z1">
        <% @follow_users.each do |follow_user| %>
          <%= link_to user_path(follow_user), class: "p-article-owner" do %>
            <div class="c-user-name">
              <%= image_tag(object_image(follow_user), size: "64x64") %>
              <h4>
                <%= follow_user.name %>
              </h4>
            </div>
          <% end %>
        <% end %>
      </article>
    <% else %>
      <article class="p-article u-paper-shadow-z1">
        <p class="u-text-align__center">まだ Follow している Staff がいません</p>
      </article>
    <% end %>
  </div>

  <%= form_tag follows_user_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @follow_users, "", remote: true %>
  <% end %>

</section>
