<section class="l-flex__center">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name">
        <%= image_tag(object_image(@user), size: "120x120") %>
        <h4>
          <%= link_to "< マイページに戻る", user_path(@user), style: "margin-bottom:10px;" %>
          <%= @user.name %>
        </h4>
      </div>
    </div>
  </article>

  <div id="shop-content">
    <% if @interests.present? %>
      <% @interests.each do |event_list| %>
        <article class="p-article p-article-event u-paper-shadow-z1">
          <%= link_to event_path(event_list.event), class: "p-article-img" do %>
            <div class="c-event-img" style="background-image:url('<%= image_url(object_image(event_list.event, 'rectangle')) %>');"></div>
            <div class="c-event-header">
              <% if event_list.event.created_at > 1.week.ago %>
                <p class="c-icon-new">新着</p>
              <% end %>
              <h2><%= event_list.event.title %></h2>
              <span><%= event_list.event.start_date %> ~ <%= event_list.event.finish_date.presence %></span>
              <span><%= event_list.event.location %></span>
              <div class="c-user-name">
                <%= image_tag(object_image(event_list.event.shop), size: "32x32") %>
                <h4><%= event_list.event.shop.name %></h4>
              </div>
            </div>
          <% end %>
        </article>
      <% end %>
    <% else %>
      <article class="p-article u-paper-shadow-z1">
        <p class="u-text-align__center">まだ Interest している Event がありません</p>
      </article>
    <% end %>
  </div>

  <%= form_tag interests_user_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @interests, "", remote: true %>
  <% end %>

</section>
