<section class="l-flex__center has-header-tab">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name">
        <%= image_tag(object_image(@user), size: "120x120") %>
        <h4>
          <%= @user.name %>
          <% if @user.profile.present? %>
            <i><%= @user.profile %></i>
          <% end %>
          <% if @user.customer? %>
            <%= render partial: "users/detail" if current_user.try(:staff?) || current_user == @user %>
          <% end %>
        </h4>
      </div>
      <%= link_to "", edit_user_path(current_user), class: "c-user-action c-icon-setting" if current_user && current_user == @user %>
    </div>

    <% if @user.customer? %>
      <%= render "customer_stats" %>
    <% end %>
  </article>

  <div id="user-content">
    <% if @user.customer? %>
      <% if @likes.present? %>
        <article class="p-article p-article-post u-paper-shadow-z1">
          <div class="p-article-img" style="margin-top:0;">
            <% @likes.each do |favorite| %>
              <%= link_to reply_path(favorite.reply, anchor: "reply"), data: { no_turbolink: true } do %>
                <%= image_tag(object_image(favorite.reply)) %>
              <% end %>
            <% end %>
          </div>
        </article>
      <% else %>
        <article class="p-article u-paper-shadow-z1">
          <p class="u-text-align__center">まだお気に入りの Reply がありません</p>
        </article>
      <% end %>
    <% end %>
  </div>

  <%= form_tag likes_user_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @likes, "", remote: true %>
  <% end %>

</section>
