<section class="l-flex__center">
  <%= form_tag(user_path(current_user), {multipart: true, method: "patch", class: "p-create-form u-paper-shadow-z1"}) do %>
    <h3>メール受信設定</h3>
    <ul>
      <li>
        <label for="email">通知メール：</label>
        <select name="mail_notification">
          <option value="1" <%= "selected" if current_user.mail_notification %>>メールを受け取る</option>
          <option value="0" <%= "selected" unless current_user.mail_notification %>>メールを受け取らない</option>
        </select>
      </li>
      <li>
        <label for="password">メールマガジン：</label>
        <select name="mail_magazine">
          <option value="1" <%= "selected" if current_user.mail_magazine %>>メールを受け取る</option>
          <option value="0" <%= "selected" unless current_user.mail_magazine %>>メールを受け取らない</option>
        </select>
      </li>
    </ul>
    <%= button_tag "更新する", type: 'submit', class: "c-button__submit", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>
</section>
