<section class="l-flex__center">

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to edit_user_path(current_user) do %>
      プロフィール編集
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to mail_setting_users_path do %>
      メール受信設定
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <% if current_user.provider.blank? %>
    <article class="p-article p-article-profile-setting u-paper-shadow-z1">
      <%= link_to change_email_users_path do %>
        メールアドレス変更
        <span class="c-icon-transition"></span>
      <% end %>
    </article>
  <% end %>

  <% if current_user.provider.blank? %>
    <article class="p-article p-article-profile-setting u-paper-shadow-z1">
      <%= link_to edit_user_registration_path do %>
        パスワード変更
        <span class="c-icon-transition"></span>
      <% end %>
    </article>
  <% end %>

  <% if current_user.admin_flag %>
    <article class="p-article p-article-profile-setting u-paper-shadow-z1">
      <%= link_to admin_tops_path do %>
        管理者向け
        <span class="c-icon-transition"></span>
      <% end %>
    </article>

    <article class="p-article p-article-profile-setting u-paper-shadow-z1">
      <%= link_to rails_admin_path, data: { no_turbolink: true } do %>
        開発者向け
        <span class="c-icon-transition"></span>
      <% end %>
    </article>
  <% end %>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to destroy_user_session_path, method: :delete do %>
      ログアウト
    <% end %>
  </article>

  <% if false %>
    <article class="p-article p-article-profile-setting u-paper-shadow-z1">
      <%= link_to registration_path(current_user), data: { confirm: "本当に削除しますか？ (全てのデータが削除されます)" }, method: :delete do %>
        アカウント削除
      <% end %>
    </article>
  <% end %>

</section>
