<% if params[:ajax_handler] === 'post' %>
  $("#user-content").html("<%= escape_javascript(render 'post', object: @posts) %>");
<% elsif params[:ajax_handler] === 'watch' %>
  $("#user-content").html("<%= escape_javascript(render 'watch', object: @watches) %>");
<% elsif params[:ajax_handler] === 'like' %>
  $("#user-content").html("<%= escape_javascript(render 'like', object: @likes) %>");
<% elsif params[:ajax_handler] === 'reply' %>
  $("#user-content").html("<%= escape_javascript(render 'reply', object: @replies) %>");
<% elsif params[:ajax_handler] === 'events' %>
  $("#user-content").html("<%= escape_javascript(render 'event', object: @events) %>");
<% elsif params[:ajax_handler] === 'colleague' %>
  $("#user-content").html("<%= escape_javascript(render 'colleague', object: @colleagues) %>");
<% end %>
