<section class="l-flex__center has-header-tab">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name">
        <%= image_tag(object_image(@user), size: "120x120") %>
        <h4>
          <%= @user.name %>
          <% if @user.profile.present? %>
            <i><%= @user.profile %></i>
          <% end %>
          <% if @user.customer? %>
            <%= render partial: "users/detail" if current_user.try(:staff?) || current_user == @user %>
          <% elsif @user.staff? %>
            <%= link_to @user.shop.name, shop_path(@user.shop) %>
          <% end %>
        </h4>
      </div>
      <%= link_to "", edit_user_path(current_user), class: "c-user-action c-icon-setting" if current_user && current_user == @user %>
    </div>

    <% if @user.customer? %>
      <%= render "customer_stats" %>
    <% elsif @user.staff? %>
      <%= render "staff_stats" %>
    <% end %>
  </article>

  <div id="user-content">
    <% if @user.customer? %>
      <% if @posts.present? %>
        <%= render partial: "posts/post", locals: { posts: @posts } %>
      <% else %>
        <article class="p-article u-paper-shadow-z1">
          <p class="u-text-align__center">まだ Post の投稿がありません</p>
        </article>
      <% end %>
    <% elsif @user.staff? %>
      <% if @replies.present? %>
        <article class="p-article p-article-post u-paper-shadow-z1">
          <div class="p-article-img" style="margin-top:0;">
            <% @replies.each do |reply| %>
              <%= link_to reply_path(reply, anchor: "reply"), data: { no_turbolink: true } do %>
                <%= image_tag(object_image(reply)) %>
              <% end %>
            <% end %>
          </div>
        </article>
      <% else %>
        <article class="p-article u-paper-shadow-z1">
          <p class="u-text-align__center">まだ Reply の投稿がありません</p>
        </article>
      <% end %>
    <% end %>
  </div>

  <%= form_tag user_path(@user), method: "get", id: "pagination" do %>
    <% if @user.customer? %>
      <%= link_to_next_page @posts, "", remote: true %>
    <% elsif @user.staff? %>
      <%= link_to_next_page @replies, "", remote: true %>
    <% end %>
  <% end %>

</section>
