<section class="l-flex__center has-header-tab">

  <article class="p-article p-article-profile">
    <div class="p-article-owner">
      <div class="c-user-name">
        <%= image_tag(object_image(@user), size: "120x120") %>
        <h4>
          <%= @user.name %>
          <% if @user.profile.present? %>
            <i><%= @user.profile %></i>
          <% end %>
          <% if @user.customer? %>
            <%= render partial: "users/detail" if current_user.try(:staff?) || current_user == @user %>
          <% end %>
        </h4>
      </div>
      <%= link_to "", edit_user_path(current_user), class: "c-user-action c-icon-setting" if current_user && current_user == @user %>
    </div>

    <% if @user.customer? %>
      <%= render "customer_stats" %>
    <% end %>
  </article>

  <div id="user-content">
    <% if @user.customer? %>
      <% if @watches.present? %>
        <%= render partial: "posts/post", locals: { posts: @watches } %>
      <% else %>
        <article class="p-article u-paper-shadow-z1">
          <p class="u-text-align__center">現在 Watch している Post がありません</p>
        </article>
      <% end %>
    <% end %>
  </div>

  <%= form_tag watches_user_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @watches, "", remote: true %>
  <% end %>

</section>
