<div class="p-auth">
  <div class="p-auth-alert u-slidedown-effect<% if alert or devise_error_messages!.empty? == false %> is-animated<% end %>">
    <span class="c-icon-information"></span>
    <%= devise_error_messages! %>
    <% if alert %><span><%= alert %></span><% end %>
  </div>
  <div class="p-auth-container">
    <div class="p-auth-form">
      <h1>
        <%= link_to root_path, title: "トップページへ" do %>
          <%= render partial: "common/logo" %>
        <% end %>
      </h1>
      <h4>新しいパスワードを下記のフォームに入力して、パスワードを再発行してください。</h4>
      <%= form_for(:user, url: password_path(resource_name), html: {class: "c-form-auth__password-reset", method: :patch}) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "新しいパスワード", class: "__password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "新しいパスワード(確認)", class: "__password-confirm" %>
        <%= f.submit("パスワードを再発行") %>
      <% end %>
    </div>
  </div>
</div>
