<div class="p-auth">
  <div class="p-auth-alert u-slidedown-effect<% if alert or devise_error_messages!.empty? == false %> is-animated<% end %>">
    <span class="c-icon-information"></span>
    <%= devise_error_messages! %>
    <% if alert %><span><%= alert %></span><% end %>
  </div>
  <div class="p-auth-sublink">
    <%= link_to "ログインページに戻る", new_user_session_path %>
  </div>
  <div class="p-auth-container">
    <div class="p-auth-form">
      <h1>
        <%= link_to root_path, title: "トップページへ" do %>
          <%= render partial: "common/logo" %>
        <% end %>
      </h1>
      <h4>ご登録のメールアドレスに、パスワード再発行のお手続きの案内を送信します。</h4>
      <%= form_for(:user, url: password_path(resource_name), html: {class: "c-form-auth__password-reset"}) do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス" %>
        <%= f.submit("メール送信") %>
      <% end %>
    </div>
  </div>
</div>
