html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include box-sizing(border-box); }

body {
  background-color: $styler-bg;
  font-family: $font-family;
  font-size: $font-size-15;
  line-height: $font-size-15 * 1.6;
  word-break: break-word; }

header {
  background-color: $white;
  overflow: hidden; }
a {
  color: $styler-black;
  text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

button {
  background: none;
  border: none;
  outline: none; }

button[type="submit"] {
  width: 100%; }

textarea {
  -webkit-appearance: none;
  
  outline: none;
  resize: none; }

select {
  background-color: transparent; }

input {
  -webkit-appearance: none; }

input[type="email"],
input[type="password"] {
  border: none;
  outline: none;
  padding: 3% 4%;
  width: 92%; }

input[type="button"] {
  background: none;
  border: none;
  outline: none; }

input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  padding: 3% 0;
  width: 100%; }

input[type="text"] {
  outline: none; }

input[type="file"]::-webkit-file-upload-button {
  -webkit-appearance: none;

  background-color: $white;
  border: 1px solid $styler-lightgray;
  outline: none;
  padding: 6px 18px;
  @include border-radius(6px); }

input[type="date"]::before { 
  content: attr(data-placeholder);
  color: $styler-midgray;
  width: 100%; }

input[type="date"].edit::before {
  color: $styler-black; }

input[type="date"]:focus::before, 
input[type="date"]:valid::before {
  display: none; }

svg {
  fill: currentColor;
  width: 100%; }
