@font-face {
  font-family: "Stylericon";
  src:  font-url("stylericon.eot?mqnjpt");
  src:  font-url("stylericon.eot?mqnjpt#iefix") format("embedded-opentype"),
        font-url("stylericon.ttf?mqnjpt") format("truetype"),
        font-url("stylericon.woff?mqnjpt") format("woff"),
        font-url("stylericon.svg?mqnjpt#stylericon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="c-icon-"], [class*=" c-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Stylericon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.c-icon-bell:before {
  content: "\e901";
}
.c-icon-watch:before {
  content: "\e916";
}
.c-icon-reply:before {
  content: "\e912";
}
.c-icon-comment:before {
  content: "\e905";
}
.c-icon-create {
  &:after {
    content: "\e907";
    color: rgb(255, 255, 255); }
}
.c-icon-like:before {
  content: "\e90b";
}
.c-icon-arrow:before {
  content: "\e900";
}
.c-icon-comment-reply:before {
  content: "\e904";
}
.c-icon-map:before {
  content: "\e90d";
}
.c-icon-browser:before {
  content: "\e902";
}
.c-icon-phone:before {
  content: "\e90f";
}
.c-icon-user:before {
  content: "\e915";
}
.c-icon-event:before {
  content: "\e908";
}
.c-icon-information:before {
  content: "\e90a";
}
.c-icon-replied:before {
  content: "\e911";
}
.c-icon-upload:before {
  content: "\e914";
}
.c-icon-setting:before {
  content: "\e913";
}
.c-icon-transition:before {
  content: "\e910";
}
.c-icon-coffee:before {
  content: "\e903";
}
.c-icon-requirement .path1:before {
    content: "\e90c";
    color: rgb(242, 61, 83);
    font-style: normal; }
.c-icon-requirement .path2:before {
    content: "\e917";
    color: rgb(255, 255, 255);
    font-style: normal;
    margin-left: -1.6669921875em; }
.c-icon-requirement {
  .path1, .path2 {
    font-size: 21px;
    vertical-align: middle; } }
.c-icon-logo {
  background-image: image-url("styler_title_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2px 6px; }

.icon-hamburger:before {
  content: "\e909";
}
.icon-more:before {
  content: "\e90e";
}
