<% case role(@event) %>
<% when "customer" %>
  <div id="<%= "event_#{@event.id}" %>">
    <% if @interest %>
      <%= form_tag(interest_path(@interest), { remote: true, method: "delete", class: "c-form__interested" }) do %>
        <%= button_tag type: "submit", value: "#{@event.id}", class: "c-icon-button is-active" do %>
          <span class="c-icon-replied">Interested</span>
        <% end %>
        <%= link_to "あなたのイベントリストを見る", interests_user_path(current_user), class: "u-link-color__blue" %>
      <% end %>
    <% else %>
      <%= form_tag(interests_path, remote: true, class: "c-form__interested") do %>
        <input type="hidden" name="event_id" value="<%= @event.id %>">
        <%= button_tag type: "submit", value: "#{@event.id}", class: "c-icon-button" do %>
          <span>Interested</span>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% when "guest" %>
  <%= form_tag(interests_path, class: "c-form__interested") do %>
    <input type="hidden" name="event_id" value="<%= @event.id %>">
    <%= button_tag type: "submit", class: "c-user-action c-icon-button" do %>
      <span>Interested</span>
    <% end %>
  <% end %>
<% end %>
