<section class="l-flex__center">

  <%= form_tag(event_path(@event), method: "patch", class: "p-create-form u-paper-shadow-z1") do %>
    <h3>Event を編集する</h3>
    <div class="c-photo-uploader">
      <%= image_tag(object_image(@event)) %>
    </div>
    <ul>
      <li>
        <label for="title">イベント名：</label>
        <%= text_field_tag :title, @event.title, 
                           placeholder: "サマーセール、展示会、ポップイベント etc..", 
                           required: true, 
                           class: "c-form__textarea" %>
      </li>
      <li>
        <label for="start_date">イベント開始日：</label>
        <input type="date" name="start_date" id="start_date" 
               min="<%= @event.start_date %>" 
               value="<%= @event.start_date.strftime("%Y-%m-%d") if @event.start_date %>"
               data-placeholder="<%= "年 / 月 / 日" unless @event.start_date %>" 
               required aria-required="true" 
               class="c-form__textarea" >
      </li>
      <li>
        <label for="finish_date">イベント終了日：</label>
        <input type="date" name="finish_date" id="finish_date" 
               min="<%= @event.start_date %>" 
               value="<%= @event.finish_date.strftime("%Y-%m-%d") if @event.finish_date %>"
               data-placeholder="<%= "年 / 月 / 日" unless @event.finish_date %>" 
               class="c-form__textarea" >
      </li>
      <li>
        <label for="location">イベント開催場所：</label>
        <%= text_field_tag :location, @event.location, 
                           placeholder: "東京都渋谷区神南1-10-6", 
                           required: true, 
                           class: "c-form__textarea" %>
      </li>
      <li>
        <label for="text">イベントについて：</label>
        <%= text_area_tag :text, @event.text, 
                          rows: "8", 
                          placeholder: "開催するイベントの詳細を入力しましょう。", 
                          required: true, 
                          class: "c-form__textarea" %>
      </li>
    </ul>
    <%= button_tag "更新する", type: 'submit', class: "c-button__submit c-button__reply-new", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>

</section>
