<section class="l-flex__center">

  <%= form_tag(events_path, multipart: true, class: "p-create-form u-paper-shadow-z1") do %>
    <h3>Event を新規作成する</h3>
    <div class="c-photo-uploader">
      <%= image_tag "" %>
      <%= file_field_tag :photo, 
                         class: "u-photo-uploader", 
                         accept: "image/jpeg,image/png,image/gif", 
                         required: true %>
    </div>
    <ul>
      <li>
        <label for="title">イベント名：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <%= text_field_tag :title, "", 
                           placeholder: "サマーセール、展示会、ポップイベント etc..", 
                           required: true, 
                           class: "c-form__textarea" %>
      </li>
      <li>
        <label for="start_date">イベント開始日：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <input type="date" name="start_date" id="start_date" 
               min="<%= Date.today.strftime("%Y-%m-%d") %>" 
               data-placeholder="<%= '年 / 月 / 日' %>" 
               required aria-required="true" 
               class="c-form__textarea" >
      </li>
      <li>
        <label for="finish_date">イベント終了日：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <input type="date" name="finish_date" id="finish_date" 
               min="<%= Date.today.strftime("%Y-%m-%d") %>" 
               data-placeholder="<%= '年 / 月 / 日' %>" 
               class="c-form__textarea" >
      </li>
      <li>
        <label for="location">イベント開催場所：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <%= text_field_tag :location, "", 
                           placeholder: "東京都渋谷区神南1-10-6", 
                           required: true, 
                           class: "c-form__textarea" %>
      </li>
      <li>
        <label for="text">イベントについて：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <%= text_area_tag :text, "", 
                          rows: "5", 
                          placeholder: "開催するイベントの詳細を入力しましょう。", 
                          required: true, 
                          class: "c-form__textarea" %>
      </li>
    </ul>
    <%= button_tag "投稿する", type: 'submit', class: "c-button__submit c-button__reply-new", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>

</section>
