<section class="l-flex__center">

  <article class="p-article p-article-event u-paper-shadow-z1">
    <div class="p-article-img">
      <div class="c-event-img" style="background-image:url('<%= image_url(object_image(@event, 'rectangle')) %>');"></div>
      <div class="c-event-header">
        <h2><%= @event.title %></h2>
        <%= render "button" %>
      </div>
    </div>

    <% if current_user && current_user.staff? && current_user.shop.id == @event.shop.id %>
      <div class="p-article-edit u-float__right" style="padding-right:25px;">
        <%= link_to "編集", edit_event_path(@event), class: "u-link-color__blue" %>
      </div>
    <% end %>

    <div class="p-article-desc">
      <h4>イベント開催期間</h4>
      <p><%= @event.start_date %> ~ <%= @event.finish_date.presence %></p>
    </div>

    <% if @event.location %>
      <div class="p-article-desc">
        <h4>イベント開催場所</h4>
        <p><%= @event.location %></p>
      </div>
    <% end %>

    <div class="p-article-desc">
      <h4>イベントについて</h4>
      <p><%= auto_link(change_br(@event.text), :all, target: "_blank") %></p>
    </div>

    <div class="p-article-shop-info">
      <h4>ショップ情報</h4>
      <ul>
        <li>
          <div><span>ショップページ：</span><h5><%= @event.shop.name %></h5></div>
          <%= link_to "<i class=\"c-icon-arrow\"></i>".html_safe, shop_path(@event.shop), :class => "c-icon-button" %></li>
        <li>
          <div><span>ショップ所在地：</span><h5><%= @event.shop.address %></h5></div>
          <%= link_to "<i class=\"c-icon-map\"></i>".html_safe, "https://maps.google.com/maps?q=#{@event.shop.address}", :class => "c-icon-button", target: "_blank" %></li>
        <% if @event.shop.tel.present? %><li>
          <div><span>電話番号：</span><h5><%= @event.shop.tel %></h5></div>
          <%= link_to "<i class=\"c-icon-phone\"></i>".html_safe, "tel:#{@event.shop.tel}", :class => "c-icon-button" %></li><% end %>
        <% if @event.shop.website.present? %><li>
          <div><span>ホームページURL：</span><h5><%= @event.shop.website %></h5></div>
          <%= link_to "<i class=\"c-icon-browser\"></i>".html_safe, "#{@event.shop.website}", :class => "c-icon-button", target: "_blank" %></li><% end %>
      </ul>
    </div>

    <% if @interest_users.present? %>
      <div class="p-article-interested-users">
        <h4>イベントに興味のあるユーザ（<%= @interest_users.count %>）</h4>
        <ul>
          <% @interest_users.each do |interest_user| %>
            <li>
              <%= link_to user_path(interest_user), title: "#{interest_user.name}" do %>
                <%= image_tag(object_image(interest_user), size: "44x44") %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </article>

</section>
