<section class="l-flex__center">
  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h3 style="margin-top:0;">KPIリスト</h3>
    日々のKPIを最新順に閲覧することが出来ます
  </article>

  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <table class="p-dashboard-table kpi">
      <tbody>
        <% @kpis.each do |kpi| %>
          <tr>
            <td><%= kpi.date %></td>
            <td><%= kpi.total_users %></td>
            <td><%= kpi.total_customers %></td>
            <td><%= kpi.total_staffs %></td>
            <td><%= kpi.total_shops %></td>
            <td><%= kpi.total_posts %></td>
            <td><%= kpi.total_watches %></td>
            <td><%= kpi.total_replies %></td>
            <td><%= kpi.total_events %></td>
            <td><%= kpi.total_matches %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @kpis %>
  </article>

</section>
