【環境名】
<%= Rails.env %>環境

【概要】
「<%= @registration.shop_name %>」から新規ショップの登録申請が届いています

【ショップ情報】
ショップ名：<%= @registration.shop_name %>
ショップ紹介文：<%= @registration.shop_profile %>
Webサイト：<%= @registration.shop_website %>
担当者氏名：<%= @registration.staff_name %>
担当者メールアドレス：<%= @registration.staff_email %>


以下のリンクより申請を承認してください
<%= "#{@domain}/admin/shop_registrations" %>
