<%= form_tag(interests_path, remote: true, class: "c-form__interested") do %>
  <input type="hidden" name="event_id" value="<%= @event.id %>">
  <%= button_tag type: "submit", value: "#{@event.id}", class: "c-icon-button" do %>
    <span>Interested</span>
  <% end %>
<% end %>
