<%= form_tag(interest_path(@interest), {remote: true, method: "delete", class: "c-form__interested" }) do %>
  <%= button_tag type: "submit", value: "#{@event.id}", class: "c-icon-button is-active" do %>
    <span class="c-icon-replied">Interested</span>
  <% end %>
<% end %>
