<%= form_tag(watches_path, remote: true) do %>
  <input type="hidden" name="post_id" value="<%= @post.id %>">
  <%= button_tag type: "submit", value: "#{@post.id}", class: "c-user-action c-icon-button u-watch-effect" do %>
    <span class="c-icon-watch"></span>
  <% end %>
<% end %>
