<%= form_tag(watch_path(@watch), {remote: true, method: "delete"}) do %>
  <%= button_tag type: "submit", value: "#{@post.id}", class: "c-user-action c-icon-button u-watch-effect is-active" do %>
    <span class="c-icon-watch"></span>
  <% end %>
<% end %>
