<section class="l-flex__center">

  <%= form_tag admin_contacts_path, multipart: true, class: "p-create-form u-paper-shadow-z1" do %>
    <h3 style="margin-top:0;">記事掲載連絡</h3>
    <ul>
      <li>
        <label for="shop_id">掲載ショップ：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <select name="shop_id" id="shop_id" class="c-form__textarea" style="height:40px;width:100%;">
          <option value="">選択してください</option>
          <% shops.each do |shop| %>
            <option value=<%= shop.id %>><%= shop.name %></option>
          <% end %>
        </select>
      </li>
      <li>
        <label for="link1">記事URL1：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <input type="text" name="link1" id="link1" placeholder="例：http://stylermag.link/" class="c-form__textarea" required aria-required="true">
      </li>
      <li>
        <label for="link2">記事URL2：</label>
        <input type="text" name="link2" id="link2" placeholder="例：http://stylermag.link/" class="c-form__textarea">
      </li>
      <li>
        <label for="link3">記事URL3：</label>
        <input type="text" name="link3" id="link3" placeholder="例：http://stylermag.link/" class="c-form__textarea">
      </li>
      <li>
        <label for="link4">記事URL4：</label>
        <input type="text" name="link4" id="link4" placeholder="例：http://stylermag.link/" class="c-form__textarea">
      </li>
      <li>
        <label for="link5">記事URL5：</label>
        <input type="text" name="link5" id="link5" placeholder="例：http://stylermag.link/" class="c-form__textarea">
      </li>
    </ul>
    <input type='hidden' name='type' value='published'>
    <%= button_tag "連絡を送信する", type: 'submit', class: "c-button__submit", style: "margin-top: 0px;", data: { disable_with: "送信中…", confirm: "上記ショップに記事掲載の連絡を送信しますか？" } %>
  <% end %>

  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h3 style="margin-top:0;">メール文面</h3>
    <%= change_br("
      <<<ショップ名>>>様
      お世話になっております。スタイラー株式会社 STYLER MAG編集部です。
      この度はSTYLER MAGに記事を掲載いたしましたので、本メールにてお知らせ致します。
      下記URLより該当記事をご確認ください。
      <<<URL>>>
      修正点等ございましたらお気軽にご連絡ください。
      今後ともSTYLER MAGをよろしくお願い致します。
      STYLER MAG 編集部
    ")%>
  </article>

</section>
