<section class="l-flex__center">

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">

    <%= link_to new_admin_contact_path(type: 'published') do %>
      記事掲載連絡
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to new_admin_contact_path(type: 'reprint') do %>
      記事転載連絡
      <span class="c-icon-transition"></span>
    <% end %>

  </article>

</section>
