//
// Flex Layout
// --------------------------------------------------
.l-flex {
  -webkit-box-orient: horizontal; 
  -webkit-box-direction: normal;
  -webkit-flex-direction: row; 
      -ms-flex-direction: row; 
          flex-direction: row;
  @include flex-wrap();
  @include flex();
  .l-flex__left,
  .l-flex__right {
    @include flex-basis(50%); }
  .l-flex__center {
    @include flex-basis(100%); } }

.l-flex {
  @media screen and (min-width: 436px) {
    @include flex-nowrap();
    .l-flex__left,
    .l-flex__right {
      @include flex-basis(240px); }
    .l-flex__center {
      margin-left: 10px;
      margin-right: 10px;
      @include flex-basis(440px); } } }

//
// Inset Layout
// --------------------------------------------------
.l-inset {
  margin: 0 auto;
  max-width: 940px; }

//
// Header Layout
// --------------------------------------------------
.l-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  .l-flex {
    @include align-items(center); } }

.l-header {
  @media screen and (max-width: 435px) {
    .l-flex {
      .l-flex__center {
        display: inline-flex;
        @include order(3); } } } }

//
// Container Layout
// --------------------------------------------------
.l-container {
  .l-flex {
    .l-flex__center {
      margin-top: 54px; } } }

.l-container {
  @media screen and (min-width: 436px) {
    .l-flex {
      .l-flex__center {
        margin-top: 68px; } } } }

.l-container {
  @media screen and (max-width: 435px) {
    .l-flex {
      .l-flex__center {
        &.has-header-tab {
          margin-top: 98px; } } } } }
