/*
使用ページのリスト
coupon_20161021_20161120.html EDIFICE ginza / shinjuku / shibuya
*/

/*
// base
// --------------------------------------------------*/
body {
  min-width: 320px;
  font-family: "Helvetica Neue", "HiraKakuProN-W3", sans-serif;
  font-weigth: 400;
}

/*
// layout
// --------------------------------------------------*/
.wrapper {
  position: relative;
  display: block;
  width: 100%;
  background: #FFF;
}

/*
// shared
// --------------------------------------------------*/
h2.title-h2 {
  text-align: center;
  margin: 85px 0 40px;
}
h2.title-h2 img {
  width: auto;
  height: 45px;
}

/*
// objects
// --------------------------------------------------*/
.page-title {
  position: relative;
  margin: 0;
}
.main-visual {
  width: 100%;
  height: auto;
}
.main-title {
  position: absolute;
  top: -7%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  height: auto;
  margin: auto;
}
@media screen and (min-width:415px) {
  .page-title {
    height: 100vh;
    overflow: hidden;
  }
  .main-visual {
    margin-top: -8%;
  }
  .main-title {
    width: 30%;
  }
}

.sav-title {
  position: relative;
  width: 88%;
  margin: -10% 6%;
  padding: 44% 0;
  background-color: #8d6a33;
  box-shadow: 0 14px 15px rgba(0,0,0,.25);
}
.sav-title img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  height: auto;
  margin: auto;
}

.about-coupon {
  color: #FFF;
  padding-top: 10%;
  background-color: #2b2929;
}
.about-coupon p {
  font-size: 13px;
  line-height: 2.6;
  margin: 0 12%;
  margin-bottom: 85px;
}
.about-coupon .sub-visual {
  width: 100%;
  height: auto;
}

.information {
  color: #292929;
  font-size: 13px;
  padding: 0 10%;
  margin-bottom: 80px;
}
.information dt {
  margin-bottom: 0.8em;
}
.information dd {
  margin-bottom: 1.5em;
}
.information dd a {
  margin-bottom: 1.5em;
  text-decoration: underline;
}
.information dd small {
  display: block;
  color: #838383;
  font-size: 13px;
  padding-left: 1em;
  margin-bottom: 0.8em;
}
.information dd sup {
  margin-left: 0.5em;
  top: -0.2em;
}

.backto-top {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #2b2929;
}
.backto-top i:before,
.backto-top i:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -20px;
}
.backto-top i:before {
  border-bottom: solid 14px #FFF;
  border-top:    solid 14px transparent;
  border-left:   solid 18px transparent;
  border-right:  solid 18px transparent;
  margin-top: -22px;
}
.backto-top i:after {
  border-bottom: solid 14px #2b2929;
  border-top:    solid 14px transparent;
  border-left:   solid 18px transparent;
  border-right:  solid 18px transparent;
  margin-top: -21px;
}
