/*
使用ページのリスト
coupon_20160914_20161013.html ジャーナルスタンダード渋谷店
*/

/*
// base
// --------------------------------------------------*/
body {
  min-width: 320px;
  font-family: "Helvetica Neue", "HiraKakuProN-W3", sans-serif;
  font-weigth: 400;
}

/*
// layout
// --------------------------------------------------*/
.wrapper {
  position: relative;
  display: block;
  width: 100%;
  background: #262628;
  padding-bottom: 1.845rem;
}

.ticket--outer {
  display: flex;
}
.ticket--block:nth-child(2n+1) {
  margin-right: auto;
}
.ticket--block:nth-child(2n+2) {
  text-align: right;
}

/*
// shared
// --------------------------------------------------*/
.ticket-card .title-h2 {
  font-size: 15px;
  color: #747275;
  font-weight: 600;
}

.ticket-card .title-h3 {
  font-size: 13px;
  font-weight: 600;
}

.ticket-card a {
  color: #27BEFF;
}

/*
// objects
// --------------------------------------------------*/
.page-title {
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 100;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.ticket-card {
  margin-top: 20vh;
  background: #FFFFFF;
  border-radius: 4px;
}

.ticket--cover {
  position: relative;
  max-width: 450px;
  border-radius: 4px 4px 0 0;
  padding: 2.5vh;
  margin: auto;
  box-sizing: content-box;
}
.ticket--cover img {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-top: -100px;
  box-shadow: 0 10px 16px -6px rgba(22, 22, 22, 0.5);
  border-radius: 10px;
}

.ticket--summary {
  margin: 14px 30px;
}
.ticket--summary .summary--outer:nth-child(1) {
  margin-bottom: 10px;
}

.ticket--summary .label--small {
  font-size: 11px;
  text-transform: uppercase;
  color: #747275;
  margin-bottom: 5px;
}
.ticket--summary h2 {
  font-size: 15px;
  line-height: 1;
  font-weight: 200;
}

.ticket--summary .coupon-title {
  font-size: 20px;
  letter-spacing: 2px;
}
.ticket--summary .coupon-subtitle {
  display: block;
  font-size: 17px;
  letter-spacing: 0.8px;
  margin-top: 2px;
}

.ticket--summary .coupon-value {
  font-size: 25px;
  font-weight: 200;
  color: #3aafdb;
  margin-top: -5px;
}
.ticket--summary .coupon-value b {
  font-size: 18px;
  font-weight: 200;
}

.ticket--information {
  padding: 20px 30px 24px;
  box-shadow: 
    inset 0px 14px 12px 0px rgba(0, 0, 0, 0.25),
    inset 0px -4px 12px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.ticket--information .information--message {
  font-size: 13px;
  line-height: 2;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}
@media (max-width:320px) {
  .ticket--information .information--message {
    font-size: 12px;
  }
}
.ticket--information .title-h2 {
  margin: 30px 0 20px;
}
.ticket--information .information--map {
  margin-left: 10px;
  font-size: 12px;
  text-align: center;
}
.ticket--information .information--map a {
  color: #3aafdb;
}
.ticket--information .information--map .icon_map-pin {
  display: block;
  width: 15px;
  height: 20px;
  background: url('/img/coupon/icon_map-pin.png') no-repeat center center;
  background-size: 15px 20px;
  margin: auto;
}
.ticket--information .googlemap-shop {
  display: block;
  width: 100%;
  height: 50vh;
  margin-bottom: 10px;
  border: none;
}
.ticket--information .external-googlemap {
  float: right;
  font-size: 14px;
}

.ticket--detail {
  margin: 30px 30px 0;
  padding-bottom: 12px;
}
.ticket--detail .title-h2 {
  margin: 30px 0 20px;
}
.ticket--detail p {
  font-size: 12px;
}
.ticket--detail small {
  font-size: 10px;
}

.ticket-card .contact {
  display: block;
  font-size: 12px;
  border-top: solid 1px #EEE;
  padding: 10px 0 20px;
  margin: 0 24px;
}
.ticket-card .contact a {
  margin-left: 10px;
}

