<div class="p-auth">
  <div class="p-auth-container">
    <div class="p-auth-form">
      <h1>
        <%= link_to root_path, title: "トップページへ" do %>
          <%= render partial: "common/logo" %>
        <% end %>
      </h1>
      <h4>For Developers Login Form.</h4>
      <%= form_for(:developer, url: session_path(resource_name), html: {class: "c-form-auth__login"}) do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'form' %>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: 'form' %>
        <%= f.submit("ログイン", class: "c-input__login") %>
      <% end %>
    </div>
  </div>
</div>
