<div class="p-auth">
  <div class="p-auth-sublink">
    <%= link_to "新規登録はこちら", new_registration_path(resource_name) %>
    <%= link_to "ショップはこちら", new_shop_registration_path() %>
  </div>
  <div class="p-auth-container">
    <div class="p-auth-form">
      <h1>
        <%= link_to root_path, title: "トップページへ" do %>
          <img src="<%= asset_path('logo_transparent.png') %>" style="height:80px;width:auto;" />
        <% end %>
      </h1>
      <h4>”つながり”でファッションを楽しくする</h4>
      <%= form_for(:user, url: session_path(resource_name), html: {class: "c-form-auth__login"}) do |f| %>
        <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス' %>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード' %>
        <%= f.submit("ログイン") %>
      <% end %>
      <div class="u-decoration-divider">
        <span>or</span>
      </div>
      <%= form_for(:user, url: user_omniauth_authorize_path(:facebook), html: {class: "c-form-auth__facebook"}, method: "get") do |f| %>
        <%= f.submit("Facebook ログイン", data: { disable_with: "ログイン処理中…" }) %>
        <%= link_to "パスワードをお忘れですか？", new_user_password_path %>
      <% end %>
    </div>
  </div>
</div>
