//
// Logo
// --------------------------------------------------
.c-logo {
  display: inline-block;
  line-height: 0;
  margin: 0; }

//
// Hamburger
// --------------------------------------------------
.c-hamburger {
  display: inline-block;
  position: relative;
  margin-left: 16px;
  width: 20px;
  height: 14px;
  @include order(2);
  span {
    background-color: $styler-black;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    @include transition(transform 0.2s);
    &:nth-child(1) { top: 12%; }
    &:nth-child(2) { top: 50%; }
    &:nth-child(3) { top: 88%; } }
  &.is-active {
    height: 18px;
    span:nth-child(1) { @include translate(0, -2px); }
    span:nth-child(3) { @include translate(0, 2px); } } }

//
// Header components
// --------------------------------------------------
.c-header-login {
  display: -webkit-box;
  display: inline-flex;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  @include transition(transform 0.1s); }

// Hack iOS 8 Safari 7.0+
_::-webkit-full-page-media, _:future, :root .c-header-login {
    float: right; }

.c-header-tab {
  color: $styler-midgray;
  display: inline-block;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $styler-blue;
    @include scale3d(0, 1, 1);
    @include transition(transform 0.2s); }
  &.is-current {
    color: $styler-black;
    font-weight: bold;
    &:before {
      @include scale3d(1, 1, 1);
      @include transition-duration(0.3s);
      @include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1)); } } }

.c-header-avatar {
  display: inline-block;
  padding: 15px 15px 14px;
  margin-left: 20px;
  border-left: 1px solid $styler-smokewhite;
  border-right: 1px solid $styler-smokewhite;
  img {
    vertical-align: sub;
    @include border-radius(100%); } }

.c-header-notification-bubble {
  background-color: $styler-red;
  position: absolute;
  right: 0;
  top: -5px;
  width: 10px;
  height: 10px;
  @include border-radius(5px); }

//
// Nav Components
// --------------------------------------------------
.c-nav-profile {
  h5 {
    display: block;
    margin: 10px 0 0; }
  img {
    display: block;
    margin: 0 auto;
    @include border-radius(100%); } }

//
// Aside Components
// --------------------------------------------------
.c-aside-profile-owner {
  display: table;
  margin-top: 30px;
  h3 {
    display: table-cell;
    font-size: $font-size-18;
    line-height: $font-size-18 * 1.6;
    padding-right: 20px;
    vertical-align: middle; }
  img {
    display: table-cell; } }

.c-aside-profile-desc {
  p {
    color: $styler-darkgray;
    font-size: $font-size-13; } }

.c-aside-profile-stats {
  > li {
    color: $styler-midgray;
    margin-top: 15px;
    > a {
      color: $styler-blue;
      font-weight: bold; }
    > span {
      font-size: $font-size-13;
      padding-left: 8px; }
    &:first-child {
      margin-top: 0; } } }

.c-aside-watcher-avatar { 
  margin-right: 10px;
  margin-bottom: 10px; }

.c-aside-shop-desc {
  font-size: $font-size-13;
  overflow: hidden;
  p {
    color: $styler-darkgray; }
  div {
    background-color: $styler-bg;
    display: inline-block;
    padding-top: 8px;
    text-align: center;
    width: 100%;
    @include box-shadow(0 0 10px rgba(0,0,0,.17)); } }

.c-aside-shop-info {
  display: table;
  margin-top: 12px;
  width: 100%;
  &:nth-child(1) {
    margin-top: 0; }
  &:nth-child(2) a {
      color: $styler-blue; }
  &:nth-child(3) a {
      color: $styler-midgray; }
  &:nth-child(4) a {
      color: $styler-dimblue; }
  div {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
  span {
    color: $styler-midgray;
    font-size: $font-size-11; }
  h5 {
    color: $styler-darkgray;
    margin: 0; }
  a {
    font-size: $font-size-24;
    display: table-cell;
    vertical-align: bottom; } }

//
// Static Page Components
// --------------------------------------------------
.c-help-item {
  padding-top: 25px;
  h4 {
    margin: 0 0 25px; }
}

.c-help-item__option {
  color: $styler-darkgray;
  h5 {
    margin: 0; }
  > ol > li {
    font-size: $font-size-13;
    font-weight: bold;
    margin: 5px 0 0; }
}

//
// Parts Components
// --------------------------------------------------
.c-user-name {
  -webkit-align-items: center;
          align-items: center;
  display: -webkit-flex;
  display: inline-flex;
  &.u-shop-avatar {
    img {
      @include border-radius(8px); } }
  img {
    @include border-radius(100%);
    &.c-img-shop-profile {
      @include border-radius(8px); } }
  h4 {
    line-height: 1.6;
    margin: 0;
    padding: 0 15px;
    -webkit-flex-direction: column; 
        -ms-flex-direction: column; 
            flex-direction: column;
    @include flex();
    > span {
      color: #9B9B9B;
      display: block;
      font-size: 13px;
      font-weight: normal;
      i {
        font-style: normal; } } } }

.c-shop-name {
  padding-left: 70px;
  position: relative;
  min-height: 70px;
  img {
    position: absolute;
    left: 0px;
    width: 70px;
    height: 70px;
  }
}

.c-user-action {
  display: inline-block;
  font-size: $font-size-32; }

.c-photo-uploader {
  display: inline-block;
  margin-bottom: 30px;
  &.u-user-avatar {
    img {
      max-width: 120px;
      @include border-radius(100%); } }
  img {
    max-width: 100%;
    @include border-radius(8px); }
  input {
    display: block;
    font-size: $font-size-11;
    margin-top: 5px; } }

.c-comment-contents {
  margin-left: 45px;
  overflow: hidden;
  a {
      color: $styler-blue; } }

.c-notification-message-time {
  color: $styler-midgray;
  display: block;
  font-size: $font-size-13;
  margin-bottom: 15px; }

//
// Form Components
// --------------------------------------------------
.c-form__textarea {
  color: $styler-black;
  border: 1px solid $styler-smokewhite;
  padding: 2% 3%; 
  position: relative;
  width: calc(94% - 2px);
  z-index: 1;
  @include border-radius(8px);
  &:focus { border: 1px solid $styler-lightgray; } }
.c-form__textarea-message {
  color: $styler-black;
  border: 1px solid $styler-smokewhite;
  padding: 2% 3%; 
  position: relative;
  width: calc(74% - 2px);
  z-index: 1;
  @include border-radius(8px);
  &:focus { border: 1px solid $styler-lightgray; } }

// Auth Form
.c-form-auth__signup,
.c-form-auth__login,
.c-form-auth__password-reset {
  input[type="submit"] {
    background-color: $styler-blue;
    color: $white;
    font-weight: bold;
    margin-top: 10px;
    @include border-radius(8px); } }

.c-form-auth__signup {
  input[type="email"] {
    @include border-radius(8px 8px 0 0); }
  .__password {
    border-top: 1px solid $styler-lightgray; }
  .__password-confirm {
    border-top: 1px solid $styler-lightgray;
    @include border-radius(0 0 8px 8px); }
  p {
    color: $styler-lightgray;
    font-size: $font-size-11;
    font-weight: bold;
    margin-top: 25px; }
  a {
    color: $white;
    &:hover {
      text-decoration: underline; } } }

.c-form-auth__login {
  input[type="email"] {
    @include border-radius(8px 8px 0 0); }
  input[type="password"] {
    border-top: 1px solid $styler-lightgray;
    @include border-radius(0 0 8px 8px); } }

.c-form-auth__password-reset {
  input[type="email"] {
    @include border-radius(8px); }
  .__password {
    @include border-radius(8px 8px 0 0); }
  .__password-confirm {
    border-top: 1px solid $styler-lightgray;
    @include border-radius(0 0 8px 8px); } }

.c-form-auth__facebook {
  input[type="submit"] {
    background-color: #3b5998;
    color: $white;
    font-weight: bold;
    @include border-radius(8px); }
  a {
    display: block;
    color: $white;
    font-size: $font-size-11;
    font-weight: bold;
    padding-top: 15px;
    &:hover {
      text-decoration: underline; } } }

// Auth Form
.c-form__comment-textarea {
  position: relative;
  overflow: hidden;
  button {
    float: right;
    margin-top: 10px;
    width: auto; } }

// Auth Form
.c-form__interested {
  button {
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid $white;
    width: 40%;
    @include border-radius(20px);
    &.is-active {
      background-color: $styler-blue;
      border: none; } }
  span {
    color: $white;
    display: block;
    font-size: $font-size-18;
    padding: 10px 0;
    &::before {
      font-size: $font-size-15;
      padding-right: 8px;
      vertical-align: middle; } }
  a {
    font-size: $font-size-11;
    font-weight: bold;
    margin-top: 15px;
    } }

//
// Button Components
// --------------------------------------------------
.c-button__login {
  color: $styler-midgray; }

.c-button__create {
  & {
    background-color: $styler-black;
    display: inline-block;
    font-size: $font-size-54;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    @include border-radius(100%); }
  i {
    font-style: normal; } }

.c-button__submit {
  background-color: $styler-blue;
  border: 1px solid $styler-blue;
  color: $white;
  font-weight: bold;
  padding: 2% 5%;
  @include border-radius(8px);
  &:disabled {
    background-color: $styler-lightgray; } }

.c-button__cancel {
  color: $styler-midgray;
  padding: 2% 5%;
  @include border-radius(8px); }

.c-button__like {
  align-items: center;
  color: $styler-lightgray;
  font-size: $font-size-24;
  line-height: 1;
  padding: 0;
  @include flex();
  &.is-active {
    color: $styler-red; } }

.c-button__message, 
.c-button__event {
  background-color: $styler-black;
  display: inline-flex;
  padding: 15px;
  position: fixed;
  bottom: 10px;
  left: 50%; }

.c-button__message {
  margin-left: -120px;
  padding: 15px;
  @include border-radius(37px);
  button {
    color: $white;
    padding: 0;
    img {
      margin-right: 8px; }
    h4 {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-align-items: center;
              align-items: center;
      margin: 0;
      padding: 0; } } }

.c-button__event {
  margin-left: -128px;
  padding: 15px 20px;
  @include border-radius(29px);
  a {
    align-items: center;
    color: $white;
    display: inline-flex;
    span {
      font-size: $font-size-28;
      margin-right: 8px; }
    h4 {
      margin: 0;
      padding: 0; } } }

.c-button__more {
  border: 1px solid $styler-blue;
  color: $styler-blue;
  display: inline-block;
  font-weight: bold;
  padding: 3px 16px;
  @include border-radius(16px); }

//
// Icons
// --------------------------------------------------
.c-icon-bell {
  font-size: $font-size-18;
  color: $styler-lightgray; }

.c-icon-button {
  padding: 0;
  position: relative; }

.c-icon-create {
  background-color: $styler-black;
  height: 32px;
  width: 32px;
  @include border-radius(100%); }

.c-icon-like {
  padding-right: 5px; }

.c-icon-setting {
  color: $styler-midgray; }

//
// Flash Messages
// --------------------------------------------------
.c-flash-message {
  color: $white;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 9999;
  @include translate3d(0,-34px,0);

  -webkit-animation: fade-out 4s ease-out forwards;
          animation: fade-out 4s ease-out forwards;
  @-webkit-keyframes fade-out {
    5% {
      @include opacity(1);
      @include translate3d(0,0,0); }
    85% {
      @include opacity(1);
      @include translate3d(0,0,0); }
    100% {
      @include opacity(0);
      @include translate3d(0,-34px,0); } }
  @keyframes fade-out {
    5% {
      @include opacity(1);
      @include translate3d(0,0,0); }
    85% {
      @include opacity(1);
      @include translate3d(0,0,0); }
    100% {
      @include opacity(0);
      @include translate3d(0,-34px,0); } }
  &.notice {
    background-color: $styler-blue; }
  &.alert {
    background-color: $styler-red; } }

.c-icon-unread {
  border: 1px solid $styler-red;
  color: $styler-red;
  font-size: $font-size-13;
  line-height: 1.4;
  padding: 0 8px;
  @include border-radius(6px);
}

.c-icon-new {
  background-color: $styler-red;
  color: $white;
  display: inline-block;
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
  padding: 4px 10px;
 @include border-radius(6px); 
}

.c-icon-finish {
  background-color: $styler-darkgray;
  color: $white;
  display: inline-block;
  font-weight: bold;
  line-height: 1.4;
  margin: 0;
  padding: 4px 10px;
 @include border-radius(6px); 
}
