//
// Auth (Devise)
// --------------------------------------------------
.p-auth {
  background-image: image-url("auth_bg.jpg");
  background-position: center;
  background-size: cover;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.p-auth-alert {
  background-color: rgba($white, .8);
  display: table;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -142px;
  max-width: 300px;
  overflow: hidden;
  z-index: 9999;
  @include border-radius(8px);
  span {
    display: table-cell;
    vertical-align: middle;
    &:nth-child(1) {
      background-color: $styler-red;
      color: $white;
      margin-right: 15px;
      text-align: center;
      height: auto;
      width: 30px; }
    &:nth-child(2) { 
      padding: 15px; } } }

.p-auth-container {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.p-auth-form {
  display: inline-block;
  padding: 30px 20px;
  max-width: 280px;
  @include border-radius(8px);
  h1 a {
    color: $white; }
  h3, h4 {
    color: $white; }
  @media screen and (max-width: 320px) {
    padding: 0 20px;
    h1 {
      margin: 0; }
    h4 {
      font-size: $font-size-13; }
    svg {
      width: 65%; } } }

.p-auth-sublink {
  display: block;
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
  a {
    color: $white;
    font-weight: bold; }
  a:hover { 
    text-decoration: underline; }
  a:nth-child(2) {
    border-left: 1px solid $white;
    margin-left: 15px;
    padding-left: 15px; }
  @media screen and (max-width: 320px) {
    bottom: 10px; }
    a {
      font-size: $font-size-13; } }

//
// Header
// --------------------------------------------------
.p-header {
  padding: 0 15px;
  .c-logo {
    a {
      border-left: 1px solid $styler-smokewhite;
      border-right: 1px solid $styler-smokewhite;
      display: inline-block;
      padding: 15px 24px; } }
  .c-header-login {
    font-size: $font-size-13;
    padding: 15px 0; }
  .p-header-tab {
    display: inline-flex;
    width: 100%; }
  .c-header-tab {
    padding: 10px 0;
    width: 100%;
    > button {
      color: $styler-midgray;
      padding: 0; }
    &.is-current > button {
      color: $styler-black; } }
  .c-icon-button {
    display: inline-block; } }

// Hack iOS 8 Safari 7.0+
_::-webkit-full-page-media, _:future, :root .p-header .p-header-tab {
    display: -webkit-flex; }

.p-header {
  @media screen and (min-width: 436px) {
    .c-logo {
      position: relative;
      vertical-align: middle; }
    .c-hamburger {
      vertical-align: middle; }
    .c-header-login {
      padding: 18px 0; }
    .c-header-tab {
      font-size: $font-size-15;
      padding: 18px 24px; } }
  @media screen and (min-width: 768px) {
    padding: 0 0 0 15px; }
  @media screen and (min-width: 939px) {
    padding: 0; }
  @media screen and (max-width: 435px) {
    .c-logo {
      margin-left: 8px;
      a {
        border-left: none;
        border-right: none;
        padding: 0; } }
    .c-icon-button {
      margin: 18px 0; }
    .c-header-avatar {
      // display: none;
      border: none;
      margin: 0;
      padding: 0 0 0 15px;
      img {
        width: 24px;
        height: 24px; } } } }

//
// Navigation
// --------------------------------------------------
.p-nav {
  background-color: $white;
  padding: 30px 10%;
  min-width: 180px;
  position: fixed;
  top: 54px;
  text-align: center;
  height: calc(100% - 54px);
  width: 80%;
  > li {
    cursor: pointer;
    padding: 12px 0;
    &.is-current {
      font-weight: bold; }
    &.for-guest {
      padding: 8px 0;
      a {
        color: $styler-midgray;
        font-size: $font-size-11; } }
    a {
      display: block; }
    &:nth-child(1) {
      padding-top: 0; }
    &:nth-child(6), 
    &:nth-child(7), 
    &:nth-child(8), 
    &:nth-child(9) {
      padding: 8px 0;
      a {
        color: $styler-midgray;
        font-size: $font-size-11; } } } } 

.p-nav {
  @media screen and (min-width: 436px) {
    padding: 30px;
    text-align: left;
    top: 60px;
    height: auto;
    width: auto;
    @include border-radius(0 0 8px 8px); }
  @media screen and (max-width: 320px) {
    > li {
      &:nth-child(6), 
      &:nth-child(7), 
      &:nth-child(8), 
      &:nth-child(9) {
        display: inline-block;
        margin-right: 20px; } } } }


//
// Article
// --------------------------------------------------
.p-article {
  background-color: $white;
  margin-bottom: 0;
  padding: 25px;
  .p-article-owner {
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;        
            justify-content: space-between;
    @include flex();
    .c-icon-watch {
      color: $styler-lightgray; }
    .c-icon-create {
      background-color: $styler-lightgray; }
    .c-icon-replied {
      color: $styler-blue; } }
  .is-active {
    .c-icon-watch {
      color: $styler-blue; } }
  .p-article-title {
    margin-top: 0;
    a {
      color: $styler-blue;
      font-size: $font-size-13;
      float: right;
      &:after {
        content: "\25B8";
        padding-left: 5px; } } }
  .p-article-edit {
    line-height: 1;
    margin-top: 20px;
    a {
      font-size: $font-size-13;
      font-weight: bold;
      &:nth-child(2) {
        margin-left: 10px; } } }
  .p-article-desc {
    margin-top: 15px;
    p {
      margin-bottom: 0; } }
  .p-article-img {
    margin-top: 20px;
    position: relative;
    @include flex-wrap();
    @include flex();
    a {
      display: block;
      flex-basis: calc(50% - 5px);
      -webkit-flex-basis: calc(50% - 5px); }
    img {
      display: block;
      height: 100%;
      width: 100%;
      @include border-radius(8px); } }
  .p-article-stats {
    display: inline-flex;
    margin-top: 20px;
    span {
      color: $styler-midgray;
      padding-right: 20px; }
    span:last-child {
      padding-right: 0; }
    span:before {
      font-size: $font-size-15;
      padding-right: 8px;
      vertical-align: middle; } }
  .p-article-cta {
    margin-top: 5px;
    width: 100%;
    @include flex();
    > div {
      display: inline-table;
      line-height: 1.2; }
    p {
      font-size: $font-size-11;
      font-weight: bold;
      display: inline-flex;
      line-height: 1.8;
      margin: 0;
      width: 100%; } }
  .p-article-shop-info {
    border-top: 1px solid $styler-smokewhite;
    margin-top: 25px;
    padding-top: 10px;
    > ul > li {
      display: table;
      margin-top: 15px;
      width: 100%;
      &:nth-child(1) {
        margin-top: 0; }
      &:nth-child(2) a {
        color: $styler-blue; }
      &:nth-child(3) a {
        color: $styler-midgray; }
      &:nth-child(4) a {
        color: $styler-dimblue; } }
    div {
      display: table-cell;
      width: 100%; }
    a {
      display: table-cell;
      font-size: $font-size-28;
      vertical-align: bottom; }
    h5 {
      color: $styler-darkgray;
      margin: 0;
      padding-right: 30px; }
    span {
      color: $styler-midgray;
      font-size: $font-size-11; } } }

// Hack iOS 8 Safari 7.0+
_::-webkit-full-page-media, _:future, :root .p-article {
  overflow: hidden; }

_::-webkit-full-page-media, _:future, :root .p-article .p-article-stats {
  float: left; }

_::-webkit-full-page-media, _:future, :root .p-article .p-article-img {
  padding-top: 20px;
  width: 100%; }

.p-article {
  @media screen and (min-width: 436px) {
    margin-bottom: 8px;
    @include border-radius(8px); } }

//
// Article Post
// --------------------------------------------------
.p-article-post {
  .p-article-img {
    a {
      margin-bottom: 10px; }
    a:nth-child(odd) {
      margin-right: 10px; } }
  h4 > span i:not(:last-child):after {
        content: "・"; } }

//
// Article Post-detail
// --------------------------------------------------
.p-article-post-detail {
  .p-article-desc {
    p { 
      font-size: $font-size-20;
      line-height: $font-size-20 * 1.8;
      margin: 0; } }
  .p-article-cta {
    width: 100%;
    .c-button__like {
      font-size: $font-size-13; } }
  .p-article-img__reply {
    display: none;
    position: relative;
    width: calc(50% - 5px);x
    img {
      margin-bottom: 5px; } }
  h4 > span i:not(:last-child):after {
        content: "・"; } }

//
// Article Reply-detail
// --------------------------------------------------
.p-article-reply-detail {
  .p-article-edit {
    margin-top: 0; }
  .p-article-cta {
    -webkit-justify-items: center;
              align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-top: 15px; }
  .p-article-desc {
    margin-top: 5px;
    padding-top: 5px;
    a {
      color: $styler-blue; } }
  .p-article-owner {
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-flex-direction: column;
            flex-direction: column;
    h2 {
      margin: 0 0 15px; }
    p {
      margin: 0;
      span {
        color: $styler-midgray;
        font-size: $font-size-11;
        font-weight: normal;
        margin-left: 5px; } }
    a {
      margin-top: 15px;
      span {
        font-size: $font-size-13;
        font-weight: normal;
        margin-left: 10px; } } } }

//
// Article Comment
// --------------------------------------------------
.p-article-comment {
  margin-top: 55px;
  padding-top: 25px;
  overflow: hidden;
  .p-article-edit {
    margin-top: 0; }
  .p-comment-items {
    li {
      margin-bottom: 30px;
      &:first-child {
        margin-top: 30px; }
      &:last-child {
        margin-bottom: 0; } }
    p {
      margin-bottom: 10px;
      margin-top: 10px; } }
  .c-user-name {
    font-size: $font-size-13; }
  .c-button__like {
    font-size: $font-size-13;
    margin-bottom: 15px; } }

.p-article-comment {
  @media screen and (min-width: 436px) {
    border-top: 1px solid $styler-lightgray; } }

//
// Article Message
// --------------------------------------------------
.p-article-messege__sender {
  .p-article-owner {
    -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .p-article-desc {
    background-color: $styler-darkgray;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    padding: 10px 15px;
    position: relative;
    @include border-radius(8px);
    p {
      color: $white;
      font-weight: bold;
      margin: 0; }
    a {
      color: $styler-blue; } }
  .c-user-name {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

.p-article-messege__recipient {
  .p-article-desc {
    background-color: $styler-smokewhite;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 60px;
    padding: 10px 15px;
    position: relative;
    @include border-radius(8px);
    p {
      margin: 0; }
    a {
      color: $styler-blue; } } }

//
// Article Notification
// --------------------------------------------------
.p-article-notification {
  .p-article-notification-item {
    align-items: center;
    border: 1px solid $styler-black;
    justify-content: space-between;
    margin-top: 15px;
    padding: 20px;
    @include border-radius(8px);
    @include flex();
    i {
      color: $styler-lightgray;
      font-size: $font-size-32; }
    span {
      font-size: $font-size-13;
      font-weight: bold;
      line-height: 1.6*$font-size-13;
      width: calc(100% - 85px); }
    img {
      @include border-radius(8px); } }
  &.confirmed {
    @include box-shadow(none);
    .p-article-notification-item {
      border: 1px solid $styler-smokewhite;
      span {
        color: $styler-midgray;
        font-weight: normal; } } } }

//
// Article User / Staff / Shop
// --------------------------------------------------
.p-article-profile {
  background-color: transparent;
  padding: 50px 25px;
  .p-article-owner {
    position: relative;
    .c-user-action {
      background-color: $styler-bg;
      font-size: $font-size-24;
      position: absolute;
      bottom: 0;
      right: -10px;
      padding: 5px;
      @include border-radius(100%); } }
  .p-article-desc {
    margin-top: 25px; }
  .p-article-stats {
    display: inline-block;
    width: 100%;
    a {
      float: left;
      font-weight: bold;
      margin-bottom: 0;
      margin-right: 20px;
      margin-top: 20px;
      span {
        display: block;
        font-size: $font-size-11;
        line-height: 24px; }
      &:before {
        line-height: 1.6; } } }
  .c-user-name {
    -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    width: 100%;
    .read-more {
      margin-bottom: 16px; }
    h4 {
      font-size: $font-size-20;
      line-height: 1.4;
      padding-left: 0;
      width: calc(100% - 120px); }
    i {
      display: inline-block;
      font-size: $font-size-13;
      font-style: normal;
      margin-top: 10px;
      &.c-icon-user {
        margin-right: 15px; }
      &:before {
      margin-right: 5px; } }
    a {
      color: $styler-blue;
      display: block;
      font-size: $font-size-11;
      margin-top: 5px; }
    img {
      max-width: 120px;
      width: calc(100% + 15px ); } } }

.p-article-profile {
  @media screen and (min-width: 436px) {
    padding: 25px;
    .c-user-name { 
      h4 {
        font-size: $font-size-24; }
      a {
        font-size: $font-size-13; } } } }

//
// Article Event
// --------------------------------------------------
.p-article-event {
  overflow: hidden;
  margin-bottom: 8px;
  padding: 0;
  .p-article-img {
    background-color: $styler-black;
    display: table;
    width: 100%;
    height: 320px;
    margin-top: 0;
    .c-event-img {
      background-size: cover;
      position: absolute;
      height: 320px;
      width: 100%;
      @include opacity(.3); }
    .c-event-header {
      color: $white;
      display: table-cell;
      position: relative;
      text-align: center;
      vertical-align: middle;
      span {
        display: block;
        margin-bottom: 4px; } }
    .c-user-name {
      margin-top: 15px;
      justify-content: center;
      -webkit-justify-content: center;
      h4 {
        margin-top: 0; }
      img {
        height: 28px;
        width: 28px; } } }
  .p-article-desc {
    padding: 0 25px;
    a {
      color: $styler-blue; } }
  .p-article-shop-info, 
  .p-article-interested-users {
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px; }
  .p-article-interested-users {
    border-top: 1px solid $styler-lightgray;
    margin-top: 25px;
    padding-top: 10px;
    ul {
      margin: 15px 0;
    }
    li {
      display: inline-flex;
      margin-right: 20px; }
    a {
      display: inline-flex; }
    img {
      @include border-radius(100%); } }
  h4 {
    margin: 10px 0 0; } }

//
// Article Staff
// --------------------------------------------------
.p-article-staff {
  .p-article-owner {
    padding: 10px 0; } }

//
// Article Setting
// --------------------------------------------------
.p-article-profile-setting {
  > a {
    align-items: center;
    justify-content: space-between;
    @include flex(); }
  .c-icon-transition {
    display: inline-block;
    @include rotate(180deg); } }

.p-article-help {
  border-top: 1px solid $styler-lightgray;
  margin-top: 30px;
  padding-top: 20px; }

//
// Article dashboard
// --------------------------------------------------
.p-article-dashboard {
  .p-dashboard-table {
    width: 100%;
    border-collapse: collapse; 
    table, thead, tbody, th, td, tr {
      display: block; }
    tr { 
      border: 1px solid #ccc;
      &:nth-of-type(odd) {
        background: #eee; } }
    td {
      padding: 6px;
      border: none;
      border-bottom: 1px solid $styler-smokewhite;
      position: relative;
      padding-left: 50%;
      text-align: right; }
    td:before {
      border-right: 1px solid $styler-midgray;
      position: absolute;
      top: 6px;
      left: 6px;
      width: 35%; 
      padding-right: 20px;
      white-space: nowrap; }
    &.kpi {
      td:nth-of-type(1):before { content: "日付"; }
      td:nth-of-type(2):before { content: "ユーザ数"; }
      td:nth-of-type(3):before { content: "カスタマー数"; }
      td:nth-of-type(4):before { content: "スタッフ数"; }
      td:nth-of-type(5):before { content: "ショップ数"; }
      td:nth-of-type(6):before { content: "Post 数"; }
      td:nth-of-type(7):before { content: "Watch 数"; }
      td:nth-of-type(8):before { content: "Reply 数"; }
      td:nth-of-type(9):before { content: "Event 数"; }
      td:nth-of-type(10):before { content: "Match 数"; } }
    &.user_list {
      td:nth-of-type(1):before { content: "ID"; }
      td:nth-of-type(2):before { content: "名前"; }
      td:nth-of-type(3):before { content: "メールアドレス"; }
      td:nth-of-type(4):before { content: "Post 数"; }
      td:nth-of-type(5):before { content: "Reply 数"; }
      td:nth-of-type(6):before { content: "ログイン率"; }
      td:nth-of-type(7):before { content: "最終ログイン日"; } }
    &.shop_list {
      td:nth-of-type(1):before { content: "ID"; }
      td:nth-of-type(2):before { content: "名前"; }
      td:nth-of-type(3):before { content: "スタッフ数"; }
      td:nth-of-type(4):before { content: "スタッフ追加"; }
      td:nth-of-type(5):before { content: "表示/非表示"; } }
    &.article_list {
      td:nth-of-type(1):before { content: "ID"; }
      td:nth-of-type(2):before { content: "タイトル"; } }
    &.author_list {
      td:nth-of-type(1):before { content: "ID"; }
      td:nth-of-type(2):before { content: "名前"; } }
    &.mails_list {
      td:nth-of-type(1):before { content: "種類"; } }
    &.feedback_list {
      td:nth-of-type(1):before { content: "ID"; }
      td:nth-of-type(2):before { content: "ユーザID"; }
      td:nth-of-type(3):before { content: "ユーザ名"; }
      td:nth-of-type(4):before { content: "報告内容"; }
      td:nth-of-type(5):before { content: "オブジェクト"; }
      td:nth-of-type(6):before { content: "チェック"; } }
    &.registration_list {
      td:nth-of-type(1):before { content: "ID"; }
      td:nth-of-type(2):before { content: "ショップ名"; }
      td:nth-of-type(3):before { content: "ショップ紹介文"; }
      td:nth-of-type(4):before { content: "Webサイト"; }
      td:nth-of-type(5):before { content: "担当者氏名"; }
      td:nth-of-type(6):before { content: "担当者メールアドレス"; }
      td:nth-of-type(7):before { content: "チェック"; } }
    &.post_category_list {
      td:nth-of-type(1):before { content: "ID"; }
      td:nth-of-type(2):before { content: "テキスト"; }
      td:nth-of-type(3):before { content: "カテゴリー"; }
      td:nth-of-type(4):before { content: "送信"; } }
    &.item_list {
      td:nth-of-type(1):before { content: "画像"; }
      td:nth-of-type(2):before { content: "ID"; }
      td:nth-of-type(3):before { content: "ブランド名"; }
      td:nth-of-type(4):before { content: "アイテム名"; }
      td:nth-of-type(5):before { content: "価格"; }
      td:nth-of-type(6):before { content: "説明文"; }
      td:nth-of-type(7):before { content: "選択"; }
    }
  }
}

//
// Create Form
// --------------------------------------------------
.p-create-form {
  background-color: $white;
  margin-bottom: 2px;
  padding: 20px 25px;
  overflow: hidden;
  > ul > li {
    margin-bottom: 15px; }
  label {
    display: block;
    margin-bottom: 5px; }
  button {
    float: right;
    margin-top: 20px;
    width: auto; }
  .c-form__textarea {
    border: 1px solid $styler-smokewhite;
    padding: 2% 3%;
    width: calc(94% - 2px); } }

.p-create-form {
  @media screen and (min-width: 436px) {
    margin-bottom: 8px;
    @include border-radius(8px); } }

//
// Aside List Content
// --------------------------------------------------
.p-list {
  margin-bottom: 40px; }

.p-list__watch {
  display: flex;
  flex-wrap: wrap; }
