//
// Paper Shadow
// --------------------------------------------------
.u-paper-shadow-z1 {
  @include box-shadow(0 1px 3px rgba(0,0,0,.1)); }

.u-paper-shadow-z2 {
  @include box-shadow(0 2px 3px rgba(0,0,0,.1)); }

.u-paper-shadow-notofication-dot {
  @include box-shadow(1px 1px 1px rgba(0,0,0,.17)); }

.u-paper-shadow-button {
  @include box-shadow(4px 4px 6px rgba(0,0,0,.47)); }

@media screen and (min-width: 436px) {
  .u-paper-shadow-z2 {
    @include box-shadow(0 2px 3px rgba(0,0,0,.05)); } }

//
// Text Align
// --------------------------------------------------
.u-text-align__center {
  text-align: center; }

.u-text-align__right {
  text-align: right; }

.u-text-align__left {
  text-align: left; }

//
// Font Size
// --------------------------------------------------
.u-font-size-18 {
  font-size: $font-size-18; }

.u-font-size-20 {
  font-size: $font-size-20; }

.u-font-size-24 {
  font-size: $font-size-24; }

.u-font-size-28 {
  font-size: $font-size-28; }

.u-font-size-32 {
  font-size: $font-size-32; }

//
// Float
// --------------------------------------------------
.u-float__left {
  float: left; }

.u-float__right {
  float: right; }

.u-float__clear {
  clear: both; }

//
// Border-radius
// --------------------------------------------------
.u-border-radius-8 {
  @include border-radius(8px); }

.u-border-radius-100 {
  @include border-radius(100%); }

//
// Circle Animation
// --------------------------------------------------
.u-circle-effect {
  display: block;
  position: absolute;
  background-color: $styler-white;
  @include border-radius(50%);
  @include scale3d(0,0,0);
  &.is-animated {
    -webkit-animation: scaleffect 0.4s linear;
            animation: scaleffect 0.4s linear; }
  @-webkit-keyframes scaleffect {
    100%{
      @include opacity(0);
      @include scale3d(2,2,0); } }
  @keyframes scaleffect {
    100%{
      @include opacity(0);
      @include scale3d(2,2,0); } } }

//
// Scrolled Animation
// --------------------------------------------------
.u-scrolled-animation {
  @include transition(transform 0.8s);
  @include translate3d(0,0,0);
  &.is-scrolled {
    @include translate3d(0,150px,0);
    @include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1));
  }
}

//
// Slide Up Animation
// --------------------------------------------------
.u-slideup-effect {
  transform: translateY(150px);
  -webkit-animation: slide-in 0,8s ease forwards;
          animation: slide-in 0.8s ease forwards;
  &:nth-child(odd) {
    animation-duration: 0.6s; }
  @-webkit-keyframes slide-in {
    to { transform: translateY(0); } }
  @keyframes slide-in {
    to { transform: translateY(0); } } }

.u-slideup-effect__end {
  transform: translateY(0);
  animation: none; }

//
// Slide Down Animation
// --------------------------------------------------
.u-slidedown-effect {
  @include opacity(0);
  @include transition(all 0.5s);
  @include translate3d(0,-100%,0);
  &.is-animated {
    @include opacity(1);
    @include translate3d(0,0,0);
    @include transition-timing-function(cubic-bezier(0.4, 0, 0.2, 1)); }
  @media screen and (max-width: 435px) {
    &.is-animated {
      z-index: 9999; } } }

//
// Watch Animation
// --------------------------------------------------
.u-watch-effect {
  &::after {
    content: '';
    background-color: rgba(39,190,255,.2);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    pointer-events: none;
    @include border-radius(50%);
    @include opacity(0); }
  &.is-animated {
   &::after {
    -webkit-animation: watch-effect 0.5s ease-out forwards;
            animation: watch-effect 0.5s ease-out forwards; } }
  @-webkit-keyframes watch-effect {
    0% {
      @include opacity(1);
      @include scale3d(0.5, 0.5, 1); }
    25% {
      @include opacity(1);
      @include scale3d(1, 1, 1); }
    100% {
      @include opacity(0);
      @include scale3d(1, 1, 1); } }
  @keyframes watch-effect {
    0% {
      @include opacity(1);
      @include scale3d(0.5, 0.5, 1); }
    25% {
      @include opacity(1);
      @include scale3d(1, 1, 1); }
    100% {
      @include opacity(0);
      @include scale3d(1, 1, 1); } } }

//
// Decoration
// --------------------------------------------------
.u-decoration-border {
  border-bottom: 1px solid $styler-smokewhite;
  margin-bottom: 15px;
  padding-top: 15px; }

.u-decoration-divider {
  color: $white;
  display: block;
  margin: 15px auto;
  &:before,
  &:after {
    content: "";
    display: inline-block;
    border-top: 1px solid;
    position: relative;
    vertical-align: middle;
    width: 40px; }
  span {
    padding: 0 5px; } }

//
// Text Color
// --------------------------------------------------
.u-text-color__black {
  color: $styler-black; }

//
// Link Color
// --------------------------------------------------
.u-link-color__blue {
  color: $styler-blue; }

.u-link-color__red {
  color: $styler-red; }

.u-link-color__midgray {
  color: $styler-midgray; }

//
// Letter Coiunter
// --------------------------------------------------
.u-letter-counter {
  font-size: $font-size-13;
  text-align: right;
  input {
    border: none;
    color: $styler-midgray;
    padding: 0;
    text-align: center;
    width: 40px; } }

//
// Avatar Radius
// --------------------------------------------------
.u-user-avatar {
  @include border-radius(100%); }

.u-shop-avatar {
  @include border-radius(8px); }

//
// Others
// --------------------------------------------------
#message-timeline > div {
  margin-top: 0px;
  &:first-child {
    margin-top: 0; } }

#infscr-loading {
  position: relative;
  img {
    display: none; }
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -32px; }
  span {
    border: 4px solid $styler-blue;
    height: 10px;
    width: 10px;
    margin: 25px 0;
    position: absolute;
    @include border-radius(100%);
    @include transform(0);
    -webkit-animation: now-loading 1s infinite;
            animation: now-loading 1s infinite;
    &:nth-child(1) {
      left: 0px;
      animation-delay: 0s; }
    &:nth-child(2) {
      left: 25px;
      animation-delay: 0.2s; }
    &:nth-child(3) {
      left: 50px;
      animation-delay: 0.4s; } }
  @-webkit-keyframes now-loading {
    0%   { 
      background: $styler-blue;
      @include scale(0.5, 0.5); }
    50%   { 
      background: $white;
      @include scale(1, 1); }
    100% { 
      background: $styler-blue;
      @include scale(1, 1); } }
  @keyframes now-loading {
    0%   {
      background: $styler-blue;
      @include scale(0.5, 0.5); }
    50%   {
      background: transparent;
      @include scale(1, 1); }
    100% {
      background: $styler-blue;
      @include scale(0.5, 0.5); } } }

#error_explanation {
  h2 {
    display: none; }
  ul {
    padding: 15px; } }
