<section class="l-flex__center">
  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h3 style="margin-top:0;">HTMLメールのデザイン確認</h3>
    各HTMLメールのデザインを確認することができます。それぞれのメールの表示の為に、データベースに保存されたデータをランダムに使用してあります。
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to welcome_mail_admin_html_mails_path do %>
      welcome mail
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to comment_mail_admin_html_mails_path do %>
      comment mail
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to feedback_mail_admin_html_mails_path do %>
      feedback mail
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to message_mail_admin_html_mails_path do %>
      message mail
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to reply_mail_admin_html_mails_path do %>
      reply mail
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to start_events_mail_admin_html_mails_path do %>
      start events mail
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to approval_mail_admin_html_mails_path do %>
      approval mail
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

  <article class="p-article p-article-profile-setting u-paper-shadow-z1">
    <%= link_to staff_invite_mail_admin_html_mails_path do %>
      staff invite mail
      <span class="c-icon-transition"></span>
    <% end %>
  </article>

</section>
