<section class="l-flex__center">
  <article class="p-article u-paper-shadow-z1">
    <h3>登録申請が完了しました</h3>
    <p>
      新規ショップ登録申請については、弊社で申請内容を確認の上、後日結果をご連絡いたします。
    </p>
    <p>
      承認完了まで今しばらくお待ちください。
    </p>
    <%= link_to "ホームフィードへ戻る", root_path, class: "u-link-color__blue" %>
  </article>
</section>
