<section class="l-flex__center">
  <%= form_tag(shop_registrations_path, multipart: true, class: "p-create-form u-paper-shadow-z1") do %>
    <h3>新規ショップ登録申請</h3>
    <p>
      STYLERをご利用いただきありがとうございます。
      ショップとして参加をご希望の場合、下記フォームにて登録申請を行なってください。
    </p>

    <ul>
      <li>
        <label for="shop_name">ショップ名：
          <span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span>
        </label>
        <input type="text" name="shop_name" id="shop_name" placeholder="例：スタイラー渋谷店" class="c-form__textarea">
      </li>
      <li>
        <label for="textarea">ショップ紹介文：
          <span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span>
        </label>
        <%= text_area_tag "shop_profile", "", 
                          rows: "3", 
                          placeholder: "例：カジュアルなメンズファッションを扱っています。時代の先端を先取りするアイテムを届けます。", 
                          class: "c-form__textarea" %>
      </li>
      <li>
        <label for="shop_website">Webサイト：
          <span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span>
        </label>
        <input type="url" name="shop_website" id="shop_website" placeholder="例：http://styler.link/" class="c-form__textarea">
      </li>
      <li>
        <label for="textarea">ショップロゴ：
          <span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span>
        </label>
        <div class="c-photo-uploader">
          <%= image_tag "" %>
          <%= file_field_tag :photo, class: "u-photo-uploader", accept: "image/jpeg,image/png,image/gif" %>
        </div>
      </li>
      <li>
        <label for="staff_name">担当者氏名：
          <span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span>
        </label>
        <input type="text" name="staff_name" id="staff_name" placeholder="例：ジョン・スタイラー" class="c-form__textarea">
      </li>
      <li>
        <label for="staff_email">担当者メールアドレス：
          <span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span>
        </label>
        <input type="text" name="staff_email" id="staff_email" placeholder="例：info@styler.link" class="c-form__textarea">
      </li>
      <li>
        <label for="staff_password">担当者パスワード：
          <span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span>
        </label>
        <input type="text" name="staff_password" id="staff_password" placeholder="※8文字以上" class="c-form__textarea">
      </li>
      <li>
        <label for="staff_password_confirmation">担当者パスワード（確認）：
          <span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span>
        </label>
        <input type="text" name="staff_password_confirmation" id="staff_password_confirmation" placeholder="上記パスワードをもう一度入力してください" class="c-form__textarea">
      </li>
    </ul>
    <%= button_tag "送信する", type: 'submit', class: "c-button__submit", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>
</section>
