<section class="l-flex__center">

  <%= form_tag(feedbacks_path, { multipart: true, class: "p-create-form u-paper-shadow-z1" }) do %>
    <h3>報告内容を入力する</h3>
    <%= text_area_tag :text, "", 
                          rows: "5", 
                          autofocus: true,
                          placeholder: "どのような理由で報告するのかを教えて下さい。", 
                          required: true, 
                          class: "c-form__textarea" %>
    <input type="hidden" name="object" value="<%= @object %>">
    <input type="hidden" name="generic_id" value="<%= @generic_id %>">
    <%= button_tag "送信する", type: 'submit', class: "c-button__submit", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>

</section>
