<section class="l-flex__center">
  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h3 style="margin-top:0;">ユーザーレポートの管理</h3>
    ユーザーのレポートを一覧表示してあります。それぞれのレポートに対する確認が完了したら「確認済み」ボタンを押して完了させましょう。
  </article>

  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h4 style="margin-top:0;"><%= @reports.count %>件</h4>
    <table class="p-dashboard-table feedback_list">
      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= report.id %></td>
            <td><%= report.user_id %></td>
            <td><%= link_to report.user.name, user_path(report.user), class: "u-link-color__blue" %></td>
            <td><%= report.text.presence || "-" %></td>
            <td>
              <% if report.generic_id %>
                <%= link_to "#{report.object}(#{report.generic_id})", "/#{report.object.tableize}/#{report.generic_id}", class: "u-link-color__blue" %>
              <% else %>
                <%= "なし" %>
              <% end %>
            </td>
            <td><%= link_to "確認済み", admin_report_path(report), data: { confirm: "このユーザーレポートを確認済みにしますか？" }, method: "patch", class: "u-link-color__blue" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>

</section>
