<section class="l-flex__center">
  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h3 style="margin-top:0;">記事のカテゴリー管理</h3>
    記事のカテゴリーを一覧表示してあります。「カテゴリーを追加する」ボタンより各カテゴリーに対して、子カテゴリーを追加することができます。
  </article>

  <article class="p-article u-paper-shadow-z1">
    <%= link_to 'カテゴリーを追加する', new_admin_category_path, class: "c-button__submit" %>
    <% @categories.each do |category| %>
      <h4><%= category.name %></h4>
      <% if ArticleCategory.where(name: category.name).count > 1 %>
        <% ArticleCategory.where(name: category.name).where.not(child_name: '').pluck(:child_name).each do |name| %>
        - <%= name %><br>
        <% end %>
      <% end %>
    <% end %>
  </article>
</section>
