<section class="l-flex__center">

  <%= form_tag admin_categories_path, multipart: true, class: "p-create-form u-paper-shadow-z1" do %>
    <h3 style="margin-top:0;">記事カテゴリー新規作成</h3>
    <ul>
      <li>
        <label for="id">カテゴリーを選択：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <select name="id" id="id" class="c-form__textarea" style="height:40px;width:100%;">
          <option value="">選択してください</option>
          <% @categories.each do |category| %>
            <option value=<%= category.id %>><%= category.name %></option>
          <% end %>
        </select>
      </li>
      <li>
        <label for="child_name">子カテゴリー名：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <input type="text" name="child_name" id="child_name" placeholder="" class="c-form__textarea">
      </li>
    </ul>
    <%= button_tag "登録する", type: 'submit', class: "c-button__submit", style: "margin-top: 0px;", data: { disable_with: "送信中…" } %>
  <% end %>

</section>
