<% case role(post) %>
<% when "mypost" %>
  <div class="p-article-edit u-float__right">
    <%= link_to "編集", edit_post_path(post), class: "u-link-color__blue" %>
    <%= link_to "削除", post_path(post), class: "u-link-color__red", data: { confirm: "投稿を削除しますか？" }, method: "delete" if post.replies.blank? %>
  </div>

<% when "customer", "staff" %>
  <div class="p-article-edit u-float__right">
    <%= link_to "報告", new_feedback_path(object: "Post", generic_id: post.id), class: "u-link-color__midgray" %>
  </div>
<% end %>
