<% case role(post) %>
<% when "customer" %>
  <div id="<%= "watch_#{post.id}" %>">
    <% if watch = post.watches.find_by(user_id: current_user.id) %>
      <%= form_tag(watch_path(watch), {remote: true, method: "delete"}) do %>
        <%= button_tag type: "submit", value: "#{post.id}", class: "c-user-action c-icon-button u-watch-effect is-active" do %>
          <span class="c-icon-watch"></span>
        <% end %>
      <% end %>
    <% else %>
      <%= form_tag(watches_path, remote: true) do %>
        <input type="hidden" name="post_id" value="<%= post.id %>">
        <%= button_tag type: "submit", value: "#{post.id}", class: "c-user-action c-icon-button u-watch-effect" do %>
          <span class="c-icon-watch"></span>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% when "staff" %>
  <%= link_to new_reply_path(post_id: post.id), disabled: post.replies.find_by(user_id: current_user.id), class: "c-user-action c-button__reply" do %>
    <span class="<%= post.replies.find_by(user_id: current_user.id) ? "c-icon-replied" : "c-icon-create" %>"></span>
  <% end %>

<% when "guest" %>
  <%= form_tag(watches_path) do %>
    <input type="hidden" name="post_id" value="<%= post.id %>">
    <%= button_tag type: "submit", class: "c-user-action c-icon-button" do %>
      <span class="c-icon-watch"></span>
    <% end %>
  <% end %>
<% end %>
