<li id="comment_<%= comment.id %>">
  <% case role(comment) %>
  <% when "mypost", "guest" %>

  <% when "customer", "staff" %>
    <div class="p-article-edit u-float__right">
      <%= link_to "報告", new_feedback_path(comment_id: comment.id), class: "u-link-color__midgray" %>
    </div>
  <% end %>

  <%= link_to user_path(comment.user), class: "c-user-name" do %>
    <%= image_tag(object_image(comment.user), size: "32x32") %>
    <h4>
      <%= comment.user.name %>
      <span><%= time_ago_in_words(comment.created_at) %></span>
    </h4>
  <% end %>

  <div class="c-comment-contents">
    <p><%= auto_link(comment.text, :all, target: "_blank") %></p>
  </div>
</li>
