<% unless current_user.try(:staff?) %>
  <%= link_to new_post_path, class: "c-button__message u-scrolled-animation u-paper-shadow-button" do %>
    <%= button_tag type: '', class: "c-user-name" do %>
      <h4>欲しいアイテムを投稿してみる</h4>
    <% end %>
  <% end %>
<% end %>
