<% posts.each do |post| %>
  <article class="p-article p-article-post u-paper-shadow-z1">
    <div class="p-article-owner">
      <%= link_to user_path(post.user), class: "c-user-name" do %>
        <%= image_tag(object_image(post.user), size: "32x32") %>
        <h4><%= post.user.name %>
          <% if current_user.try(:staff?) %>
            <span>
              <% if post.user.birthday.present? %>
                <i><%= user_age(post.user.birthday) %>歳</i>
              <% end %>
              <% if post.user.gender.present? %>
                <i><%= gender(post.user.gender) %></i>
              <% end %>
            </span>
          <% end %>
        </h4>
      <% end %>
      <%= render partial: "posts/button", locals: { post: post } %>
    </div>

    <div class="p-article-desc">
      <%= link_to post_path(post), data: { no_turbolink: true } do %>
        <%= delete_br(post.text) %>
      <% end %>
    </div>

    <div class="p-article-stats">
      <span class="c-icon-reply"><%= post.replies.count %>
      </span>
      <span class="c-icon-comment"><%= post.comments.count %>
      </span>
      <span class="c-icon-watch"><%= post.watches.count %>
      </span>
    </div>

    <div class="p-article-edit u-float__right">
      <%= link_to post_path(post), class: "u-link-color__blue", data: { no_turbolink: true } do %>
        詳細を見る
      <% end %>
    </div>

    <% if post.replies.present? %>
      <div class="p-article-img">
        <% post.replies.limit(3).recent.each do |reply| %>
          <%= link_to reply_path(reply), data: { no_turbolink: true } do %>
            <%= image_tag(object_image(reply)) %>
          <% end %>
        <% end %>
        <% reply = post.replies.recent[3] %>
        <% if reply && post.replies.count > 4 %>
          <%= link_to post_path(post), data: { no_turbolink: true } do %>
            <div style="position: relative;">
              <div style="background-color:#171616;opacity:0.6;width:100%;height:100%;position:absolute;top:0px;border-radius:8px">
              </div>
              <div style="width:100%;height:100%;position:absolute;top:0px;">
                <span style="position:absolute;right:10px;bottom:10px;color:white;z-index:9999;font-size:20px;font-weight:bold;">＋<%= post.replies.count - 4 %></span>
              </div>
              <%= image_tag(object_image(reply)) %>
            </div>
          <% end %>
        <% elsif reply %>
          <%= link_to reply_path(reply), data: { no_turbolink: true } do %>
            <%= image_tag(object_image(reply)) %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="p-article-comment" style="margin: 0px;padding-bottom:0px;padding-top:10px;border:none;clear:both;">      
      <ul id="comments" class="p-comment-items">
        <% post.comments.recent.limit(5).reverse.each do |comment| %>
          <p style="margin:0px;">
            <%= link_to comment.user.name, user_path(comment.user), class: "c-user-name", style: "font-weight:bold; margin-right: 5px;" %><span class="c-user-name"><%= comment.text %></span>
          </p>
        <% end %>
      </ul>
    </div>
  </article>
<% end %>
