<div class="p-header-tab">
  <%= link_to "人気Post", posts_path, class: "c-header-tab #{'is-current' if controller.action_name == 'index'}" %>
  <%= link_to "新着Post", latest_posts_path, class: "c-header-tab #{'is-current' if controller.action_name == 'latest'}" %>
</div>
