<section class="l-flex__center">
  <%= form_tag(post_path(@post), method: "patch", class: "p-create-form u-paper-shadow-z1") do %>
    <h3>Post を編集する</h3>
    <%= text_area_tag "text", @post.text, 
                      autofocus: true, 
                      rows: "5", 
                      onkeyup: "document.getElementById('textnum').value=100-this.value.length", 
                      placeholder: "例：予算10000円で、遊びに行く時に着るような、ジーンズと合わせる白シャツが欲しいです。", 
                      class: "c-form__textarea", 
                      id: "textarea" %>
    <div class="u-letter-counter">
      残り<input type="text" id="textnum" value="100" readonly>文字
    </div>
    <%= button_tag "更新する", type: 'submit', class: "c-button__submit c-button__post-update", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>
</section>
