$("#home-feed").append("<%= escape_javascript(render partial: 'posts/post', locals: { posts: @posts } ) %>");
$("#pagination").html("<%= escape_javascript(link_to_next_page @posts, '', remote: true) %>");
