<section class="l-flex__center <%= 'has-header-tab' if current_user %>">
  <div id="home-feed">
    <%= render partial: "posts/post", locals: { posts: @posts } %>
  </div>

  <%= form_tag posts_path, method: "get", id: "pagination" do %>
    <%= link_to_next_page @posts, "", remote: true %>
  <% end %>

  <%= render partial: "posts/create_button" %>
</section>

<% content_for(:head) do %>
  <meta name="description" content='STYLERは"つながり"でファッションを楽しくするサービスです。あなたの生活に新しい価値を提供します。'>
  
  <meta property="og:title" content='STYLER "つながり"でファッションを楽しくする'>
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://styler.link/">
  <meta property="og:image" content="<%= asset_path('styler_website.png') %>" />
  <meta property="og:site_name" content='STYLER "つながり"でファッションを楽しくする' />
<% end %>
