<section class="l-flex__center">
  <%= form_tag(posts_path, multipart: true, class: "p-create-form u-paper-shadow-z1") do %>
    <h3>Post を新規作成する</h3>
    <%= text_area_tag :text, "", 
                      autofocus: true, 
                      rows: "5", 
                      onkeyup: "document.getElementById('textnum').value=100-this.value.length", 
                      placeholder: "例：予算10000円で、遊びに行く時に着るような、ジーンズと合わせる白シャツが欲しいです。", 
                      required: true, 
                      class: "c-form__textarea c-form-post-edit", 
                      id: "textarea" %>
    <div class="u-letter-counter">
      残り<input type="text" id="textnum" value="100" readonly>文字
    </div>
    <%= button_tag "投稿する", type: 'submit', class: "c-button__submit c-button__post-new", data: { disable_with: "送信中…" } %>
    <%= button_tag "キャンセル", type: 'button', class: "c-button__cancel", onClick: "history.back()" %>
  <% end %>
</section>
