<section class="l-flex__center">
  <article class="p-article p-article-post-detail u-paper-shadow-z1">

    <div class="p-article-owner">
      <%= link_to user_path(@post.user), class: "c-user-name" do %>
        <%= image_tag(object_image(@post.user), size: "44x44") %>
        <h4>
          <%= @post.user.name %>
          <span>
            <% if current_user.try(:staff?) %>
              <% if @post.user.birthday.present? %>
                <i><%= user_age(@post.user.birthday) %>歳</i>
              <% end %>
              <% if @post.user.gender.present? %>
                <i><%= gender(@post.user.gender) %></i>
              <% end %>
            <% end %>
            <i><%= time_ago_in_words(@post.created_at) %></i>
          </span>
        </h4>
      <% end %>
      <%= render partial: "posts/button", locals: { post: @post } %>
    </div>

    <div class="p-article-desc">
      <p><%= delete_br(@post.text) %></p>
    </div>

    <div class="p-article-stats">
      <span class="c-icon-reply"><%= @post.replies.count %></span>
      <span class="c-icon-comment"><%= @post.comments.count %></span>
      <span class="c-icon-watch"><%= @post.watches.count %></span>
    </div>

    <%= render partial: "posts/action", locals: { post: @post } %>

    <% if @post.replies.present? %>
      <div class="p-article-img">
        <% @post.replies.recent.each do |reply| %>
          <div class="p-article-img__reply">
            <%= link_to reply_path(reply, anchor: "reply"), data: { no_turbolink: true } do %>
              <%= image_tag(object_image(reply)) %>
            <% end %>
            <div class="p-article-cta">
              <p>
                <%= reply.item_brand %><br />
                <%= number_to_currency(reply.item_price) %>（税込）
              </p>
              <div id="favorite_<%= reply.id %>">
                <%= render partial: "posts/favorite", locals: { reply: reply } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="p-article-comment">
      <h4 class="p-article-title">コメント (<%= @comments.count %>)</h4>
      <% case role(@post) %>
      <% when "guest" %>
      <% when "mypost", "customer", "staff" %>
        <%= form_tag(comments_path, remote: true, class: "c-form__comment-textarea") do %>
          <%= hidden_field_tag "post_id", @post.id %>
          <%= text_area_tag "text", "", rows: 1, placeholder: "今の気持ちをコメントしてみよう！", class: "c-form__textarea-message", required: true %>
          <%= button_tag "送信", style: 'margin-top:0px;', type: 'submit', class: "c-button__submit c-button__conversation-new", data: { disable_with: "送信" } %>
        <% end %>
      <% end %>
      
      <ul id="comments" class="p-comment-items">
        <% @comments.each do |comment| %>
          <%= render partial: "posts/comment", locals: { comment: comment } %>
        <% end %>
      </ul>
    </div>
  </article>
</section>

<% content_for :head do %>
  <meta name="description" content='<%= strip_tags(change_br(@post.text)).truncate(100) %>'>

  <meta property="og:title" content='<%= @post.user.name %> のPost | STYLER "つながり"でファッションを楽しくする'>
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= post_url(@post) %>">
  <meta property="og:image" content="<%= object_image(@post.user) %>">
<% end %>
