// border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius; }

// box-shadows
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow; }

// opacity
@mixin opacity($opacity){
  $IEValue: $opacity*100;
  opacity: $opacity;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue); }

// transition properties
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition; }

@mixin transition-duration($duration) {
  -webkit-transition-property: $duration;
     -moz-transition-property: $duration;
       -o-transition-property: $duration;
          transition-property: $duration; }

@mixin transition-timing-function($timing) {
  -webkit-transition-timing-function: $timing;
     -moz-transition-timing-function: $timing;
       -o-transition-timing-function: $timing;
          transition-timing-function: $timing; }

// transform properties 
@mixin transform($transforms) {
  -webkit-transform: $transforms;
     -moz-transform: $transforms;
      -ms-transform: $transforms;
       -o-transform: $transforms;
          transform: $transforms; }

@mixin rotate($deg) {
  @include transform(rotate($deg)); }

@mixin scale($x, $y) {
  @include transform(scale($x, $y)); }

@mixin scale3d($x, $y, $z) {
  @include transform(scale3d($x, $y, $z)); }

@mixin translate($x, $y) {
  @include transform(translate($x, $y)); }

@mixin translate3d($x, $y, $z) {
  @include transform(translate3d($x, $y, $z)); }

// flex properties
@mixin flex() {
  display: -webkit-flex;
   display: -ms-flexbox;
     display: -moz-flex;
      display: -moz-box;
       display: -o-flex;
          display: flex; }

@mixin flex-wrap() {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

@mixin flex-nowrap() {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

@mixin flex-basis($flex-basis) {
  -webkit-flex-basis: $flex-basis;
     -moz-flex-basis: $flex-basis;
          flex-basis: $flex-basis; }

@mixin align-items($align-items) {
  -webkit-align-items: $align-items;
          align-items: $align-items; }

@mixin order($order) {
  -webkit-order: $order;
          order: $order; }

// box-sizing
@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: $box-sizing;
     -moz-box-sizing: $box-sizing;
      -ms-box-sizing: $box-sizing;
       -o-box-sizing: $box-sizing;
          box-sizing: $box-sizing; }
