/*
  Color scheme 
*/
// basic
$white: #FFF;
$black: #000;
// styler
$styler-bg: #FAFAFA;
$styler-white: #FDFDFD;
$styler-black: #171616;
$styler-darkgray: #5C5C5C;
$styler-midgray: #9B9B9B;
$styler-lightgray: #D8D8D8;
$styler-smokewhite: #EEEEEE;
$styler-dimblue: #4A90E2;
$styler-blue: #27BEFF;
$styler-red: #F13D53;

/*
  Font 
*/
// font-family
$font-family: 'HiraKakuProN-W3', 'HelveticaNeue', sans-serif;
// font-size
$font-size-11: 11px;
$font-size-13: 13px;
$font-size-15: 15px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-54: 54px;
