<%= @email %>さん

STYLERにお申し込みいただきありがとうございます。
お申し込みを完了いただくには以下のURLをクリックいただき、ユーザー情報をご登録ください。

<%= confirmation_url(@resource, confirmation_token: @token) %>

<%= render partial: 'common/mailer_signature' %>
