<%= @email %>さん

パスワードの再登録のご依頼を承りました。

お手続きを完了いただくには以下のURLをクリックいただき、新しいパスワードをご登録ください。

<%= edit_password_url(@resource, reset_password_token: @token) %>

<%= render partial: 'common/mailer_signature' %>
