<%= @email %>さん

ご利用のアカウントにおいて間違ったパスワードを複数回入力したため、アカウントが一時的にロックされました。

アカウントのロックを解除する場合には、以下のURLをクリックして処理を完了させてください。

<%= unlock_url(@resource, unlock_token: @token) %>

<%= render partial: 'common/mailer_signature' %>
