<section class="l-flex__center">
  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h3 style="margin-top:0;">ユーザーリスト</h3>
    ユーザーを一覧表示してあります。条件を指定し、検索することで、ユーザーを絞り込んで表示する事ができます。
  </article>

  <%= form_tag admin_users_path, multipart: true, method: "get", class: "p-create-form u-paper-shadow-z1" do %>
    <h3 style="margin-top:0;">検索</h3>
    <ul>
      <li>
        <select name="status" id="status" class="c-form__textarea" style="height:40px;width:100%;">
          <option value="0" <%= "selected" if @status == "0" %>>全ユーザー</option>
          <option value="1" <%= "selected" if @status == "1" %>>カスタマー</option>
          <option value="2" <%= "selected" if @status == "2" %>>スタッフ</option>
        </select>
      </li>
      <li>
        <input type="text" name="id" id="id" value="<%= @id %>" placeholder="ID" class="c-form__textarea">
      </li>
      <li>
        <input type="text" name="name" id="name" value="<%= @name %>" placeholder="名前" class="c-form__textarea">
      </li>
      <li>
        <input type="text" name="email" id="email" value="<%= @email %>" placeholder="メールアドレス" class="c-form__textarea">
      </li>
    </ul>
    <%= button_tag "検索する", type: 'submit', class: "c-button__submit", style: "margin-top: 0px;", data: { disable_with: "送信中…" } %>
  <% end %>

  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h4 style="margin-top:0;"><%= @objects_count %>件</h4>
    <table class="p-dashboard-table user_list">
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name.presence || "-", user_path(user), class: "u-link-color__blue" %></td>
            <td><%= user.email %></td>
            <td><%= user.posts.count %></td>
            <td><%= user.replies.count %></td>
            <td><%= login_rate(user) %>%</td>
            <td><%= user.last_login_date.presence || "-" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </article>

</section>
