<section class="l-flex__center">

  <%= form_tag admin_users_path, multipart: true, class: "p-create-form u-paper-shadow-z1" do %>
    <h3 style="margin-top:0;">新規スタッフ作成</h3>
    <ul>
      <li>
        <label for="shop_id">ショップ：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <select name="shop_id" id="shop_id" class="c-form__textarea" style="height:40px;width:100%;">
          <option value="">選択してください</option>
          <% @shops.each do |shop| %>
            <option value=<%= shop.id %>><%= shop.name %></option>
          <% end %>
        </select>
      </li>
      <li>
        <label for="email1">メールアドレス①：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <input type="text" name="email1" id="email1" placeholder="例：tsubasa.koseki@styler.link" class="c-form__textarea">
      </li>
      <li>
        <label for="email2">メールアドレス②：</label>
        <input type="text" name="email2" id="email2" placeholder="例：tsubasa.koseki@styler.link" class="c-form__textarea">
      </li>
      <li>
        <label for="email3">メールアドレス③：</label>
        <input type="text" name="email3" id="email3" placeholder="例：tsubasa.koseki@styler.link" class="c-form__textarea">
      </li>
      <li>
        <label for="email3">メールアドレス④：</label>
        <input type="text" name="email4" id="email4" placeholder="例：tsubasa.koseki@styler.link" class="c-form__textarea">
      </li>
      <li>
        <label for="email3">メールアドレス⑤：</label>
        <input type="text" name="email5" id="email5" placeholder="例：tsubasa.koseki@styler.link" class="c-form__textarea">
      </li>
    </ul>
    <%= button_tag "登録する", type: 'submit', class: "c-button__submit", style: "margin-top: 0px;", data: { disable_with: "送信中…" } %>
  <% end %>

</section>
