<section class="l-flex__center">
  <article class="p-article p-article-dashboard u-paper-shadow-z1">
    <h3 style="margin-top:0;">プッシュ通知の作成</h3>
    各種類のプッシュ通知を作成することができます。全体送信の場合はメッセージを、それ以外の場合はユーザーIDとページIDとメッセージを指定して送信してください。
  </article>

  <%= form_tag admin_push_notifications_path, multipart: true, class: "p-create-form u-paper-shadow-z1" do %>
    <ul>
      <li>
        <label for="push_type">タイプ：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <select name="push_type" id="push_type" class="c-form__textarea" style="height:40px;width:100%;">
          <option value="">選択してください</option>
          <option value="all_users">all_users</option>
          <option value="all_customers">all_customers</option>
          <option value="all_staffs">all_staffs</option>
          <option value="comment">comment</option>
          <option value="event">event</option>
          <option value="feedback">feedback</option>
          <option value="interest">interest</option>
          <option value="like">like</option>
          <option value="message">message</option>
          <option value="reply">reply</option>
          <option value="watch">watch</option>
          <option value="event_start">event_start</option>
        </select>
      </li>
      <li>
        <label for="user_id">ユーザーID：</label>
        <input type="text" name="user_id" id="user_id" placeholder="複数IDは指定出来ません" class="c-form__textarea">
      </li>
      <li>
        <label for="page_id">ページID：</label>
        <input type="text" name="page_id" id="page_id" placeholder="ページIDを入力してください" class="c-form__textarea">
      </li>
      <li>
        <label for="message">メッセージ内容：<span class="c-icon-requirement"><i class="path1"></i><i class="path2"></i></span></label>
        <%= text_area_tag "message", "", 
                          rows: "3",  
                          class: "c-form__textarea",
                          id: "message" %>
      </li>
    </ul>
    <%= button_tag "作成する", type: 'submit', class: "c-button__submit", style: "margin-top: 0px;", data: { confirm: "このプッシュを送信しますか？", disable_with: "送信中…" } %>
  <% end %>

</section>
