<% if check_route('posts', 'index') || check_route('posts', 'latest') %>
  <%= render partial: 'posts/tab' %>
<% end %>

<% if check_route('notifications', 'index') || check_route('conversations', 'index') %>
  <%= render partial: 'notifications/tab' %>
<% end %>

<% if check_route('users', 'show') || check_route('users', 'watches') || check_route('users', 'likes') || check_route('users', 'events') || check_route('users', 'colleagues') %>
  <%= render partial: 'users/tab' %>
<% end %>

<% if check_route('shops', 'show') || check_route('shops', 'events') || check_route('shops', 'staffs') %>
  <%= render partial: 'shops/tab' %>
<% end %>

<% if params[:controller].include?('admin') %>
  <h1 class="c-logo">
    <%= link_to admin_tops_path, class: "c-header-login" do %>
      <span class="c-button__login">Topへ戻る</span>
    <% end %>
  </h1>
<% end %>
