<header class="l-header u-paper-shadow-z2">
  <div class="l-inset l-flex p-header">
    <div class="l-flex__left l-flex">
      <a href="javascript:void(0);" id="hamburger" class="c-hamburger<% unless mobile_agent? %> is-active<% end %>" title="メニュー">
        <span></span><span></span><span></span>
      </a>
      <h1 class="c-logo">
        <%= link_to root_path, title: "STYLER" do %>
          <span class="c-icon-logo"></span>
        <% end %>
      </h1>
    </div>
    <div class="l-flex__center u-text-align__center">
      <%= render partial: "common/header_tab" %>
    </div>
    <div class="l-flex__right u-text-align__right">
      <% if current_user %>
        <%= link_to notifications_path, class: "c-icon-button", title: "通知センター" do %>
          <% if current_user && @notice_flag %><span class="c-header-notification-bubble u-paper-shadow-notofication-dot"></span><% end %>
          <i class="c-icon-bell"></i>
        <% end %>
        <%= link_to image_tag(object_image(current_user), size: "28x28", alt: "current_user.name"), user_path(current_user), class: "c-header-avatar", title: "マイページ" %>
      <% else %>
        <%= link_to new_user_session_path, class: "c-header-login", title: "ログイン" do %>
          <span class="c-button__login">ログイン</span>
        <% end %>
      <% end %>
    </div>
  </div>
</header>
