<nav class="l-flex__left">
  <ul id="nav" class="p-nav u-paper-shadow-z1 u-slidedown-effect <%= "is-animated" unless mobile_agent? %>">
    <li class="<%= "is-current" if check_route('posts', 'index') || check_route('posts', 'latest') %>">
      <%= link_to "ホームフィード", root_path, title: "ホームフィード" %>
    </li>
    <li class="<%= "is-current" if check_route('shops', 'index') %>">
      <%= link_to "ショップリスト", shops_path, title: "ショップリスト" %>
    </li>
    <li class="<%= "is-current" if check_route('events', 'index') %>">
      <%= link_to "イベントリスト", events_path, title: "イベントリスト" %>
    </li>
    <% if current_user %>
      <li class="<%= "is-current" if check_route('users', 'setting') %>">
        <%= link_to "アカウント設定", setting_users_path, title: "アカウント設定" %>
      </li>
    <% end %>
    <div class="u-decoration-border"></div>
    <li class="<%= "is-current" if check_route('top', 'use_policy') %> <%= "for-guest" unless current_user %>">
      <%= link_to "利用規約", use_policy_tops_path, title: "利用規約" %>
    </li>
    <li class="<%= "is-current" if check_route('top', 'privacy_policy') %>">
      <%= link_to "プライバシーポリシー", privacy_policy_tops_path, title: "プライバシーポリシー" %>
    </li>
    <li class="<%= "is-current" if check_route('top', 'help') %>">
      <%= link_to "ヘルプ", help_tops_path, title: "ヘルプ" %>
    </li>
    <li class="<%= "is-current" if check_route('top', 'company') %>">
      <%= link_to "運営会社", company_tops_path, title: "運営会社" %>
    </li>
  </ul>
</nav>
