<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'STYLER "つながり"でファッションを楽しくする' %></title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta charset="utf-8">
    <meta name="keywords" content="STYLER, ファッション, つながり, スタイラー">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <%= yield(:head) %>

    <meta property="al:ios:url" content="linkstyler://applinks" />
    <meta property="al:ios:app_store_id" content="1046383620" />
    <meta property="al:ios:app_name" content="STYLER : ショップとつながるファッションSNS" />

    <meta name="apple-itunes-app" content="app-id=1046383620, affiliate-data=at=1000lnPc&ct=styler_smartbanner, app-argument=https://styler.link">

    <%= render partial: 'common/schema_org' %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <meta name="google-site-verification" content="8LUdG77sUiLx_dYvuNm135AWZEf0msFpc-Tzkk-jK_I" />

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '920509118061521');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=920509118061521&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>

  <body class="<%= @body_class %>">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key} c-flash-message") %>
    <% end %>
    
    <%= render partial: 'common/google_tag' %>
    
    <%= render partial: 'common/header' unless @body_class || @app_webview %>

    <div class="l-container">
      <div class="l-inset l-flex">
        <%= render partial: 'common/nav' unless @body_class || @app_webview %>
        <%= yield %>
      </div>
    <div>
  </body>
</html>
