<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <base target="_blank">
    <style>
      html {
        overflow: scroll;
      }
      body {
        background-color: #ffffff;
        padding: 0;
        color:#000;
        font: 16px 'HiraKakuProN-W3', 'HelveticaNeue', sans-serif;
        font-weight: 400;
        line-height: 1.5;
        margin: 0px;
        overflow: hidden;
        word-wrap: break-word;
      }
      td {
        padding: 0;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
